<%
  var title = 'Twin Ring Motegi | 森の教習所'
  SPRITE_SVG = '/assets/svg/sprite.svg';
%>

<% include('/partials/data/index') %>
<%- include('/partials/head', { title }) -%>

<% pageId = 'hellowoods-subpage' %>


<div class="subpage subpage-craft">
  <div class="mv mv-subpage mv-subpage-craft">
    <ul class="mv-list">
      <li class="mv-item">
        <div class="mv-image mv-image-subpage u-show-pc" style="background-image:url(<%= mix('/assets/images/craft/mv-img.png') %>);"></div>
        <div class="mv-image mv-image-subpage u-show-sp" style="background-image:url(<%= mix('/assets/images/craft/mv-img-sp.png') %>);"></div>
      </li>
    </ul>

    <h1 class="mv-heading mv-heading-subpage">
      <span class="mv-heading-text">
        森のクラフト体験
      </span>
    </h1>
  </div>

  <div class="subpage-inner">
    <div class="heading-wrap heading-main heading-main-tsubasa heading-main-craft">
      <h2 class="heading">
        <span class="heading-texts u-show-pc">
          <img src="<%= mix('/assets/images/craft/craft-color-title.png') %>" alt="Craft">
        </span>
        <span class="heading-texts u-show-sp">
          <img src="<%= mix('/assets/images/craft/craft-color-title-sp.png') %>" alt="Craft">
        </span>
      </h2>
    </div>

    <div class="subpage-banner subpage-banner-craft">
      <div class="subpage-banner-inner">
        <img class="u-show-pc" src="<%= mix('/assets/images/craft/subpage-banner.jpg') %>" alt="Craft">
        <img class="u-show-sp" src="<%= mix('/assets/images/craft/subpage-banner-sp.jpg') %>" alt="Craft">
      </div>
    </div>

    <h3 class="subpage-title">
      <span>アクティビティ情報</span>
    </h3>

    <p>自分の想いをカタチにして、いつの間にか夢中になれるクラフト時間。自然素材を自由に加工して、思い出のお土産を作ろう！</p>

    <table class="table table-craft">
      <tbody>
        <tr class="table-row">
          <th class="table-head">場所</th>
          <td class="table-col">
            ハローウッズ内森のクラフト工房
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">開催日</th>
          <td class="table-col">
            毎日開催
        </tr>

        <tr class="table-row">
          <th class="table-head">所要時間</th>
          <td class="table-col">約1時間</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">雨天の開催</th>
          <td class="table-col">雨天でも営業しております。</td>
        </tr>
        <tr class="table-row">
          <th class="table-head">対象者</th>
          <td class="table-col">全年齢対象<br>
            小学生以下は保護者の同伴（成人）が必要です</td>
        </tr>
        <tr class="table-row">
          <th class="table-head">料金</th>
          <td class="table-col">モビパークパスポート対象外<br>
            350円〜 (クラフトごとで異なります。)</td>
        </tr>
        <tr class="table-row">
          <th class="table-head">予約受付</th>
          <td class="table-col">営業終了60分前までにハローウッズインフォメーションにて受付ください。</td>
        </tr>
      </tbody>
    </table>
  </div>

  <section class="how-to-enjoy how-to-craft l-section">
    <div class="l-container how-to-craft-container">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-enjoy heading-wrap-craft',
          text: 'How to Play',
          alt: 'How to Play',
          subtextvg: 'craft-trial-title',
          altSubtext: '',
        }) %>
      </div>

      <div class="how-to-content">
        <div class="media media-craft u-clear">
          <div class="media-left">
            <div class="media-bg">
              <div class="media-thumb">
                <div style="background-image: url(<%= mix('/assets/images/craft/how-to-play-1.png') %>);"></div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <p class="step-word-no craft"><span class="step-word">STEP</span><span class="step-no">1</span></p>
            <h4 class="media-title craft-media-title"><span>まずは作るものを選ぼう！</span></h4>
            <p class="media-desc">
              たくさんのクラフトの中から作るものを選ぼう！季節限定のクラフトもあるよ！
            </p>
          </div>
        </div>
        <div class="media media-craft u-clear">
          <div class="media-left">
            <div class="media-bg">
              <div class="media-thumb">
                <div style="background-image: url(<%= mix('/assets/images/craft/how-to-play-2.png') %>);"></div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <p class="step-word-no craft"><span class="step-word">STEP</span><span class="step-no">2</span></p>
            <h4 class="media-title craft-media-title">
              <span>ノコギリを使って、木材を切っていこう！</span>
            </h4>
            <p class="media-desc">
              普段なかなか使うことのない道具を使って、木材を切っていこう！道具の使い方はスタッフが丁寧に教えるので、はじめてでも安心・安全！
            </p>
            <div class="note">
              <img class="note-flag" src="<%= mix('/assets/images/img-flag.png') %>" alt="">
              <img class="note-acorn" src="<%= mix('/assets/images/img-acorn.png') %>" alt="">
              <div class="note-text u-show-pc">
                難しいコースでもこわがらずに<br>
                チャレンジできタネ！
              </div>
              <div class="note-text u-show-sp">
                材料を切れたら…<br/>
                道具を上手に使えタネ！
              </div>
            </div>
          </div>
        </div>
        <div class="media media-craft u-clear">
          <div class="media-left">
            <div class="media-bg">
              <div class="media-thumb">
                <div style="background-image: url(<%= mix('/assets/images/craft/how-to-play-3.png') %>);"></div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <p class="step-word-no craft"><span class="step-word">STEP</span><span class="step-no">3</span></p>
            <h4 class="media-title craft-media-title">
              <span>切った木材を組み立てよう！</span>
            </h4>
            <p class="media-desc">
              切った木材をボンドでくっつけて、組み立てていこう！見本を参考に、慎重にチャレンジ！
            </p>
          </div>
        </div>
        <div class="media media-craft u-clear">
          <div class="media-left">
            <div class="media-bg">
              <div class="media-thumb">
                <div style="background-image: url(<%= mix('/assets/images/craft/how-to-play-4.png') %>);"></div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <p class="step-word-no craft"><span class="step-word">STEP</span><span class="step-no">4</span></p>
            <h4 class="media-title craft-media-title">
              <span>木の実をつけたり、色塗りをしたり。<br>
                オリジナリティ溢れる作品の完成！</span>
            </h4>
            <p class="media-desc">
              想像力を膨らませて、可愛くアレンジしてね！自分の想いを形にするって、とっても楽しい！
            </p>
            <div class="note">
              <img class="note-flag" src="<%= mix('/assets/images/img-flag.png') %>" alt="">
              <img class="note-acorn" src="<%= mix('/assets/images/img-acorn.png') %>" alt="">
              <div class="note-text">
                最後まであきらめずに<br>
                ゴールできタネ！
              </div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="forest forest-craft l-section">
    <div class="l-container">
      <div class="l-section-title u-show-pc">
        <%- include('/partials/heading', {
          modifier: 'heading-forest heading-forest-craft',
          text: 'Monthly Recommendation',
          alt: 'Monthly Recommendation',
          subtextvg: 'craft-recommendation-title',
          altSubtext: '',
        }) %>
      </div>
      <div class="l-section-title u-show-sp">
        <%- include('/partials/heading', {
          modifier: 'heading-forest heading-forest-craft',
          text: 'Monthly Recommend',
          alt: 'Monthly Recommendation',
          subtextvg: 'craft-recommendation-title',
          altSubtext: '',
        }) %>
      </div>
    </div>
    <div class="swiper-container slider js-slider">
      <ul class="swiper-wrapper top-slide">
        <% forest.forEach(item => { %>
        <li class="swiper-slide slider-item">
          <div class="top-slider-image">
            <img src="<%- item.src -%>" alt="<%- item.alt -%>">
          </div>
          <span class="top-slider-text">
            <%- item.desc -%>
          </span>
        </li>
        <% } ) %>
      </ul>
    </div>
  </section>

  <section class="l-menu l-container">
    <%- include('/partials/hellowoods/section-menu') -%>
  </section>

  <!-- recommendation module -->
  <div class="craft-recommendation">
  <%- include('/partials/recommendation') -%>
  </div>

  <!-- pick up module -->
  <div class="craft-pick-up">
    <%- include('/partials/pickup') -%>
  </div>
    <!-- END BOTTOM -->
</div>

<%- include('/partials/footer', {pageId} ) -%>
