<%
  var title = 'Twin Ring Motegi | 森の散策プログラム';
  pageId = 'program';
%>
<%- include('/partials/head', { pageId, title }) -%>

<main>
  <div class="subpage subpage-walk">
    <div class="mv mv-subpage mv-subpage-walk">
      <ul class="mv-list">
        <li class="mv-item">
          <div class="u-show-pc mv-image" style="background-image:url(<%= mix('/assets/images/hellowoods/walk-mv.jpg') %>);"></div>
          <div class="u-show-sp mv-image" style="background-image:url(<%= mix('/assets/images/hellowoods/walk-mv-sp.jpg') %>);"></div>
        </li>
      </ul>

      <h1 class="mv-heading mv-heading-subpage mv-heading-subpage-labo">
        <span class="mv-heading-text mv-heading-text-walk">
          森の散策プログラム
        </span>
      </h1>
    </div>

    <!-- walk anchor -->
    <div class="subpage-inner subpage-inner-anchor">
      <div class="l-section-title u-show-pc">
        <%- include('/partials/heading', {
          modifier: 'heading-main heading-main-subpage',
          subtext: mix('/assets/images/hellowoods/walk-color-title.png'),
          altSubtext: `美しい里山の森を散策して遊ぼう`
        }); -%>
      </div>

      <div class="l-section-title u-show-sp">
        <%- include('/partials/heading', {
          modifier: 'heading-main heading-main-subpage',
          subtext: mix('/assets/images/hellowoods/walk-color-title-sp.png'),
          altSubtext: `美しい里山の森を散策して遊ぼう`
        }); -%>
      </div>

      <div class="column-link column-link-labo l-column-link">
        <ul class="link-container js-anchor-link">
          <li class="link-item">
            <a href="#tekuteku">
              <img src="<%- mix('/assets/images/hellowoods/walk-link-tekuteku.png') -%>" alt="TEKUTEKU">
              <!-- <span>森のガイドウォーク TEKUTEKU</span> -->
              <span class="u-show-pc">森のファミリーウォーク</span>
              <span class="u-show-sp">森のファミリー<br/>ウォーク</span>
            </a>
          </li>
          <!-- <li class="link-item">
            <a href="#guide-walk">
              <img src="<%- mix('/assets/images/hellowoods/walk-link-guide.png') -%>" alt="どんぐりの森ガイドウォーク">
              <span class="u-show-pc">どんぐりの森ガイドウォーク</span>
              <span class="u-show-sp">どんぐりの森<br>ガイドウォーク</span>
            </a>
          </li> -->
          <li class="link-item">
            <a href="#free-walk">
              <img src="<%- mix('/assets/images/hellowoods/walk-link-free.png') -%>" alt="森のフリーウォーク">
              <span class="u-show-pc">森のフリーウォーク</span>
              <span class="u-show-sp">森のフリー<br>ウォーク</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- family walk -->
    <section class="subpage-section subpage-section-family-walk" id="tekuteku">
      <div class="subpage-inner subpage-inner-walk">
        <div class="l-section-title u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-walk heading-family-walk',
            text: 'Family Walk',
            alt: '',
            subtextvg: 'walk-tekuteku-title',
            altSubtextvg: `森のファミリーウォークTEKUTEKU
            `,
            altSubtext: ''
          }); -%>
        </div>

        <div class="l-section-title u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-walk heading-family-walk',
            text: 'Family Walk',
            alt: '',
            subtextvg: 'walk-tekuteku-title-sp',
            altSubtextvg: `森のファミリーウォークTEKUTEKU
            `,
            altSubtext: ''
          }); -%>
        </div>

        <div class="subpage-banner subpage-banner-walk">
          <div class="subpage-banner-inner">
            <img src="<%- mix('/assets/images/hellowoods/walk-banner-img.jpg') -%>" alt="森のファミリーウォークTEKUTEKU
            ">
          </div>
        </div>

        <h3 class="subpage-title">
          <span>アクティビティ情報</span>
        </h3>

        <p>
          家族みんなで森をめぐるドキドキ、ワクワクの新アトラクション！9個の生きものがランダムに描かれたビンゴカードにチャレンジし、「遊ぶ」・「寛ぐ」・「撮る」・「学ぶ」を体験しながら森を巡ろう！
        </p>

        <table class="table">
          <tbody>
            <tr class="table-row">
              <th class="table-head">場所</th>
              <td class="table-col">
                ハローウッズの森内
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">開催日</th>
              <td class="table-col">
                毎日開催
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">所要時間</th>
              <td class="table-col">
                約30分～ <br>
                ※ルートにより所要時間は異なります。
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">雨天の開催</th>
              <td class="table-col">
                営業いたします。
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">対象者</th>
              <td class="table-col">
                <!-- 3歳以上 <br> -->
                小学生以下は保護者（成人）の同伴が必要です。
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">料金</th>
              <td class="table-col">
                モビパークパスポート対象 <br>
  アトラクションチケット利用：500円
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">予約受付</th>
              <td class="table-col">
                入山終了60分前までにハローウッズインフォメーションにて受付ください。<br>
  ※入山終了時間は日没時間により異なります。
              </td>
            </tr>
          </tbody>
        </table>

        <div class="subpage-button subpage-button-family-walk">
          <a href="/hellowoods/tekuteku/">
            <ul class="banner-list">
              <li class="list-item js-banner-item is-active">
                <img src="<%= mix('/assets/images/hellowoods/walk-family-banner1.png'); %>" alt='TEKUTEKUバナー'
                >
              </li>
            </ul>
          </a>
        </div>
      </div>
    </section>

    <!-- guide walk -->
    <!-- <section class="subpage-section subpage-section-guide-walk" id="guide-walk">
      <div class="subpage-inner subpage-inner-walk">
        <div class="l-section-title u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-walk heading-guide-walk',
            text: 'Guide Walk',
            alt: '',
            subtextvg: 'walk-guide-title',
            altSubtextvg: 'Guide Walk',
            altSubtext: ''
          }); -%>
        </div>

        <div class="l-section-title u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-walk heading-guide-walk',
            text: 'Guide Walk',
            alt: '',
            subtextvg: 'walk-donguri-title-sp',
            altSubtextvg: 'Guide Walk',
            altSubtext: ''
          }); -%>
        </div>

        <div class="subpage-banner subpage-banner-walk">
          <div class="subpage-banner-inner">
            <img src="<%- mix('/assets/images/hellowoods/walk-guide.jpg') -%>" alt='どんぐりの森ガイドウォーク'>
          </div>
        </div>

        <h3 class="subpage-title">
          <span>アクティビティ情報</span>
        </h3>

        <p>
          見つけた生きものをじっくり観察したり、手にとって触ってみたり。森で出会う生きものたちと安心して触れあえるのは、キャストと歩くガイドウォークならでは！
        </p>

        <table class="table">
          <tbody>
            <tr class="table-row">
              <th class="table-head">場所</th>
              <td class="table-col">
                ハローウッズの森内
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">開催日</th>
              <td class="table-col">
                毎日開催
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">所要時間</th>
              <td class="table-col">
                <p>【10月】<br>
                土日祝<br>
                ロングコース（90分）<br>
                ①10：30～12：00<br>
                樹冠タワーガイドウォーク<br>
                ①11：00～12：00　②13：30～14：30　③15：00～16：00<br>
                ショートコース（60分）<br>
                ①13：00～14：00　②14：30～15：30</p>
                <p>
                【11月】<br>
                土日祝<br>
                ロングコース（90分）<br>
                ①10：30～12：00<br>
                樹冠タワーガイドウォーク（60分）<br>
                ①13：00～14：00<br>
                ショートコース（60分）<br>
                ①14：30～15：30</p>
                  <p>
                ※予告なく実施時間を変更することがございます。予めご了承ください。<br>
                ※お客様の年齢などに応じて、ご案内するルートを変更することがございます。</p>
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">雨天の開催</th>
              <td class="table-col">
                営業いたします
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">対象者</th>
              <td class="table-col">
                全年齢対象 <br>
                小学生以下は保護者（成人）の同伴が必要です。
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">料金</th>
              <td class="table-col">
                モビパークパスポート対象外 <br>
                ロングコース 510円／1名<br>
                ショートコース　400円／1名<br>
                樹冠タワーガイドウォーク 400円／1名<br>
                ※0～2歳は無料です。
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">予約受付</th>
              <td class="table-col">
                ハローウッズインフォメーションにて、各回の5分前までにお申し込みください。
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section> -->

    <!-- free walk -->
    <section class="subpage-section subpage-section-free-walk" id="free-walk">
      <div class="subpage-inner subpage-inner-walk">
        <div class="l-section-title u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-walk heading-free-walk',
            text: 'Free Walk',
            alt: '',
            subtextvg: 'walk-free-title',
            altSubtextvg: 'Free Walk',
            altSubtext: ''
          }); -%>
        </div>

        <div class="l-section-title u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-walk heading-free-walk',
            text: 'Free Walk',
            alt: '',
            subtextvg: 'walk-free-title-sp',
            altSubtextvg: 'Free Walk',
            altSubtext: ''
          }); -%>
        </div>

        <div class="subpage-banner subpage-banner-walk">
          <div class="subpage-banner-inner">
            <img src="<%- mix('/assets/images/hellowoods/walk-free.jpg') -%>" alt='森のフリーウォーク'>
          </div>
        </div>

        <h3 class="subpage-title">
          <span>アクティビティ情報</span>
        </h3>

        <p>
          <!-- どんぐりの木の葉が青々と茂り、木漏れ日がキラキラ輝く初夏の里山。そんな森の中を、のんびり楽しく、自然を味わいながらお散歩してみませんか。元気いっぱい遊べる場所も盛りだくさんです。 -->
          季節ごとに変化する里山の森を自由に散策するのが、森のフリーウォークならではの楽しみ方。生きものとの出会いや景色を楽しめるテラスでゆったりと森林浴を楽しもう。
        </p>

        <table class="table">
          <tbody>
            <tr class="table-row">
              <th class="table-head">場所</th>
              <td class="table-col">
                ハローウッズの森内
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">開催日</th>
              <td class="table-col">
                毎日開催
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">所要時間</th>
              <td class="table-col">
                自由に森の散策をお楽しみいただけます。
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">雨天の開催</th>
              <td class="table-col">
                営業いたします。
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">対象者</th>
              <td class="table-col">
                全年齢対象 <br>
                小学生以下は保護者（成人）の同伴が必要です。
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">料金</th>
              <td class="table-col">
                無料
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">予約受付</th>
              <td class="table-col">
                予約や受付は必要ございません。
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <!-- walk caution -->
    <!-- <div class="subpage-section subpage-section-collapse">
      <div class="subpage-collapse-heading js-collapse-button">ハローウッズでは、希少な動植物の保全・保護に向けた取り組みを行っています。その一環として、以下のルールを設定させていただきますので、ご了承ください。</div>
      <div class="subpage-collapse-description">
        <div class="subpage-collapse-content">
          <ol>
            <li><span>①水生昆虫など水中に生息する生きものに関して、持ち帰りはご遠慮ください。<br>
            ただし、その場での観察目的の一時採取は可能です。</span></li>
            <li><span>②その他の生きものに関して、小学生以下のお子さま1名につき2匹まで持ち帰り可能です。<br>
            ただし、タガメ、ゲンゴロウ、オオムラサキ、ハッチョウトンボなど、希少種についてはお持ち帰りできません。</span></li>
            <li><span>③外部からの生きものの持ち込みはご遠慮ください。</span></li>
            <li><span>④カブトムシ・クワガタなどの採取の際は、メスはできるだけ逃がすようお願いします。<br>
            個体数維持のため、ご協力をお願いいたします。</span></li>
          </ol>
        </div>
      </div>
    </div> -->

    <div class="subpage-banner subpage-banner-precaution">
      <div class="subpage-banner-inner">
        <div class="subpage-inner">
          <div class="subpage-inner-precaution">
            <h4 class="js-collapse-button">
              <span>ハローウッズでは、希少な動植物の保全・保護に向けた取り組みを行っています。その一環として、以下のルールを設定させていただきますので、ご了承ください。</span>
            </h4>

            <div class="collapse-content-wrap">
              <ol>
                <li><span>①水生昆虫など水中に生息する生きものに関して、持ち帰りはご遠慮ください。<br>
                ただし、その場での観察目的の一時採取は可能です。</span></li>
                <li><span>②その他の生きものに関して、小学生以下のお子さま1名につき2匹まで持ち帰り可能です。<br>
                ただし、タガメ、ゲンゴロウ、オオムラサキ、ハッチョウトンボなど、希少種についてはお持ち帰りできません。</span></li>
                <li><span>③外部からの生きものの持ち込みはご遠慮ください。</span></li>
                <li><span>④カブトムシ・クワガタなどの採取の際は、メスはできるだけ逃がすようお願いします。<br>
                個体数維持のため、ご協力をお願いいたします。</span></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- recommendation module -->
    <%- include('/partials/recommendation') -%>

    <!-- pick up module -->
    <%- include('/partials/pickup') -%>

    <!-- END BOTTOM -->
  </div>
</main>

<!-- BREADCRUMBS -->
<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsWalk
}) -%>

<%- include('/partials/footer', { pageId }) -%>
