<%
  var title = 'Twin Ring Motegi | 森の教習所'
  SPRITE_SVG = '/assets/svg/sprite.svg';
  pageId = 'program';
%>
<% include('/partials/data/index') %>
<%- include('/partials/head', { pageId, title }) -%>

<div class="lig-content">
  <div class="subpage">
    <div class="mv mv-subpage">
      <ul class="mv-list">
        <li class="mv-item">
          <div class="mv-image mv-image-subpage u-show-pc"
            style="background-image:url(<%= mix('/assets/images/program/mv.jpg') %>);"></div>
          <div class="mv-image mv-image-subpage u-show-sp"
            style="background-image:url(<%= mix('/assets/images/program/mv-sp.jpg') %>);"></div>
        </li>
      </ul>

      <h1 class="mv-heading mv-heading-subpage">
        <span class="mv-heading-text">
          森の体験プログラム（予約制）
        </span>
      </h1>
    </div>

    <main>
      <div class="subpage-inner-wrap">
        <div class="">
          <div class="heading-wrap heading-main heading-main-pit">
            <h2 class="heading heading-pit">
              <span class="u-show-pc">
                <%- include('/partials/svg', {
                  'name': 'pit-top-title'
                }) %>
              </span>
              <span class="u-show-sp">
                <%- include('/partials/svg', {
                  'name': 'main-title-sp'
                }) %>
              </span>
            </h2>]
            <p class="heading-sub">
              ハローウッズでは、より多くの方々に自然に対する興味を持っていただきたい、<br>
              人と自然との共生を考えるきっかけとしたいという願いから、</br>
              四季を通して楽しんでいただける様々な体験プログラムを用意しています。
            </p>
          </div>
        </div>
      </div>

      <section class="subpage-section subpage-section-carbike" id="">
        <%- include('/partials/program-list', {
          dataProgramList : getData().data.programList
        }) -%>
      </section>

      <div class="l-section banner-image program">
        <div class="subpage-section-carbike">
          <a href="/hellowoods/blog/">
            <div class="banner-image-wrap program">
                <p class="banner-image-text">
                  <span class="heading-text banner-image-heading">Adventure Program</span>
                  <span class="banner-image-subtext program">学校団体・子ども会の方向け森の冒険教育プログラム<br>
                    「もてぎスキルアップアドベンチャー」 </span>
                </p>
            </div>
          </a>
        </div>
      </div>


      <!-- recommendation module -->
      <%- include('/partials/recommendation') -%>

      <!-- pick up module -->
      <%- include('/partials/pickup') -%>
    </main>
    <!-- END BOTTOM -->
  </div>
</div>

<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsCraft
}) -%>
<%- include('/partials/footer', { pageId } ) -%>