<%
  var title = 'Twin Ring Motegi | 森の教習所'
  SPRITE_SVG = '/assets/svg/sprite.svg';
  pageId = 'program';
%>
<% include('/partials/data/index') %>
<%- include('/partials/head', { pageId, title }) -%>

<div class="lig-content">
  <div class="subpage">
    <div class="mv mv-subpage">
      <ul class="mv-list">
        <li class="mv-item">
          <div class="mv-image mv-image-subpage u-show-pc"
            style="background-image:url(<%= mix('/assets/images/program/mv.jpg') %>);"></div>
          <div class="mv-image mv-image-subpage u-show-sp"
            style="background-image:url(<%= mix('/assets/images/program/mv-sp.jpg') %>);"></div>
        </li>
      </ul>

      <!-- <h1 class="mv-heading mv-heading-subpage u-show-sp">
        <span class="mv-heading-text">
          予約制森の体験プログラム
        </span>
      </h1> -->

      <div class="l-container mv-container">
        <div class="mv-heading mv-heading-default u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'mv-forest-experience-program',
            heading_level: 1,
            text: 'Forest Experience Program',
            subtextvg: 'forest-program-top-title',
            altSubtextvg: '予約制森の体験プログラム'
          }) %>
        </div>

        <div class="mv-heading hellowoods-mv-heading forest-program-mv-heading u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods mv-forest-experience-program',
            heading_level: 1,
            text: 'Forest Experience Program',
            subtextvg: 'forest-program-top-title',
            // subtextvg: 'forest-program-top-title2-sp',
            altSubtextvg: '予約制森の体験プログラム'
          }) %>
        </div>
      </div>
    </div>

    <main>
      <div class="l-container subpage-inner-wrap">
        <div class="">
          <div class="heading-wrap heading-main heading-main-pit heading-main-program">
            <h2 class="heading heading-program">
              <span class="">
                <img src="<%= mix('/assets/images/program/program-top-title-pc.png') %>" alt="予約制森の体験プログラム">
              </span>
            </h2>
            <p class="heading-sub u-show-pc heading-sub-program">
              森を知り尽くしたハローウッズのキャストが、みなさんを大自然の中にエスコート。<br/>
              四季折々のプログラムは、都会では決して味わうことのできない驚きと発見の連続です。
            </p>
            <p class="heading-sub u-show-sp heading-sub-program-sp">
              森を知り尽くしたハローウッズのキャストが、<br/>
              みなさんを大自然の中にエスコート。<br/>
              四季折々のプログラムは、<br/>
              都会では決して味わうことのできない<br/>
              驚きと発見の連続です。
            </p>
            
          </div>
        </div>
      </div>

      <section class="subpage-section subpage-section-carbike" id="">
        <%- include('/partials/program-list', {
          dataProgramList : getData().data.programList
        }) -%>
      </section>

      <div class=" block-image block-image-hellowoods block-image-hellowoods-program">
        <div class="l-container">
          <ul class="block-image-list block-image-list-hellowoods">
            <% forest_programGallery.forEach( block => { %>
            <li class="block-image-item block-image-item-hellowoods block-image-item-hellowoods-program image-border <%- block.modifier %>">
              <a href="<%- block.url %>" class="block-image-item-link">
                <div class="block-image-inner block-image-inner-program" style="background-image: url(<%- block.bg %>);">
                  <!-- <div class="block-image-text-wrap">
                    <p class="block-image-text block-image-text-hellowoods">
                      <span class="heading-text"><%- block.title %></span>
                      <span class="block-image-subtext"><%- block.subtext %></span>
                    </p>
                  </div> -->
                </div>
              </a>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>


      <!-- recommendation module -->
      <%- include('/partials/recommendation') -%>

      <!-- pick up module -->
      <%- include('/partials/pickup') -%>
    </main>
    <!-- END BOTTOM -->
  </div>
</div>

<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsForestProgram
}) -%>
<%- include('/partials/footer', { pageId } ) -%>