<%
  var title = 'Twin Ring Motegi'
  pageId = 'index'
%>
<% include('/partials/data/index') %>
<%- include('/partials/head', { title, topHeading: true }) -%>

<div class="mv mv-top">
  <div class="mv-buttons">
    <ul class="mv-buttons-list">
      <li class="mv-buttons-item">
        <a class="mv-buttons-link" href="#">
          <span>料金<br>・チケット</span>
        </a>
      </li>
      <li class="mv-buttons-item">
        <a class="mv-buttons-link" href="#">
          <span>アクセス</span>
        </a>
      </li>
    </ul>
  </div>
  <ul class="mv-list mv-list-top js-mv-list">
    <li class="mv-item js-mv-item js-mv-item-first">
      <div class="mv-image" style="background-image:url(<%= mix('/assets/images/mv-img1.png') %>);"></div>
    </li>
    <li class="mv-item js-mv-item">
      <div class="mv-image" style="background-image:url(<%= mix('/assets/images/mv-img2.png') %>);"></div>
    </li>
    <li class="mv-item js-mv-item">
      <div class="mv-image" style="background-image:url(<%= mix('/assets/images/mv-img3.png') %>);"></div>
    </li>
    <li class="mv-item js-mv-item">
      <div class="mv-image" style="background-image:url(<%= mix('/assets/images/mv-img4.png') %>);"></div>
    </li>
  </ul>

  <div class="l-container mv-container">
    <h2 class="mv-heading">
      <span class="mv-heading-text">
        Twin ring Motegi
      </span>
      <div class="u-show-pc">
        <span class="mv-heading-subtext">
          <img src="<%= mix('/assets/images/mv-heading.svg') %>" alt="家族にちょうどいい冒険を">
        </span>
      </div>
      <div class="u-show-sp">
        <span class="mv-heading-subtext">
          <img src="<%= mix('/assets/images/mv-heading-sp.png') %>" alt="家族にちょうどいい冒険を">
        </span>
      </div>
    </h2>

    <div class="mv-today mv-today-top">
      <div class="mv-today-inner">
        <img class="mv-today-text" src="<%= mix('/assets/images/mv-today-text.png') %>" alt="">
        <span class="mv-today-time">10:00-17:00</span>
        <span class="mv-today-degree">
          <i class="mv-today-degree-icon">
            <svg>
              <title>Sun</title>
              <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-sun') %>"></use>
            </svg>
          </i>
          <span class="mv-today-celcius-value">28</span>
          <span class="mv-today-celcius">&#176;c</span>
        </span>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="l-feature">
    <section class="feature">
      <div class="swiper-container slider js-slider-bottom feature-container">
        <ul class="swiper-wrapper slider-wrapper">
          <%
            getData().data.featureContent.forEach( featureItem => {
          %>
          <li class="swiper-slide slider-item">
            <%- include('/partials/article', {
              category: featureItem.category,
              image: featureItem.image,
              heading: featureItem.heading,
              date: featureItem.date,
              link: featureItem.link
            }) %>
          </li>
          <% }) %>
        </ul>
      </div>
    </section>
  </div>

  <div class="l-parkmap">
    <div class="parkmap">
      <div class="l-container parkmap-container">

        <div class="u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'heading-wrap-parkmap',
            text: 'Park Map',
            subtextvg: 'parkmap-subtext',
            altSubtext: '',
          }) %>
        </div>

        <div class="u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-wrap-parkmap',
            text: 'Park Map',
            subtextvg: 'parkmap-subtext-sp',
            altSubtext: '',
          }) %>
        </div>


        <div class="parkmap-inner">
          <div class="parkmap-image">
            <ul class="parkmap-image-list">
              <%
                getData().data.parkmapButtons.forEach( button => {
              %>
              <li class="parkmap-image-item js-parkmap-number">
                <a href="<%- button.link %>"></a>
              </li>
              <% }) %>
            </ul>
          </div>
          <div class="parkmap-right">
            <ul class="parkmap-list">
              <%
                getData().data.parkmapButtons.forEach( button => {
              %>
              <li class="parkmap-item js-parkmap-button">
                <a class="parkmap-link" href="<%- button.link %>"><%- button.text %>
                  <i class="parkmap-link-icon">
                    <%- include('/partials/svg', {
                      'name': 'arrow'
                    }) %>
                  </i>
                </a>
              </li>
              <% }) %>
              <li class="parkmap-item parkmap-item-last">
                <%- include('/partials/button', {
                  modifier: 'button-parkmap',
                  text: 'エリア・施設一覧を見る',
                  link: '#'
                }) %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="l-section">
    <%- include('/partials/top/section-activity') -%>
  </section>

  <section class="l-section design-circle">
    <%- include('/partials/top/section-mobi-park') -%>
  </section>

  <section class="l-section design-mount">
    <%- include('/partials/top/section-motosports') -%>

    <div class="design-petal"></div>
  </section>

  <section class="l-section design-petals">
    <%- include('/partials/top/section-twinring') -%>
  </section>

  <section class="l-section l-section-hotel-twin">
    <%- include('/partials/top/section-hotel-twin') -%>
  </section>

  <section class="l-how-to">
    <div class="how-to">
      <%- include('/partials/heading', {
        modifier: 'heading-wrap-how-to heading-wrap-center',
        text: 'How to Enjoy',
        subtextvg: 'how-to-subtext',
        altSubtext: '',
      }) %>

      <div class="swiper-container slider js-slider-bottom">
        <ul class="swiper-wrapper slider-wrapper">
          <%
            getData().data.howToContent.forEach( howToItem => {
          %>
          <li class="swiper-slide slider-item">
            <%- include('/partials/article-no-design', {
              image: howToItem.image,
              heading: howToItem.heading,
              buttonText: howToItem.buttonText,
              buttonLink: howToItem.buttonLink,
            }) %>
          </li>
          <% }) %>
        </ul>
      </div>

      <div class="l-container how-to-container"></div>
    </div>
  </section>

  <section class="information">
    <div class="l-container information-container">
      <%- include('/partials/heading', {
        modifier: '',
        text: 'Information',
        subtextvg: 'information-subtext',
        altSubtext: '',
      }) %>

      <%- include('/partials/post', {
        postContent: getData().data.informationContent,
      }) -%>

      <div class="information-button">
        <%- include('/partials/button', {
          modifier: '',
          text: 'もっと見る',
          link: '#'
        }) %>
      </div>
    </div>
  </section>
</main>

<%- include('/partials/footer', {
  pageId: 'index'
}) -%>
