<%
  title = 'Twin Ring Motegi'

  featureContent = [
    {
      'category': 'EVENT',
      'image': mix('/assets/images/top/feature/img1.jpg'),
      'heading': '「わくわくの森 春フェスタ」3/20～開催',
      'date': '2020.3.20～2020.4.5',
      'link': '#',
    },
    {
      'category': 'NEWS',
      'image': mix('/assets/images/top/feature/img2.jpg'),
      'heading': '家族みんなで団らん「スーペリアファミリールーム」新登場',
      'date': '2020.3.13~',
      'link': '#',
    },
    {
      'category': 'NEWS',
      'image': mix('/assets/images/top/feature/img3.jpg'),
      'heading': '体験！×発見！×絶景！「森のファミリーウォーク TEKUTEKU」新登場',
      'date': '2020.3.7 オープン',
      'link': '#',
    }
  ]

  parkmapButtons = [
    {
      'texts': 'ハローウッズ',
      'link': '#',
    },
    {
      'texts': 'モビパーク',
      'link': '#',
    },
    {
      'texts': '森と星空のキャンプヴィレッジ',
      'link': '#',
    },
    {
      'texts': 'ホテルツインリンク',
      'link': '#',
    },
    {
      'texts': 'モータースポーツ',
      'link': '#',
    },
    {
      'texts': 'ホンダコレクションホール',
      'link': '#',
    },
    {
      'texts': '安全運転スクール',
      'link': '#',
    },
  ]


  howToContent = [
    {
      'image': mix('/assets/images/top/how-to/img1.jpg'),
      'heading': '0歳〜6歳のお子様とのお楽しみ方',
      'buttonText': 'モデルコース',
      'buttonLink': '#',
    },
    {
      'image': mix('/assets/images/top/how-to/img2.jpg'),
      'heading': '小学校低学年のお子様とのお楽しみ方',
      'buttonText': 'モデルコース',
      'buttonLink': '#',
    },
    {
      'image': mix('/assets/images/top/how-to/img3.jpg'),
      'heading': '小学校高学年のお子様とのお楽しみ方',
      'buttonText': 'モデルコース',
      'buttonLink': '#',
    },
  ]

  informationContent = [
    content1 = [
      {
        'texts': '9月の「森あそび」・「ものづくり」プログラムを更新',
        'category': 'アトラクション・アクティビティ',
        'time': '2019.01.10',
      },
      {
        'texts': '夏のおすすめグッズ情報を更新しました',
        'category': 'グッズ＆ショップ',
        'time': '2019.01.10',
      },
      {
        'texts': '夏季期間（7/1〜8/31）の営業時間について',
        'category': 'お知らせ',
        'time': '2019.01.10',
      },
      {
        'texts': 'モトレーサー タイムアタック選手権2019開催！',
        'category': 'モータースポーツ',
        'time': '2019.01.10',
      }
    ],
    content2 = [
      {
        'texts': '新アトラクション「巨大ネットの森 SUMIKA」オープン！',
        'category': 'アトラクション・アクティビティ',
        'time': '2019.01.10',
      },
      {
        'texts': 'HELLO WOODSのフォトギャラリー更新',
        'category': 'お知らせ',
        'time': '2019.01.10',
      },
      {
        'texts': 'ディナーセットメニューがリニューアル！',
        'category': 'レストラン',
        'time': '2019.01.10',
      },
      {
        'texts': 'ツインリンクもてぎ 花火の祭典“冬”のご予約開始',
        'category': 'ホテル・キャンプ',
        'time': '2019.01.10',
      }
    ]
  ]

%>

<%- include('/partials/head', { title }) -%>

<div class="mv">
  <div class="mv-buttons">
    <ul class="mv-buttons-list">
      <li class="mv-buttons-item">
        <a class="mv-buttons-link" href="#">
          <span>料金<br>・チケット</span>
        </a>
      </li>
      <li class="mv-buttons-item">
        <a class="mv-buttons-link" href="#">
          <span>アクセス</span>
        </a>
      </li>
    </ul>
  </div>
  <ul class="mv-list">
    <li class="mv-item">
      <div class="mv-image" style="background-image:url(<%= mix('/assets/images/mv-img.png') %>);"></div>
    </li>
  </ul>

  <div class="l-container mv-container">
    <h2 class="mv-heading">
      <span class="mv-heading-texts">
        <img src="<%= mix('/assets/images/mv-twinring-motegi.png') %>" alt="Twinring Motegi">
      </span>
      <span class="mv-heading-subtexts">
        <img src="<%= mix('/assets/images/mv-heading.svg') %>" alt="家族にちょうどいい冒険を">
      </span>
    </h2>

    <div class="mv-today">
      <div class="mv-today-inner">
        <img class="mv-today-texts" src="<%= mix('/assets/images/mv-today-texts.png') %>" alt="">
        <span class="mv-today-time">10:00-17:00</span>
        <span class="mv-today-degree">
          <i class="mv-today-degree-icon">
            <svg>
              <title>Sun</title>
              <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-sun') %>"></use>
            </svg>
          </i>
          <span class="mv-today-celcius-value">28</span>
          <span class="mv-today-celcius">&#176;c</span>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="l-feature">
  <section class="feature">
    <div class="l-container">
      <ul class="feature-list">
        <%
          featureContent.forEach(item => {
        %>
        <li class="feature-item">
          <%- include('/partials/article', {
            'category': item.category,
            'image': item.image,
            'heading': item.heading,
            'date': item.date,
            'link': item.link
          }) %>
        </li>
        <% }) %>
      </ul>
    </div>
  </section>
</div>

<div class="l-parkmap">
  <section class="parkmap">
    <div class="l-container parkmap-container">
      <%- include('/partials/heading', {
        'modifier': 'heading-wrap-parkmap',
        'texts': mix('/assets/images/top/parkmap/parkmap.png'),
        'alt': 'Park Map',
        'subtextsSvg': 'parkmap-subtexts',
        'altSubtexts': '',
      }) %>


      <div class="parkmap-inner">
        <div class="parkmap-image">
          <ul class="parkmap-image-list">
            <%
              for(x=1; x <= 7; x++) {
            %>
            <li class="parkmap-image-item"></li>
            <% } %>
          </ul>
        </div>
        <div class="parkmap-right">
          <ul class="parkmap-list">
            <%
              parkmapButtons.forEach( button => {
            %>
            <li class="parkmap-item">
              <a class="parkmap-link" href="<%- button.link %>"><%- button.texts %>
                <i class="parkmap-link-icon">
                  <%- include('/partials/svg', {
                    'name': 'arrow'
                  }) %>
                </i>
              </a>
            </li>
            <% }) %>
            <li class="parkmap-item parkmap-item-last">
              <%- include('/partials/button', {
                'modifier': 'button-parkmap',
                'texts': 'エリア・施設一覧を見る',
                'link': '#'
              }) %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="l-section">
  <%- include('/partials/top/section-activity') -%>
</div>

<div class="l-section">
  <%- include('/partials/top/section-mobi-park') -%>
</div>

<div class="l-section">
  <%- include('/partials/top/section-motosports') -%>
</div>

<div class="l-section">
  <%- include('/partials/top/section-twinring') -%>
</div>

<div class="l-section">
  <%- include('/partials/top/section-hotel-twin') -%>
</div>

<div class="l-how-to l-container">
  <section class="how-to">
    <%- include('/partials/heading', {
      'modifier': 'heading-wrap-how-to heading-wrap-center',
      'texts': mix('/assets/images/top/how-to/how-to-enjoy.png'),
      'alt': 'How to Enjoy',
      'subtextsSvg': 'how-to-subtexts',
      'altSubtexts': '',
    }) %>

    <ul class="feature-list feature-list-no-design">
      <%
        howToContent.forEach(item => {
      %>
      <li class="feature-item">
        <%- include('/partials/article-no-design', {
          'image': item.image,
          'heading': item.heading,
          'buttonText': item.buttonText,
          'buttonLink': item.buttonLink,
        }) %>
      </li>
      <% }) %>
    </ul>
  </section>
</div>

<section class="information">
  <div class="l-container information-container">
    <%- include('/partials/heading', {
      'modifier': 'heading-wrap-information',
      'texts': mix('/assets/images/top/information/information.png'),
      'alt': 'Information',
      'subtextsSvg': 'information-subtexts',
      'altSubtexts': '',
    }) %>

    <%- include('/partials/post', {
      'postContent': informationContent,
    }) -%>

    <div class="information-button">
      <%- include('/partials/button', {
        'modifier': '',
        'texts': 'もっと見る',
        'link': '#'
      }) %>
    </div>
  </div>
</section>

<%- include('/partials/footer') -%>
