<%
var title = 'Twin Ring Motegi';
SPRITE_SVG = '/assets/svg/sprite.svg';
pageId = 'carAndBike';
%>
<% include('/partials/data/index') %>
<%- include('/partials/head', { pageId, title }) -%>

<main class="l-main">
  <div class="subpage">
    <div class="mv mv-subpage mv-car-and-bike">
      <ul class="mv-list">
        <li class="mv-item">
          <div class="u-show-pc mv-image" style="background-image:url(<%= mix('/assets/images/car-and-bike/mv-img.jpg') %>);"></div>
          <div class="u-show-sp mv-image" style="background-image:url(<%= mix('/assets/images/car-and-bike/mv-img-sp.png') %>);"></div>
        </li>
      </ul>

      <div class="mv-container">
        <h1 class="mv-heading">
          <span class="mv-heading-texts">
            <svg>
              <title>Car and Bike</title>
              <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-car-and-bike-mv-text') %>"></use>
            </svg>
          </span>
          <span class="mv-heading-subtexts u-show-pc">
            <svg>
              <title>Car and Bike</title>
              <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-carbike-main-title') %>"></use>
            </svg>


          </span>

          <span class="mv-heading-subtexts u-show-sp">
            <span class="u-title-hidden">Car bike</span>
            <svg>
              <title>Car and Bike</title>
              <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-carbike-main-title-sp') %>"></use>
            </svg>
          </span>
        </h1>

        <div class="u-show-pc mv-today mv-logo">
          <div class="mv-l-inner">
          </div>
        </div>
      </div>
    </div>

    <section class="subpage-section subpage-section-howto">
      <div class="subpage-section-howto-inner">
        <div class="heading-wrap heading-main heading-main-carbike">
          <h2 class="heading">
            <span class="u-title-hidden">Car and bike</span>
            <span class="heading-texts">
              <img class="u-show-pc" src="<%= mix('/assets/images/car-and-bike/carbike-color-title.png') %>" alt="ひとりで挑戦、親子で挑戦してステップアップ">
              <img class="u-show-sp" src="<%= mix('/assets/images/car-and-bike/carbike-color-title-sp.png') %>" alt="ひとりで挑戦、親子で挑戦してステップアップ">
            </span>
          </h2>
        </div>

        <div class="how-to-content">
          <div class="media u-clear">
            <div class="media-left">
              <div class="media-bg">
                <div class="media-thumb">
                  <div style="background-image: url(<%= mix('/assets/images/car-and-bike/attraction-1.jpg') %>);"></div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <h4 class="media-title">
                <span>３歳からひとりで運転にチャレンジ</span>
              </h4>
              <p class="media-desc">
                モビパークには３歳のお子さまがひとりで自由に運転できるクルマとバイクのアトラクションがあります。はじめての運転ならではの「できた」の瞬間を親子で体感することができます。
              </p>
              <a class="js-scroll dekitane-link-banner" href="#">
                <img src="<%= mix('/assets/images/car-and-bike/dekitane-banner-image.jpg') %>" alt="Dekitane">
              </a>
              

            </div>
          </div>
          <div class="media u-clear">
            <div class="media-left">
              <div class="media-bg">
                <div class="media-thumb">
                  <div style="background-image: url(<%= mix('/assets/images/car-and-bike/attraction-2.jpg') %>);"></div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <h4 class="media-title">
                <span>ランクアップを目指して何度もチャレンジしたくなる</span>
              </h4>
              <p class="media-desc">
                ほとんどのアトラクションには、点数や走行タイム、順位でランクがつくようになっています。ランクごとに写真入りのライセンスカードをつくることができるため、ランクアップを目指して何度もチャレンジしたくなります。
              </p>
           

            </div>
          </div>
          <div class="media u-clear">
            <div class="media-left">
              <div class="media-bg">
                <div class="media-thumb">
                  <div style="background-image: url(<%= mix('/assets/images/car-and-bike/attraction-3.jpg') %>);"></div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <h4 class="media-title">
                <span>クルマとバイクも「森」をイメージ</span>
              </h4>
              <p class="media-desc">
                クルマとバイクのアトラクションも森の生きものや緑のやさしさをコンセプトにデザインしています。森ならではの自然の雰囲気を感じながら親子でのびのびと遊ぶことができます。
              </p>
             
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="subpage-section subpage-section-carbike">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-gradient-tobottom heading-attraction u-show-pc heading-wrap-carbike',
          text: ' Attraction’s Category',
          alt : '',
          subtextvg: 'carbike-category-title',
          altSubtext: '',
        }) %>

        <%- include('/partials/heading', {
          modifier: 'heading-gradient-tobottom heading-attraction u-show-sp heading-wrap-carbike',
          text: ' Attraction’s Category',
          alt : '',
          subtextvg: 'carbike-category-title-sp',
          altSubtext: '',
        }) %>
      </div>

      <div class="carbike-menu">
        <div class="swiper-container slider-carbike-container js-slider-carbike">

          <div class="swiper-wrapper slider-carbike">
            <div class="swiper-slide slider-carbike-item">
              <div class="carbike-menu-item">
                <a class="carbike-menu-link js-scroll" href="#car">
                  <img src="<%= mix('/assets/images/car-and-bike/category-car.png') %>" alt="車のアトラクション">
                </a>
              </div>
            </div>
            <div class="swiper-slide slider-carbike-item">
              <div class="carbike-menu-item">
                <a class="carbike-menu-link js-scroll" href="#bike">
                  <img src="<%= mix('/assets/images/car-and-bike/category-bike.png') %>" alt="バイクのアトラクション">
                </a>
              </div>
            </div>
            <div class="swiper-slide slider-carbike-item">
              <div class="carbike-menu-item">
                <a class="carbike-menu-link js-scroll" href="#workshop">
                  <img src="<%= mix('/assets/images/car-and-bike/category-workshop.png') %>" alt="車のワークショップ">
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="subpage-section subpage-section-carbike" id="car">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-carbike heading-carbike-car',
          text: '',
          alt : '',
          subtextvg: 'car-and-bike-car-title',
          altSubtext: '',
        }) %>
      </div>

      <%- include('/partials/carbike-list', {
        dataCarbikeList : getData().data.carList
      }) -%>
    </section>

    <section class="subpage-section subpage-section-carbike" id="bike">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-carbike heading-carbike-bike',
          text: '',
          alt : '',
          subtextvg: 'car-and-bike-bike-title',
          altSubtext: '',
        }) %>
      </div>

      <%- include('/partials/carbike-list', {
        dataCarbikeList : getData().data.bikeList
      }) -%>
    </section>

    <section class="subpage-section subpage-section-carbike" id="workshop">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-carbike heading-carbike-workshop',
          text: '',
          alt : '',
          subtextvg: 'car-and-bike-carworkshop-title',
          altSubtext: '',
        }) %>
      </div>

      <%- include('/partials/carbike-list', {
        dataCarbikeList : getData().data.workshopList
      }) -%>

    </section>

    <%- include('/partials/recommendation') -%>

    <%- include('/partials/pickup') -%>

  </div>
</main>

<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsCarbike
}) -%>
<%- include('/partials/footer', { pageId }) -%>
