<%
  var title = 'Twin Ring Motegi | 森の教習所'
  SPRITE_SVG = '/assets/svg/sprite.svg';
%>

<% include('/partials/data/index') %>
<%- include('/partials/head', { title }) -%>

<% pageId = 'mobipark-subpage' %>

<div class="subpage">
  <div class="mv mv-subpage mv-forest-driving">
    <ul class="mv-list">
      <li class="mv-item">
        <div class="mv-image mv-image-subpage" style="background-image:url(<%= mix('/assets/images/forest-driving/mv-img.jpg') %>);"></div>
      </li>
    </ul>

    <div class="l-container mv-container">
      <h2 class="mv-heading">
        <span class="mv-heading-text">
          森の教習所
        </span>
      </h2>
    </div>
  </div>

  <div class="subpage-inner">
    <div class="heading-wrap heading-main heading-main-forest-driving heading-main-subpage">
      <h2 class="heading">
        <span class="heading-texts">
          <img src="<%= mix('/assets/images/forest-driving/forest-driving-title.png') %>" alt="forest-driving">
        </span>
      </h2>
    </div>

    <div class="subpage-banner">
      <div class="subpage-banner-inner">
        <img class="u-show-pc" src="<%= mix('/assets/images/forest-driving/banner.jpg') %>" alt="forest forest-driving">

        <img class="u-show-sp" src="<%= mix('/assets/images/forest-driving/sp-banner.jpg') %>" alt="forest-driving">
      </div>
    </div>

    <h3 class="subpage-title">
      <span>アトラクション情報</span>
    </h3>

    <p>信号や横断歩道、道路標識や踏み切りなど森の市街地の中で交通ルールを学びながら優秀運転免許証を<br />取得しよう。</p>

    <table class="table">
      <tbody>
        <tr class="table-row">
          <th class="table-head">場所</th>
          <td class="table-col">モビパーク内</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">所要時間</th>
          <td class="table-col">約5分
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">雨天の運行</th>
          <td class="table-col">雨天でも営業いたしております。
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">対象者</th>
          <td class="table-col">0歳以上でひとり座りできる方※
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">身長制限</th>
          <td class="table-col">なし</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">料金</th>
          <td class="table-col">
            モビパークパスポート対象 <br>アトラクションチケット利用：400円
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">ご利用にあたって</th>
          <td class="table-col">
            5歳未満のお子様について：<br>5歳未満のお子さまは中学生以上の同伴者の付添いが必要になります。
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <section class="subpage-section subpage-section-howto">
    <div class="subpage-section-howto-inner">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-gradient-tobottom heading-howto heading-howto-forest-driving',
          text: 'How to Enjoy',
          alt: '',
          subtextvg: 'forest-enjoy-point',
          altSubtext: '',
          heading_level: 3
        }) %>
      </div>

      <div class="how-to-content">
        <div class="media media-subpage u-clear">
          <div class="media-left">
            <div class="media-bg">
              <div class="media-thumb u-show-pc">
                <div style="background-image: url(<%= mix('/assets/images/forest-driving/enjoy-img1.png') %>);"></div>
              </div>

              <div class="media-thumb u-show-sp">
                <div style="background-image: url(<%= mix('/assets/images/forest-driving/sp-enjoy-img1.png') %>);"></div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <h4 class="media-title">
              <span>運転しながら交通ルールを学ぼう！</span>
            </h4>
            <p class="media-desc">
              子どもが一人で運転できる教習車で挑戦。<br>信号や横断歩道、踏み切りなどが <br>再現された森の教習所で交通ルールを学ぼう！
            </p>
          </div>
        </div>

        <div class="media media-subpage u-clear">
          <div class="media-left">
            <div class="media-bg">
              <div class="media-thumb u-show-pc">
                <div style="background-image: url(<%= mix('/assets/images/forest-driving/enjoy-img2.png') %>);"></div>
              </div>

              <div class="media-thumb u-show-sp">
                <div style="background-image: url(<%= mix('/assets/images/forest-driving/sp-enjoy-img2.png') %>);"></div>
              </div>
            </div>
          </div>

          <div class="media-right">
            <h4 class="media-title">
              <div class="u-show-pc">
                <span>
                  交通ルールを守ってプラチナ免許をゲット！
                </span>
              </div>

              <div class="u-show-sp">
                <span>交通ルールを守ってプラチナ免許を</span>
                <span>ゲット！</span>
              </div>


            </h4>
            <p class="media-desc">
              交通ルールを守って走行できると得点がアップ。<br>90点以上はゴールド免許、 <br>100点満点ならプラチナ免許がゲットできるよ！
            </p>

            <div class="media-bottom">
              <div class="media-note">
                <img class="media-note-flag" src="<%= mix('/assets/images/img-flag.png') %>" alt="image flag">
                <img class="media-note-acorn" src="<%= mix('/assets/images/img-acorn.png') %>" alt="image acorn">
                <div class="media-note-text">
                  100点取れたら… <br>
                  交通ルールを守れタネ！
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- BOTTOM -->

  <div class="call-to-action">
    <div class="l-container">
      <div class="call-to-action-wrapper">
        <div class="call-to-action-inner call-to-action-inner-subpage">
          <%- include('/partials/heading', {
            modifier: 'headin-net-subpage heading-net-forest-driving heading-banner-more',
            text: '<img src='+ mix('/assets/images/forest-driving/forest-enjoy-more.png') +' alt="forest driving">',
            alt: '森の教習所をもっと楽しむ',
            altSubtext: '',
            subtextvg: ''
          }) %>
          <div class="call-to-action-description">
            <p class="call-to-action-description-text">
              森の教習所のこだわりポイントや、<br>  知っているともっと楽しくなる情報を配信中しています。
            </p>
          </div>
          <div class="l-button l-button-call-to-action l-button-call-to-action-subpage">
            <%- include('/partials/button', {
              modifier: 'button-acro-x',
              text: 'もっと見る',
              link: '#'
            }) %>
          </div>
          <span class="call-to-action-dot call-to-action-dot-1">
            <img src="<%- mix('/assets/images/forest-driving/cta-img1.png')%> " alt="image cta">
          </span>
          <span class="call-to-action-dot call-to-action-dot-2">
            <img src="<%- mix('/assets/images/forest-driving/cta-img2.png')%> " alt="image cta">
          </span>
          <span class="call-to-action-dot call-to-action-dot-3">
            <img src="<%- mix('/assets/images/forest-driving/cta-img4.png')%> " alt="image cta">
          </span>
          <span class="call-to-action-dot call-to-action-dot-4">
            <img src="<%- mix('/assets/images/forest-driving/cta-img3.png')%> " alt="image cta">
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-cta">
    <div class="l-container">
      <div class="banner-cta-bottom-inner">
        <img src="<%- mix('/assets/images/sumika/company-logo.jpg')%> " alt="banner-logo">
      </div>
    </div>
  </div>

  <!-- recommendation module -->
  <%- include('/partials/recommendation') -%>

  <!-- pick up module -->
  <%- include('/partials/pickup') -%>

  <!-- END BOTTOM -->
</div>

<%- include('/partials/footer', {pageId}) -%>
