<article class="article">
  <a class="article-link" href="<%- link %>">
    <span class="article-category<% if(category == 'NEWS') { %> article-category-news<% } %>"><%- category %></span>
    <div class="article-image-wrap">
      <div class="article-image"
           style="background-image: url(
            <% if(image != '') { %><%- image %>
            <% } else { %><%- mix('/assets/images/noimage.jpg') %>
            <% } %>)"></div>
    </div>
    <p class="article-heading"><%- heading %></p>
    <p class="article-period">
      開催期間：<span class="article-period-date"><%- date %></span>
    </p>
  </a>
</article>
