<% if (typeof texts === 'undefined') {
    var texts = '';
}

if (typeof arrowColor === 'undefined') {
    var arrowColor = '';
}

if (typeof buttonIcon === 'undefined') {
  var buttonIcon = 'arrow';
}

var newTab = newTab === true ? ' target="_blank"' : '';
%>

<a class="button <%- modifier %>" href="<%- link %>" <%- newTab %>><%- text %>
  <i class="button-icon">
    <% if( arrowColor !== '' ) { %>
      <%- include('/partials/svg', {
        name: 'arrow-' + arrowColor
      }) %>
    <% } else { %>
    <%- include('/partials/svg', {
      name: buttonIcon
    }) %>
    <% } %>
  </i>
</a>
