<% if(typeof pageId === 'undefined') { var pageId = ''; } %>
<% if(typeof page === 'undefined') { var page = ''; } %>


<%
  let pages = ['index',
  'sumika',
  'itadaki',
  'dokidoki',
  'mobipark',
  'mobipark-subpage',
  'hellowoods',
  'hellowoods-subpage',
  'tsubasa',
  'mobipark-subpage-carbike'
  ]
%>

<footer class="footer">

  <nav class="footer-top-nav-list-wrap">
    <div class="l-container">
      <ul class="footer-top-nav-list">
        <%
          getData().data.footerTopNav.forEach( topLink => {
        %>
        <li class="footer-top-nav-item">
          <a class="footer-top-nav-link" href="<%- topLink.link %>">
            <span class="footer-top-nav-icon">
              <img class="footer-bottom-item-image" src="<%- topLink.image %>" alt="time">
            </span>
            <span class="footer-top-nav-text"><%- topLink.text %></span>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </nav>

  <div class="footer-top-links u-show-pc">
    <div class="l-container">
      <%- include('/partials/footer-top-links') -%>
    </div>
  </div>

  <div class="footer-sns">
    <%- include('/partials/sns') -%>
  </div>

  <div class="footer-background"></div>

  <div class="footer-bottom">
    <div class="l-container">
      <nav>
        <ul class="footer-bottom-list">
          <li class="footer-bottom-item">
            <a class="footer-bottom-link" href="#"><img class="footer-bottom-item-image" src="<%= mix('/assets/images/footer-name.png') %>" alt=""></a>
          </li>
          <%
            getData().data.footerBottomNav.forEach( bottomLink => {
          %>
          <li class="footer-bottom-item">
            <a class="footer-bottom-link" href="<%- bottomLink.link %>"><%- bottomLink.text %></a>
          </li>
          <% }) %>
        </ul>
      </nav>

      <div class="footer-bottom-copyright-wrap">
        <p class="footer-bottom-copyright">
          <small>(c) Mobilityland Corporation All Rights Reserved.
                <br>Kochira (Kochira family) is an original character of MOBILITYLAND designed by Mr. Osamu Tezuka. (c)TEZUKA PRODUCTIONS</small>
        </p>
        <div class="footer-bottom-name u-show-sp">
          <img class="footer-bottom-name-text" src="<%= mix('/assets/images/footer-name-sp.png') %>" alt="">
        </div>
        <ul class="footer-bottom-logos">
          <li>
            <img src="<%= mix('/assets/images/suzuka-logo.png') %>" alt="Suzuka">
          </li>
          <li>
            <img src="<%= mix('/assets/images/suzuka-zh-logo.png') %>" alt="Suzuka ZH">
          </li>
        </ul>
      </div>

    </div>
  </div>

  </footer>

  </div> <!-- end of wrap -->

  <script src="<%= mix('/assets/js/app.js') %>" async></script>

  <% if(pageId == 'mobipark') { %>
    <script src="<%= mix('/assets/js/mobipark.js') %>" async></script>
  <% } %>

  <% if(pageId == 'index') { %>
    <script src="<%= mix('/assets/js/index.js') %>" async></script>
  <% } %>

  <% if(pageId == 'hellowoods' || pageId == 'hellowoods-subpage') { %>
    <script src="<%= mix('/assets/js/anchor.js') %>" async></script>
  <% } %>

  <% if(pageId == 'mobipark-subpage-carbike') { %>
    <script src="<%= mix('/assets/js/carbike.js') %>" async></script>
  <% } %>

  <% if(pages.includes(pageId)) { %>
  <script src="<%= mix('/assets/js/common-slider.js') %>" async></script>
  <script src="<%= mix('/assets/js/accordion.js') %>" async></script>
  <% } %>


</body>
</html>
