<% if(typeof pageId === 'undefined') { var pageId = ''; } %>
<% if(typeof page === 'undefined') { var page = ''; } %>

<%
  let pages = [
  'index',
  'sumika',
  'itadaki',
  'dokidoki',
  'mobipark',
  'challenge',
  'acroX',
  'bunBunScooter',
  'carAndBike',
  'debDenWalk',
  'dream',
  'drift',
  'forestDrivingSchool',
  'motoTouring',
  'motorCycleTraining',
  'motoracer',
  'wildRacer',
  'hellowoods',
  'program',
  'craft',
  'labo',
  'musasabi',
  'tsubasa'
  ]
%>

	<footer class="footer" id="lig-footer">

		<nav class="footer-top-nav-list-wrap">
			<div class="l-container">
				<ul class="footer-top-nav-list">
					<%
						getData().data.footerTopNav.forEach( topLink => {
					%>
				<li class="footer-top-nav-item">
					<a class="footer-top-nav-link" href="<%- topLink.link %>">
						<span class="footer-top-nav-icon">
							<img class="footer-bottom-item-image" src="<%- topLink.image %>" alt="time">
						</span>
						<span class="footer-top-nav-text"><%- topLink.text %></span>
					</a>
				</li>
			<% }) %>
				</ul>
			</div>
		</nav>

		<div class="footer-top-links u-show-pc">
			<div class="l-container">
				<%- include('/partials/footer-top-links') -%>
			</div>
		</div>

		<div class="footer-sns">
			<%- include('/partials/sns') -%>
		</div>

		<div class="footer-background"></div>

		<div class="footer-bottom">
			<div class="l-container">
				<nav>
					<ul class="footer-bottom-list">
						<li class="footer-bottom-item">
							<a class="footer-bottom-link" href="#">
								<img class="footer-bottom-item-image" src="<%= mix('/assets/images/footer-name.png') %>" alt="株式会社モビリティランド">
							</a>
						</li>
						<%
							getData().data.footerBottomNav.forEach( bottomLink => {
						%>
					<li class="footer-bottom-item">
						<a class="footer-bottom-link" href="<%- bottomLink.link %>" target="_blank"><%- bottomLink.text %></a>
					</li>
				<% }) %>
					</ul>
				</nav>

				<div class="footer-bottom-copyright-wrap">
					<p class="footer-bottom-copyright">
						<small>(c) Mobilityland Corporation All Rights Reserved.
							<br>Kochira (Kochira family) is an original character of MOBILITYLAND designed by Mr. Osamu Tezuka. (c)TEZUKA PRODUCTIONS</small>
					</p>
					<div class="footer-bottom-name u-show-sp">
						<img class="footer-bottom-name-text" src="<%= mix('/assets/images/footer-name-sp.png') %>" alt="株式会社モビリティランド">
					</div>
					<ul class="footer-bottom-logos">
						<li>
							<a href="https://www.suzukacircuit.jp/" target="_blank">
								<img src="<%= mix('/assets/images/suzuka-logo.png') %>" alt="Suzuka">
							</a>

						</li>
						<li>
							<a href="https://www.suzukacircuit.jp/info_s/suzukacircuitpark/" target="_blank">
								<img src="<%= mix('/assets/images/suzuka-zh-logo.png') %>" alt="Suzuka ZH">
							</a>

						</li>
					</ul>
				</div>

			</div>
		</div>

	</footer>

</div><!-- /.wrap -->

  <script src="https://cdn.polyfill.io/v3/polyfill.min.js"></script>
  <script src="<%= mix('/assets/js/app.js') %>" async></script>

  <% if(pageId == 'mobipark') { %>
    <script src="<%= mix('/assets/js/mobipark.js') %>" async></script>
  <% } %>

  <% if(pageId == 'index') { %>
    <script src="<%= mix('/assets/js/index.js') %>" async></script>
  <% } %>

  <% if(pageId == 'carAndBike') { %>
    <script src="<%= mix('/assets/js/carbike.js') %>" async></script>
  <% } %>

  <% if(pages.includes(pageId)) { %>
    <script src="<%= mix('/assets/js/common-slider.js') %>" async></script>
    <script src="<%= mix('/assets/js/accordion.js') %>" async></script>
  <% } %>

  <% if(pageId == 'labo') { %>
    <script src="<%= mix('/assets/js/labo.js') %>" async></script>
  <% } %>

  <% if(pageId == 'tsubasa') { %>
    <script src="<%= mix('/assets/js/collapse-button.js') %>" async></script>
  <% } %>

</body>
</html>
