<%
if (typeof modifier === 'undefined'){
  var modifier = '';
}

if (typeof text === 'undefined'){
  var text = '';
}

if (typeof alt === 'undefined'){
  var alt = '';
}

if (typeof subtextvg === 'undefined'){
  var subtextvg = '';
}

if (typeof subtext === 'undefined'){
    var subtext = '';
}

if (typeof altSubtext === 'undefined'){
      var altSubtext = '';
}

%>

<div class="heading-wrap<%- ' '+modifier %>">
  <div class="heading">
    <p class="heading-text">
      <img src="<%- text %>" alt="<%- alt %>">
    </p>
    
    <% if(subtextvg) { %>
    <h2 class="heading-subtext">
      <svg>
        <title><%- subtextvg %></title>
        <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-'+subtextvg) %>"></use>
      </svg>
    </h2>
    <% } %>

    <% if(altSubtext) { %>
    <p class="heading-subtext">
      <img src="<%- subtext %>" alt="<%- altSubtext %>">
    </p>
    <% } %>
  </div>
</div>
