<div class="heading-wrap<%- ' '+modifier %>">
  <h2 class="heading">
    <span class="heading-texts">
      <img src="<%- texts %>" alt="<%- alt %>">
    </span>
    
    <% if(subtexts) { %>
    <span class="heading-subtexts">
      <svg>
        <title><%- subtexts %></title>
        <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-'+subtexts) %>"></use>
      </svg>
    </span>
    <% } %>

    <% if(altSubtexts) { %>
    <span class="heading-subtexts">
      <img src="<%- subtexts %>" alt="<%- altSubtexts %>">
    </span>
    <% } %>
  </h2>
</div>
