<%
if (typeof modifier === 'undefined'){
  var modifier = '';
}

if (typeof text === 'undefined'){
  var text = '';
}

if (typeof imgPath === 'undefined'){
  var imgPath = '';
}

if (typeof alt === 'undefined'){
  var alt = '';
}

if (typeof subtextvg === 'undefined'){
  var subtextvg = '';
}

if (typeof altSubtextvg === 'undefined'){
  var altSubtextvg = '';
}

if (typeof subtext === 'undefined'){
    var subtext = '';
}

if (typeof altSubtext === 'undefined'){
      var altSubtext = '';
}

if (typeof heading_level === 'undefined'){
  var heading_level = 2;
}

%>

<div class="heading-wrap<%- ' '+modifier %>">
  <div class="heading">
    <% if(text) { %>
      <h<%- heading_level %> class="heading-text">
        <%- text %>
    </h<%= heading_level %>>
    <% } %>

    <% if(subtextvg || imgPath) { %>
    <p class="heading-subtext">
      <% if(subtextvg || altSubtextvg) { %>
        <svg>
          <title><%- altSubtextvg = altSubtextvg != '' ?  altSubtextvg : subtextvg %></title>
          <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-'+subtextvg) %>"></use>
        </svg>
      <% } %>

      <% if(imgPath) { %>
        <span class="u-title-hidden"><%- alt %></span>
        <img src="<%- imgPath %>" alt="<%- alt %>">
      <% } %>
    </p>
    <% } %>

    <% if(altSubtext) { %>
    <p class="heading-subtext">
      <img src="<%- subtext %>" alt="<%- altSubtext %>">
    </p>
    <% } %>
  </div>
</div>
