<div class="header-sub-content-inner header-sub-content-inner-motorsports js-header-sub-content-inner" data-content="#header-sub-access">

  <a class="header-sub-top-button" href="#">エリア・施設TOP</a>

  <div class="header-sub-inner">
    <div class="header-sub-inner-block">
      <div class="header-sub-image-list-wrap">
        <% getData().data.headerAccessImageList.forEach( list => { %>
          <ul class="header-sub-image-list header-sub-image-list-padding">
            <% list.forEach( item => { %>
            <li class="header-sub-image-item">
              <a class="header-sub-image-link" href="#">
                <div class="header-sub-image<% if(list.length > 3) { %> header-sub-image-small<% } %>" style="background-image: url(<%- item.image %>);"></div>
                <span class="header-sub-image-text"><%- item.text %></span>
              </a>
            </li>
            <% }) %>
          </ul>
        <% }) %>

        <ul class="header-sub-bottom-list header-sub-bottom-list-upper">
          <% getData().data.headerAccessImageBottomList.forEach( item => { %>
          <li>
            <a href="<%- item.link %>"><%- item.text %></a>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <div class="header-sub-inner-block header-sub-inner-block-right header-sub-inner-block-no-border">

      <a class="header-sub-top-button header-sub-top-button-right" href="#">
        場内マップ
      </a>

      <div class="header-sub-image-map" style="background-image: url(<%= mix('/assets/images/header/access-map.jpg') %>);"></div>
    </div>
  </div>

</div>
