<%
if (typeof modifier === 'undefined'){
  var modifier = '';
}

if (typeof texts === 'undefined'){
  var texts = '';
}

if (typeof alt === 'undefined'){
  var alt = '';
}

if (typeof subtextsSvg === 'undefined'){
  var subtextsSvg = '';
}

if (typeof subtexts === 'undefined'){
    var subtexts = '';
}

if (typeof altSubtexts === 'undefined'){
      var altSubtexts = '';
}

%>

<div class="heading-wrap<%- ' '+modifier %>">
  <div class="heading">
    <p class="heading-texts">
      <img src="<%- texts %>" alt="<%- alt %>">
    </p>
    
    <% if(subtextsSvg) { %>
    <h2 class="heading-subtexts">
      <svg>
        <title><%- subtextsSvg %></title>
        <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-'+subtextsSvg) %>"></use>
      </svg>
    </h2>
    <% } %>

    <% if(altSubtexts) { %>
    <p class="heading-subtexts">
      <img src="<%- subtexts %>" alt="<%- altSubtexts %>">
    </p>
    <% } %>
  </div>
</div>
