<%
if (typeof modifier === 'undefined'){
  var modifier = '';
}

if (typeof text === 'undefined'){
  var text = '';
}

if (typeof imgPath === 'undefined'){
  var imgPath = '';
}

if (typeof alt === 'undefined'){
  var alt = '';
}

if (typeof subtextvg === 'undefined'){
  var subtextvg = '';
}

if (typeof subtext === 'undefined'){
    var subtext = '';
}

if (typeof altSubtext === 'undefined'){
      var altSubtext = '';
}

%>

<div class="heading-wrap<%- ' '+modifier %>">
  <div class="heading">
    <% if(text) { %>
      <p class="heading-text">
        <%- text %>
      </p>
    <% } %>

    <% if(subtextvg || imgPath) { %>
    <h2 class="heading-subtext">
      <% if(subtextvg) { %>
        <svg>
          <title><%- subtextvg %></title>
          <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-'+subtextvg) %>"></use>
        </svg>
      <% } %>

      <% if(imgPath) { %>
        <img src="<%- imgPath %>" alt="<%- alt %>">
      <% } %>
    </h2>
    <% } %>

    <% if(altSubtext) { %>
    <p class="heading-subtext">
      <img src="<%- subtext %>" alt="<%- altSubtext %>">
    </p>
    <% } %>
  </div>
</div>
