<% include('/partials/data/index') %>

<header>
  <div class="u-show-pc">
    <div class="l-container">
        <div class="l-header-top">
          <h1 class="l-header-top-logo">
            <a class="header-logo" href="/">
              <img src="<%= mix('/assets/images/logo.svg') %>" alt="森の中のモビリティテーマパークツインリンクもてぎ">
            </a>
          </h1>
          <div class="l-header-top-right">
            <ul class="header-top-others">
              <li class="header-top-others-item header-top-others-item-logo">
                <a class="header-top-others-link" href="#">
                  <img src="<%= mix('/assets/images/logo-motogp.png') %>" alt="MotoGP">
                </a>
              </li>
              <li class="header-top-others-item">
                <a class="header-top-others-link js-button-lang" href="#">
                  <span class="header-top-others-lang-text">LANGUAGE
                    <i class="header-top-others-lang-icon">
                      <%- include('/partials/svg', {
                        name: 'arrow-down'
                      }) %>
                    </i>
                  </span>
                </a>
                <ul class="header-lang js-header-lang">
                  <li class="header-lang-item">
                    <a class="is-active" href="#">JP</a>
                  </li>
                  <li class="header-lang-item">
                    <a href="#">EN</a>
                  </li>
                  <li class="header-lang-item">
                    <a href="#">CH</a>
                  </li>
                </ul>
              </li>
            </ul>
            <nav class="header-top-nav">
              <% getData().data.headerTopNav.forEach( topNavItem => { %>
              <li class="header-top-nav-item js-top-nav-button">
                <a class="header-top-nav-link" href="<%- topNavItem.link %>"><%- topNavItem.text %></a>
                <% if(typeof topNavItem.sub === 'object') { %>
                <div class="header-top-nav-sub">
                  <% topNavItem.sub.forEach( subItem => { %>
                    <ul>
                    <% if(typeof subItem === 'object') {
                      subItem.forEach( item => { %>
                      <li class="header-top-nav-sub-item"><a class="header-top-nav-sub-link" href="<%- item.link %>"><%- item.text %></a></li>
                    <% });
                      } %>
                    </ul>
                  <% }) %>
                </div>
                <% } %>
              </li>
              <% }) %>
            </nav>
          </div>
        </div>

        <div class="l-header-bottom">
          <nav>
            <ul class="header-bottom-list">
              <% getData().data.headerBottomNav.forEach( bottomNavItem => { %>
              <li class="header-bottom-item<%- ' '+bottomNavItem.modifier %>">
                <a class="header-bottom-link js-header-button" href="<%- bottomNavItem.link %>">
                  <span class="header-bottom-link-text"><%- bottomNavItem.text %></span>
                  <i class="header-bottom-icon">
                    <%- include('/partials/svg', {
                      name: bottomNavItem.icon
                    }) %>
                  </i>
                </a>
              </li>
              <% }) %>
            </ul>
          </nav>
        </div>
    </div>

    <div class="header-sub-content-wrap" id="js-header-sub">
      <div class="l-container header-sub-container">
        <div class="header-sub-content">
          <div class="header-sub-content-inner-wrap">
            <span class="header-sub-close" id="js-header-close">CLOSE</span>

            <%- include('/partials/header-content-access') %>
            <%- include('/partials/header-content-attraction') %>
            <%- include('/partials/header-content-motorsports') %>
            <%- include('/partials/header-content-camp') %>
            <%- include('/partials/header-content-restaurant') %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- header sp -->
  <div class="u-show-sp">
    <div class="header-sp">
      <div class="header-sp-top">
        <a class="header-sp-logo">
          <span class="header-sp-logo-link" href="/">
            <img src="<%= mix('/assets/images/logo.svg') %>" alt="森の中のモビリティテーマパークツインリンクもてぎ">
          </span>
        </a>

        <a class="header-sp-others-link" href="#">
          <img src="<%= mix('/assets/images/logo-motogp-sp.png') %>" alt="MotoGP">
        </a>

        <div class="header-sp-burger-wrap">
          <a class="header-sp-burger" href="#">
            <span class="header-sp-burger-text header-sp-burger-open">MENU</span>
            <span class="header-sp-burger-text header-sp-burger-close">CLOSE</span>
          </a>
        </div>
      </div>
    </div>
  </div>  <!-- end of header sp -->
</header>
