<div class="hoteltwinring-reservation">
  <div class="hotel-reservation-wrap">
    <div class="l-section-title">
      <%- include('/partials/heading', {
        modifier: 'hoteltwinring-heading-reservation',
        text: 'Reservation',
        alt: '',
        altSubtext: '',
        subtextvg: 'reservation-white',
        altSubtextvg: 'Reservation'
      }) %>
    </div>
    <div class="l-button u-show-pc">
      <%- include('/partials/button', {
        modifier: 'reserve-button',
        text: 'ホテルツインリンクもてぎのご予約はこちら',
        link: '/hoteltwinring/information/'
      }) %>
    </div>
    <div class="l-button u-show-sp">
      <%- include('/partials/button', {
        modifier: 'reserve-button',
        text: 'ご予約はこちら',
        link: '/hellowoods/concept/'
      }) %>
    </div>
    <div class="floating-banner">
      <img class="u-show-pc" src="<%- mix('/assets/images/hoteltwinring/tripai-banner.png') -%>" alt="梟">
      <img class="u-show-sp" src="<%- mix('/assets/images/hoteltwinring/tripai-banner-sp.png') -%>" alt="梟">
    </div>
  </div>
  <div class="hotel-reservation-qna-wrap">
    <div class="l-container hotel-reservation-ctas">
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'local',
          text: 'よくある質問',
          link: 'https://www.twinring.jp/hoteltwinring/info/faq.html'
        }) %>
      </div>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'local',
          text: 'お問い合わせ',
          link: 'https://www.twinring.jp/hoteltwinring/info/contact.html'
        }) %>
      </div>
    </div>
  </div>
</div>