<%
if (typeof modifier === 'undefined'){
  var modifier = '';
}
%>

<div class="how-to-content">
  <% if (dataHowto) {%>
    <% dataHowto.forEach(item => { %>
      <div class="media <%- modifier %> u-clear">
        <div class="media-left">
          <div class="media-bg">
            <div class="media-thumb">
              <div style="background-image: url(<%= item.imgPath %>);"></div>
            </div>
          </div>
        </div>
        <div class="media-right">
          <h4 class="media-title">
            <span><%- item.title %></span>
          </h4>
          <p class="media-desc">
            <%- item.content %>
          </p>

          <% if (item.note !== ) { %>
            <div class="media-note">
              <div class="media-note-text">
                <%- item.note %>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    <% }) %>
  <% } %>


</div>
