<div class="swiper">
  <div class="swiper-container <%- modifier -%>">
    <ul class="swiper-wrapper">
      <% toyaGallery.forEach(item => { %>
        <li class="swiper-slide">
          <ul class="gallery-list">
            <% item.gallery.forEach(elem => { %>
              <li class="gallery-item">
                <div class="gallery-image">
                  <img src="<%- elem.image -%>" alt="<%- elem.alt -%>">
                </div>
              </li>
            <% }); %>
          </ul>
        </li>
      <% }); %>
    </ul>
  </div>
  
  <div class="swiper-button-next">
    <i class="caret-right">
      <%- include('/partials/svg', {
        name: 'caret'
      }) -%>
    </i>
  </div>
  <div class="swiper-button-prev">
    <i class="caret-left">
      <%- include('/partials/svg', {
        name: 'caret'
      }) -%>
    </i>
  </div>
</div>