<ul class="sns-list">
  <li class="sns-item">
    <a class="sns-link" href="#">
      <%- include('/partials/svg', {
        'name': 'icon-insta'
      }) %>
    </a>
  </li>
  <li class="sns-item">
    <a class="sns-link" href="#">
      <%- include('/partials/svg', {
        'name': 'icon-line'
      }) %>
    </a>
  </li>
  <li class="sns-item">
    <a class="sns-link" href="#">
      <%- include('/partials/svg', {
        'name': 'icon-fb'
      }) %>
    </a>
  </li>
  <li class="sns-item sns-item-twitter">
    <a class="sns-link" href="#">
      <%- include('/partials/svg', {
        'name': 'icon-twitter'
      }) %>
    </a>
  </li>
  <li class="sns-item sns-item-youtube">
    <a class="sns-link" href="#">
      <%- include('/partials/svg', {
        'name': 'icon-youtube'
      }) %>
    </a>
  </li>
</ul>
