<ul class="sns-list">
  <li class="sns-item">
    <a class="sns-link" href="/motegi/link/autonavi_instagram.html" target="_blank">
      <%- include('/partials/svg', {
        name: 'icon-insta'
      }) %>
    </a>
  </li>
  <li class="sns-item">
    <a class="sns-link" href="/motegi/link/autonavi_line.html" target="_blank">
      <%- include('/partials/svg', {
        name: 'icon-line'
      }) %>
    </a>
  </li>
  <li class="sns-item sns-item-facebook">
    <a class="sns-link" href="/motegi/link/autonavi_facebook.html" target="_blank">
      <img src="<%= mix('/assets/images/icon-fb.png') %>" alt="">
    </a>
  </li>
  <li class="sns-item sns-item-twitter">
    <a class="sns-link" href="/motegi/link/autonavi_twitter.html" target="_blank">
      <%- include('/partials/svg', {
        name: 'icon-twitter'
      }) %>
    </a>
  </li>
  <li class="sns-item sns-item-youtube">
    <a class="sns-link" href="https://www.youtube.com/user/EnjoyTRM/" target="_blank">
      <%- include('/partials/svg', {
        name: 'icon-youtube'
      }) %>
    </a>
  </li>
  <li class="sns-item sns-item-rider">
    <a class="sns-link" href="/riders/" target="_blank">
      <img src="<%= mix('/assets/images/icon-rider.png') %>" alt="メールマガジン">
    </a>
  </li>
</ul>
