<%
  var title = 'Twin Ring Motegi'
  SPRITE_SVG = '/assets/svg/sprite.svg';
%>

<%
  recommend = [
    {
      'image': mix('/assets/images/top/how-to/img1.jpg'),
      'heading': '巨大ネットの森SUMIKA',
      'buttonLink': '#',
    },
    {
      'image': mix('/assets/images/top/how-to/img2.jpg'),
      'heading': '森感覚アスレチックDOKIDOKI',
      'buttonLink': '#',
    },
    {
      'image': mix('/assets/images/top/how-to/img3.jpg'),
      'heading': '迷宮森殿ITADAKI',
      'buttonLink': '#',
    }
  ]
%>

<%
  pickup = [
    {
      'image': mix('/assets/images/dokidoki/feature/img1.png'),
      'heading': `2019 FIM MotoGP™ 世界選手権シリーズ第16戦 MOTUL<br>日本グランプリ`,
      'date': '2019.11.02 〜 2019.11.03',
      'link': '#',
      },
    {
      'image': mix('/assets/images/dokidoki/feature/img2.png'),
      'heading': '2019 FIM MotoGP™ 世界選手権シリーズ第16戦 MOTUL<br>日本グランプリ',
      'date': '2019.11.02 〜 2019.11.03',
      'link': '#',
    },
    {
      'image': mix('/assets/images/dokidoki/feature/img3.png'),
      'heading': 'モトレーサー タイムアタック選手権2019予選',
      'date': '2019.11.02 〜 2019.11.03',
      'link': '#',
    },
    {
      'image': mix('/assets/images/dokidoki/feature/img4.png'),
      'heading': '音と光のシンフォニー　ツインリンクもてぎ花火の祭典（夏）',
      'date': '2019.11.02 〜 2019.11.03',
      'link': '#',
    }
  ]
%>

<%
    info = [
      {
        'desc': '冬季限定！冬のレーシングカートキャンペーン'
      },
      {
        'desc': 'TRMC-S会員限定！タイムアタックランキング開催！'
      },
      {
        'desc': 'レーシングカート体験走行後、ワンポイントアドバイス実施中！レーシングカートBが割引価格で利用できる特典付き！'
      },
      {
        'desc': '運転免許を取得して1年以内の方限定！ レーシングカート体験走行割引開始'
      }
    ]
%>

<%- include('./../partials/head', { title }) -%>

<div class="mv-mobipark">
  <ul class="mv-list">
    <li class="mv-item">
      <div class="mv-image" style="background-image:url(<%= mix('/assets/images/dokidoki/mv-img.png') %>);"></div>
    </li>
  </ul>

  <div class="l-container mv-container">
    <h2 class="mv-heading">
      <span class="mv-heading-text">
        <svg>
          <title>Mobipark</title>
          <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-mobipark') %>"></use>
        </svg>
      </span>
      <span class="mv-heading-subtext">
        <svg>
          <title>Mobipark</title>
          <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-mobipark-subtext') %>"></use>
        </svg>
      </span>
    </h2>

    <div class="mv-today">
      <div class="mv-today-inner">
      </div>
    </div>
  </div>
</div>

<div class="l-section">
  <section class="mobipark-info">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          'modifier': 'heading-mobipark',
          'text': mix('/assets/images/information.png'),
          'alt': 'information',
          'altSubtext': '',
          'subtextvg': 'info-subtext'
        }) %>
      </div>

      <div class="l-container">
        <ul class="info-list">
          <%
            info.forEach(item => {
          %>

          <li class="info-item"><%= item.desc %></li>

          <% }) %>
        </ul>
      </div>
  </section>
</div>

<div class="l-section">
  <div class="mobipark-challenge">
    <div class="l-container">
      <div class="challenge-left">
        <h2 class="heading-text">
          <img src="/assets/images/mobipark/challenge.png" alt="はじめての挑戦と、できたの喜びに子どもたちが夢中になる">
        </h2>
        <p class="desc">
          モビパークは、子どもたちが自ら”操れる”のりものと、<br>
          チャレンジの要素がつまった迷路・アスレチックで、<br>
          思いっきり遊ぶことができる<br>
          森のアトラクションテーマパークです。<br>
          色んなことに興味を持ち、なんでもやってみたいと<br>
          挑戦するのが子ども達。<br>
          「モビパーク」はそんな子ども達がモビリティを通して、<br>
          新しい自分に出会う「きっかけ」を提供します。<br>
        </p>
      </div>
      <div class="challenge-right">
        <div class="challenge-img">
          <div class="challenge-img1">
            <img src="/assets/images/mobipark/challenge-img1.png">
          </div>
          <div class="challenge-img2">
            <img src="/assets/images/mobipark/challenge-img2.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="l-section">
  <section class="mobipark-map">
    <div class="l-section-title">
      <%- include('/partials/heading', {
        'modifier': 'heading-mobipark',
        'text': mix('/assets/images/mobipark/map-title.png'),
        'alt': 'map',
        'altSubtext': '',
        'subtextvg': 'map-subtext'
      }) %>
    </div>

    <div class="map-img">
      <img src="/assets/images/mobipark/map.png" alt="map">
    </div>
  </section>
</div>

<div class="l-section">
  <section class="mobipark-playground">
    <div class="l-section-title">
      <%- include('/partials/heading', {
        'modifier': 'heading-mobipark',
        'text': mix('/assets/images/mobipark/adventure.png'),
        'alt': 'アスレチック＆迷路',
        'altSubtext': 'adventure-subtext',
        'subtextvg': 'adventure-subtext'
      }) %>
    </div>
  </section>
</div>

<!-- BOTTOM -->

<div class="dokidoki-cta-bottom">
  <div class="l-container">
    <div class="dokidoki-cta-bottom-inner">
      <img src="<%= mix('/assets/images/banner-img.png') %>">
    </div>
  </div>
</div>

<section class="dokidoki-recommendation">
  <div class="l-section-title">
    <%- include('/partials/heading', {
      'modifier': 'heading-net-dokidoki',
      'text': mix('/assets/images/dokidoki/recommendation.png'),
      'alt': 'recommendation',
      'altSubtext': '',
      'subtextvg': 'recommendation-subtext'
    }) %>
  </div>

  <div class="l-container">
    <ul class="feature-list feature-list-no-design">
      <% recommend.forEach(item => { %>
      <li class="feature-item">
        <%- include('/partials/article-no-design', {
          'image': item.image,
          'heading': item.heading,
          'buttonLink': item.buttonLink,
          'buttonText': 'モビパーク'
        }) %>
      </li>
      <% }) %>
    </ul>
  </div>
</section>

<section class="dokidoki-pick-up">
  <div class="l-section-title">
    <%- include('/partials/heading', {
      'modifier': 'heading-net-dokidoki',
      'text': mix('/assets/images/dokidoki/pickup.png'),
      'alt': 'recommendation',
      'altSubtext': '',
      'subtextvg': 'pickup'
    }) %>
  </div>

  <div class="l-container">
    <ul class="feature-list">
      <% pickup.forEach(item => { %>
      <li class="feature-item">
        <%- include('/partials/article', {
          'category': item.category,
          'image': item.image,
          'heading': item.heading,
          'date': item.date,
          'link': item.link
        }) %>
      </li>
      <% }) %>
    </ul>
  </div>
</section>
<!-- END BOTTOM -->

<%- include('./../partials/footer') -%>