<%
  var title = 'Twin Ring Motegi';
  pageId = 'familyroom';
%>
<% include('/partials/data/index') %>
<%- include('/partials/head', { pageId, title }) -%>

<div class="lig-content">
  <div class="subpage subpage-hotel hotel-wrapper">
    <div class="mv mv-subpage-labo mv-subpage-hotel mv-subpage-hotel-familyroom">
      <div class="mv-buttons">
        <ul class="mv-buttons-list">
          <li class="mv-buttons-item">
            <a class="mv-buttons-link" href="/hoteltwinring/information/">
              <span>ご予約</span>
            </a>
          </li>
        </ul>
      </div>

      <ul class="mv-list">
        <li class="mv-item">
          <div class="u-show-pc mv-image" style="background-image:url(<%= mix('/assets/images/familyroom/mv-img.jpg') %>);"></div>
          <div class="u-show-sp mv-image" style="background-image:url(<%= mix('/assets/images/familyroom/mv-img-sp.jpg') %>);"></div>
        </li>
      </ul>

      <div class="l-container mv-container">
        <h1 class="mv-heading hellowoods-mv-heading familyroom-mv-heading u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods',
            heading_level: 1,
            text: 'Superior Family Room',
            alt: '',
            subtextvg: 'familyroom-top-title',
            altSubtextvg: 'スーぺリアファミリールーム'
          }) %>
        </h1>
        <h1 class="mv-heading hellowoods-mv-heading familyroom-mv-heading u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods',
            heading_level: 1,
            text: 'Superior Family Room',
            alt: '',
            subtextvg: 'familyroom-top-title-sp',
            altSubtextvg: 'スーぺリアファミリールーム'
          }) %>
        </h1>

        <!-- <div class="u-show-pc mv-today mv-log mv-granroom-logo">
          <div class="mv-l-inner">
          </div>
        </div> -->
      </div>
    </div>

    <main>
      
      <div class="l-section-title u-show-pc">
        <%- include('/partials/heading', {
          modifier: 'heading-main heading-main-subpage heading-main-subpage-familyroom',
          subtextvg: 'familyroom-main-title',
          altSubtextvg: 'コンセプトは「DANRAN」家族でかけがえのないひとときを。'
        }); -%>
      </div>
      
      <div class="l-section-title u-show-sp">
        <%- include('/partials/heading', {
          modifier: 'heading-main heading-main-subpage heading-main-subpage-familyroom',
          subtextvg: 'familyroom-main-title-sp',
          altSubtextvg: '木の温もりを感じる ３室限定の特別なお部屋'
        }); -%>
      </div>

      <section class="subpage-section subpage-section-roomdetails subpage-section-aqua-labo">
        <div class="subpage-inner">

          <div class="subpage-image-gallery subpage-image-gallery-roomdetails">
            <div class="swiper-container slider-gallery js-gallery">
              <div class="swiper-wrapper">
                <div class="swiper-slide slider-item">
                  <div class="slider-gallery-img" style="background-image:url(<%- mix('/assets/images/familyroom/familyroom-banner.jpg') -%>)"></div>
                </div>
                <div class="swiper-slide slider-item">
                  <div class="slider-gallery-img" style="background-image:url(<%- mix('/assets/images/familyroom/familyroom-banner2.jpg') -%>)"></div>
                </div>
              </div>
            </div>

            <div class="swiper-container slider-gallery-thumb js-gallery-thumb">
              <div class="swiper-wrapper">
                <div class="swiper-slide slider-item">
                  <div class="slider-gallery-thumb-img" style="background-image:url(<%- mix('/assets/images/familyroom/familyroom-banner.jpg') -%>)"></div>
                </div>
                <div class="swiper-slide slider-item">
                  <div class="slider-gallery-thumb-img" style="background-image:url(<%- mix('/assets/images/familyroom/familyroom-banner2.jpg') -%>)"></div>
                </div>
              </div>
            </div>
          </div>
          
          <p class="subpage-desc">
            森の木々をイメージした室内には「DANRAN」をコンセプトに、小上がりスペースを設けました。
            家族でテーブルを囲み今日の想い出や明日の計画を話しながら、かけがえのない時間をお過ごしいただけます。
          </p>

          <h3 class="subpage-title">
            <span>客室詳細</span>
          </h3>

          <table class="table">
            <tbody>

              <tr class="table-row">
                <th class="table-head">ルームタイプ</th>
                <td class="table-col">
                  19室、広さ33m<sup><small>2</small></sup>、床面カーペット、小上がりスペース、禁煙
                  <br/>
                  <a class="js-lightbox" href="/assets/images/familyroom/family-floorplan.jpg" title="19室、広さ33m<sup><small>2</small></sup>、ハリウッドツイン、床面カーペット、小上がりスペース、禁煙">> 間取りを見る</a>
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">ベッド</th>
                <td class="table-col">
                  ハリウッドツイン（W1200×2000 2台）<br/>
                  ３&#126;４名利用時は、デイベット（W1000×2000 2台）を使用

                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">展望</th>
                <td class="table-col">
                  レーシングコースを見渡せるサーキットビュー <br/>
                  広大な森で癒されるマウントビュー 
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">客室設備</th>
                <td class="table-col">
                  エアコン／浴室／ウォシュレット機能付トイレ／冷蔵庫／TV(4K、BS視聴可）／ヘアドライヤー／電気ケトル／セーフティボックス／加湿空気清浄機／電話／無料Wi-fi／アラーム付き時計
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">アメニティ</th>
                <td class="table-col">
                  作務衣（ルームウェア）／スリッパ／バスタオル／フェイスタオル／石鹸／シャンプー／リンス／ボディーソープ／歯ブラシ／カミソリ／ヘアブラシ／コットンセット／綿棒／クレンジング／洗顔料／化粧水／乳液
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">
                  お子さま向け <br/>
                  アメニティ
                </th>
                <td class="table-col">
                  オリジナル歯ブラシ／歯磨き粉（いちご味）／オリジナルスポンジ／作務衣（ルームウェア）／スリッパ
                </td>
              </tr>
              
            </tbody>
          </table>

        </div>
      </section>

      <section class="subpage-section subpage-section-usagefee subpage-section-usagefee-familyroom subpage-section-aqua-labo">
        <div class="subpage-inner">
      
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'heading-main heading-main-subpage heading-main-subpage-nogradient-onecolor heading-main-subpage-usagefee',
              subtextvg: 'familyroom-usagefee-subtitle',
              altSubtextvg: 'ご利用料金'
            }); -%>
          </div>

          <h3 class="subpage-title">
            <span>モデルプラン</span>
          </h3>

          <div class="model-plan">
            <div class="model-plan-frame">
              <p class="model-plan-desc u-show-pc">
                大人2名、小学生1名、幼児1名で、休前日宿泊の場合
              </p>
              <p class="model-plan-desc u-show-sp">
                大人2名、小学生1名、幼児1名で、<br/>
                休前日宿泊の場合
              </p>
              <div class="l-section-title u-show-pc">
                <%- include('/partials/heading', {
                  modifier: 'heading-main heading-main-subpage heading-model-plan',
                  imgPath: mix('/assets/images/familyroom/model-plan-text.png'),
                  alt: `スタンダードプラン 1泊2食付きプラン(4名) 合計 55,800円`
                }) -%>
              </div>
              <div class="l-section-title u-show-sp">
                <%- include('/partials/heading', {
                  modifier: 'heading-main heading-main-subpage heading-model-plan',
                  imgPath: mix('/assets/images/familyroom/model-plan-text-sp.png'),
                  alt: `スタンダードプラン 1泊2食付きプラン(4名) 合計 55,800円`
                }) -%>
              </div>
              <small class="model-plan-note u-show-pc">
                <料金内訳> 大人:19,000円 × 2名、小学生:13,300円 × 1名、幼児:4,500円 × 1名 <br/>
                ※宿泊プラン、時期によって料金が異なります。
              </small>
              <small class="model-plan-note u-show-sp">
                <料金内訳> 大人:19,000円 × 2名、<br/>
                小学生:13,300円 × 1名、幼児:4,500円 × 1名 <br/>
                ※宿泊プラン、時期によって料金が異なります。
              </small>
            </div>
          </div>

          <h3 class="subpage-title">
            <span>ルームチャージ（4名利用のみ）</span>
          </h3>

          <p class="u-show-sp">
            <strong>
              1&#126;4名ご利用
            </strong>
          </p>

          <div class="u-show-sp">
            <table class="table table-solid table-solid-last">
              <tbody>
                <tr class="table-row table-row-solid">
                  <th class="table-head">平日</th>
                  <td class="table-col">30,000円</td>
                </tr>
                <tr class="table-row">
                  <th class="table-head">休前日</th>
                  <td class="table-col">43,100円</td>
                </tr>
                <tr class="table-row table-row-last">
                  <th class="table-head">
                    GW・夏休み <br/>
                    など　
                  </th>
                  <td class="table-col">48,200円&#126;</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="u-show-pc">
            <table class="table table-solid">
              <tbody>

                <tr class="table-row table-row-solid">
                  <th class="table-head">ご利用人数</th>
                  <th class="table-col">平日</th>
                  <th class="table-col">休前日</th>
                  <th class="table-col">GW・夏休みなど</th>
                </tr>

                <tr class="table-row table-row-last">
                  <th class="table-head">1&#126;4名</th>
                  <td class="table-col">
                    30,000円&#126;
                  </td>
                  <td class="table-col">
                    43,100円
                  </td>
                  <td class="table-col">
                    48,200円&#126;
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>

          <small class="important-note important-note-left u-show-pc">
            ※1室最大4名まで利用可。幼児（0歳&#126;未就学児）は添い寝無料。<br/>
            ※ご宿泊人数により料金が異なります。
          </small>

          <small class="important-note important-note-left u-show-sp">
            ※1室最大4名まで利用可。<br/>
              幼児（0歳&#126;未就学児）は添い寝無料。<br/>
            ※ご宿泊人数により料金が異なります。
          </small>

        </div>
      </section>

      <section class="subpage-section subpage-section-otherroom subpage-section-aqua-labo">
        <div class="subpage-inner">
      
          <div class="l-section-title u-show-pc">
            <%- include('/partials/heading', {
              modifier: 'heading-main heading-main-subpage heading-main-subpage-other',
              text: `Other rooms`,
              altSubtext: ``,
              subtextvg: `otherroom-subtitle`,
              altSubtextvg: `Other rooms`
            }); -%>
          </div>
      
          <div class="l-section-title u-show-sp">
            <%- include('/partials/heading', {
              modifier: 'heading-main heading-main-subpage heading-main-subpage-other',
              text: `Other rooms`,
              altSubtext: ``,
              subtextvg: `otherroom-subtitle-sp`,
              altSubtextvg: `Other rooms`
            }); -%>
          </div>
          
          <div class="media-grid">

            <div class="media-grid-item">
              <a href="/hoteltwinring/granroom/">
                <div class="media-grid-img media-grid-img-rounded" style="background-image: url(<%- mix('/assets/images/familyroom/otherroom-img1.jpg') -%>);">
                </div>
              </a>
              
              <a href="/hoteltwinring/granroom/">
                <h3 class="media-grid-title subpage-title">
                  <span>
                    グランルーム
                  </span>
                </h3>
              </a>
              
            </div>

            <div class="media-grid-item">
              <a href="/hoteltwinring/standardroom/">
                <div class="media-grid-img media-grid-img-rounded" style="background-image: url(<%- mix('/assets/images/granroom/otherroom-img2.jpg') -%>);">
                </div>
              </a>

              <a href="/hoteltwinring/standardroom/">
                <h3 class="media-grid-title subpage-title">
                  <span>
                    スタンダードルーム
                  </span>
                </h3>
              </a>
              
            </div>

          </div>

        </div>
      </section>

      <!-- reservation module -->
      <%- include('/partials/hotel-reservation') -%>

      <%- include('/partials/recommendation') -%>

      <%- include('/partials/pickup') -%>

    </main>
  </div>
</div>

<!-- BREADCRUMBS -->
<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsFamilyroom
}) -%>
<%- include('/partials/footer', { pageId }) -%>
