<div class="alt-feature row">
  <div class="alt-feature-image-wrapper">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/zipline/cat-1.png') %>" alt="森のクラフト体験">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/zipline/cat-1-sp.png') %>" alt="森のクラフト体験">
  </div>
  <div class="alt-feature-desc right">
    <div class="alt-feature-desc-wrapper zip-line zipline-green-label">
      <p class="media-title alt-feature-heading">
        <span class="media-title-text">メガジップラインつばさ</span>
      </p>
      <p class="alt-feature-desc-text">日本最大級！往復561m！<br>
        森からサーキットの<br class="u-show-sp">大空への空中散歩
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: '/hellowoods/zip-line/tsubasa.html'
        }) %>
      </div>
    </div>
  </div>
</div>

<div class="alt-feature row">
  <div class="alt-feature-image-wrapper  order-2">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/zipline/cat-2.png') %>" alt="予約制の体験プログラム">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/zipline/cat-2-sp.png') %>" alt="予約制の体験プログラム">
  </div>
  <div class="alt-feature-desc left">
    <div class="alt-feature-desc-wrapper zip-line zipline-grey-label">
      <p class="media-title alt-feature-heading">
        <span class="media-title-text">森のジップラインムササビ</span>
      </p>
      <p class="alt-feature-desc-text">森をたっぷり体験できる<br>
        ガイドツアー付きのジップライン        
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: '/hellowoods/zip-line/musasabi.html'
        }) %>
      </div>
    </div>
  </div>


</div>