<%
  var title = 'Twin Ring Motegi | 森の研究室'
  pageId = 'hellowoods-subpage';
  subpageId = 'forest-labo';
%>

<%- include('/partials/head', { title }) -%>

<main>
  <div class="subpage subpage-labo">
    <div class="mv mv-subpage mv-subpage-labo">
      <ul class="mv-list">
        <li class="mv-item">
          <div class="u-show-pc mv-image" style="background-image:url(<%= mix('/assets/images/hellowoods/labo-mv.jpg') %>);"></div>
          <div class="u-show-sp mv-image" style="background-image:url(<%= mix('/assets/images/hellowoods/labo-mv-sp.jpg') %>);"></div>
        </li>
      </ul>
  
      <h1 class="mv-heading mv-heading-subpage mv-heading-subpage-labo">
        <span class="mv-heading-text">
          生きものの研究室
        </span>
      </h1>
    </div>
  
    <div class="subpage-inner subpage-inner-anchor">
      <div class="l-section-title u-show-pc">
        <%- include('/partials/heading', {
          modifier: 'heading-main heading-main-subpage',
          subtext: mix('/assets/images/hellowoods/research-color-title.png'),
          altSubtext: 'lab'
        }); -%>
      </div>
  
      <div class="l-section-title u-show-sp">
        <%- include('/partials/heading', {
          modifier: 'heading-main heading-main-subpage heading-main-subpage-labo',
          subtext: mix('/assets/images/hellowoods/lab-color-title.png'),
          altSubtext: 'lab'
        }); -%>
      </div>
  
      <div class="column-link l-column-link column-link-labo">
        <ul class="link-container">
          <li class="link-item">
            <a class="js-scroll" href="#aqua-labo">
              <img src="<%- mix('/assets/images/hellowoods/labo-aqua.png') -%>" alt="tekuteku">
              <span>水生生物研究室</span>
            </a>
          </li>
          <li class="link-item">
            <a class="js-scroll" href="#mammal-labo">
              <img src="<%- mix('/assets/images/hellowoods/labo-mammal.png') -%>" alt="guide">
              <span>哺乳類研究室</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  
    <section class="subpage-section subpage-section-aqua-labo" id="aqua-labo">
      <div class="subpage-inner">
        <div class="l-section-title u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-labo heading-aqua-labo',
            text: 'Aquatic Labo',
            alt: '',
            subtextvg: 'research-aquatic-title',
            altSubtextvg: 'Research Aquatic',
            altSubtext: ''
          }); -%>
        </div>
  
        <div class="l-section-title u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-labo heading-aqua-labo',
            text: 'Aquatic Labo',
            alt: '',
            subtextvg: 'lab-aquarion-title-sp',
            altSubtextvg: 'Research Aquatic',
            altSubtext: ''
          }); -%>
        </div>
  
        <div class="subpage-banner">
          <div class="subpage-banner-inner">
            <img src="<%- mix('/assets/images/hellowoods/labo-aqua-banner.jpg') -%>" alt="Aquatic Labo">
          </div>
        </div>
  
        <div class="subpage-banner">
          <div class="subpage-banner-inner">
            <img src="<%- mix('/assets/images/hellowoods/labo-aqua-banner2.jpg') -%>" alt="Aquatic Labo">
          </div>
        </div>
  
        <h3 class="subpage-title">
          <span>アトラクション情報</span>
        </h3>
  
        <p>
          都会では見ることのできない希少な水辺の生きものを間近で観察して、不思議を見つけてみよう。
        </p>
  
        <table class="table">
          <tbody>
            <tr class="table-row">
              <th class="table-head">場所</th>
              <td class="table-col">
                ハローウッズの森内
              </td>
            </tr>
  
            <tr class="table-row">
              <th class="table-head">開催日</th>
              <td class="table-col">
                毎日開催
              </td>
            </tr>
  
            <tr class="table-row">
              <th class="table-head">所要時間</th>
              <td class="table-col">
                自由にお楽しみいただけます。
              </td>
            </tr>
  
            <tr class="table-row">
              <th class="table-head">雨天の開催</th>
              <td class="table-col">
                雨天でも営業いたしております。
              </td>
            </tr>
  
            <tr class="table-row">
              <th class="table-head">対象者</th>
              <td class="table-col">
                全年齢対象 <br>
                ※小学生以下は保護者（成人）の同伴が必要です
              </td>
            </tr>
  
            <tr class="table-row">
              <th class="table-head">料金</th>
              <td class="table-col">
                無料
              </td>
            </tr>
  
            <tr class="table-row">
              <th class="table-head">予約受付</th>
              <td class="table-col">
                予約や受付は必要ございません。
              </td>
            </tr>
          </tbody>
        </table>
        
        <div class="media-labo">
          <h3 class="subpage-title">
            <span>出会える生きものたち</span>
          </h3>
  
          <div class="media media-subpage media-subpage-labo u-clear">
            <div class="media-box">
              <h4 class="media-title">
                ゲンゴロウ
              </h4>
              <div class="media-bg">
                <div class="media-thumb">
                  <div style="background-image: url(<%= mix('/assets/images/hellowoods/labo-aqua-img1.jpg') %>);"></div>
                </div>
              </div>
            </div>

            <div class="media-box">
              <h4 class="media-title">
                タガメ
              </h4>
              <div class="media-bg">
                <div class="media-thumb">
                  <div style="background-image: url(<%= mix('/assets/images/hellowoods/labo-aqua-img2.jpg') %>);"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="subpage-section subpage-section-mammal-labo" id="mammal-labo">
      <div class="subpage-inner">
        <div class="l-section-title u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-labo heading-mammal-labo',
            text: 'Mammalian Labo',
            alt: '',
            subtextvg: 'research-mammalian-title',
            altSubtext: '',
            altSubtextvg: 'Rsearch Mammalian Labo'
          }); -%>
        </div>
  
        <div class="l-section-title u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-labo heading-mammal-labo',
            text: 'Mammalian Labo',
            alt: '',
            subtextvg: 'lab-mammal-title-sp',
            altSubtext: '',
            altSubtextvg: 'Rsearch Mammalian Labo'
          }); -%>
        </div>
  
        <div class="subpage-banner">
          <div class="subpage-banner-inner">
            <img src="<%- mix('/assets/images/hellowoods/labo-mammal-banner.jpg') -%>" alt="Aquatic Labo">
          </div>
        </div>
  
        <div class="subpage-banner">
          <div class="subpage-banner-inner">
            <img src="<%- mix('/assets/images/hellowoods/labo-mammal-banner2.jpg') -%>" alt="Aquatic Labo">
          </div>
        </div>
  
        <h3 class="subpage-title">
          <span>アクティビティ情報</span>
        </h3>
  
        <p>
          森の動物たちの展示を通して、生きものの暮らしを感じてみよう。
        </p>
  
        <table class="table">
          <tbody>
            <tr class="table-row">
              <th class="table-head">場所</th>
              <td class="table-col">
                ハローウッズの森内
              </td>
            </tr>
  
            <tr class="table-row">
              <th class="table-head">開催日</th>
              <td class="table-col">
                毎日開催
              </td>
            </tr>
  
            <tr class="table-row">
              <th class="table-head">所要時間</th>
              <td class="table-col">
                自由にお楽しみいただけます。
              </td>
            </tr>
  
            <tr class="table-row">
              <th class="table-head">雨天の開催</th>
              <td class="table-col">
                雨天でも営業いたしております。
              </td>
            </tr>
  
            <tr class="table-row">
              <th class="table-head">対象者</th>
              <td class="table-col">
                全年齢対象 <br>
                ※小学生以下は保護者（成人）の同伴が必要です
              </td>
            </tr>
  
            <tr class="table-row">
              <th class="table-head">料金</th>
              <td class="table-col">
                無料
              </td>
            </tr>
  
            <tr class="table-row">
              <th class="table-head">予約受付</th>
              <td class="table-col">
                予約や受付は必要ございません。
              </td>
            </tr>
          </tbody>
        </table>
        
        <div class="media-labo">
          <h3 class="subpage-title">
            <span>出会える生きものたち</span>
          </h3>
  
          <div class="media media-subpage media-subpage-labo u-clear">
            <div class="media-box">
              <h4 class="media-title">
                ムササビ
              </h4>
              <div class="media-bg">
                <div class="media-thumb">
                  <div style="background-image: url(<%= mix('/assets/images/hellowoods/labo-mammal-img1.jpg') %>);"></div>
                </div>
              </div>
            </div>
            
            <div class="media-box">
              <h4 class="media-title">
                アカネズミ
              </h4>
              <div class="media-bg">
                <div class="media-thumb">
                  <div style="background-image: url(<%= mix('/assets/images/hellowoods/labo-mammal-img2.jpg') %>);"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="subpage-button subpage-button-family-walk subpage-button-labo">
          <a href="#">
            <ul class="banner-list">
              <li class="list-item js-banner-item">
                <img src="<%= mix('/assets/images/hellowoods/labo-banner-item1.jpg'); %>" alt="banner list">
              </li>
              <li class="list-item js-banner-item">
                <img src="<%= mix('/assets/images/hellowoods/labo-banner-item2.jpg'); %>" alt="banner list">
              </li>
            </ul>
          </a>
        </div>
      </div>
    </section>
  
    <!-- END BOTTOM -->
  
  <!-- recommendation module -->
  <%- include('/partials/recommendation') -%>
  
  <!-- pick up module -->
  <%- include('/partials/pickup') -%>
  
  </div>
</main>

<!-- BREADCRUMBS -->
<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsLabo
}) -%>

<%- include('/partials/footer', {pageId, subpageId}) -%>
