<%
  sectionMobiParkCards = [
    {
      'category': 'ATHLETIC',
      'image': mix('/assets/images/top/mobi-park/img1.jpg'),
      'title': '巨大ネットの森 SUMIKA',
      'url': 'https://www.twinring.jp/sumika/'
    },
    {
      'category': 'ATHLETIC',
      'image': mix('/assets/images/top/mobi-park/img2.jpg'),
      'title': '森感覚アスレチック DOKIDOKI',
      'url': 'https://www.twinring.jp/dokidoki/'
    },
    {
      'category': 'CAR & BIKE',
      'image': mix('/assets/images/top/mobi-park/img3.jpg'),
      'title': 'クルマ＆バイクのアトラクション',
      'url': 'https://www.twinring.jp/mobipark_m/attractions/car-and-bike.html'
    }
  ]
%>
<div class="section-inner">
  <div class="section-image" style="background-image: url(<%= mix('/assets/images/top/mobi-park/bg.jpg') %>);"></div>
  <div class="l-container">
    <div class="section-contents">
      <p class="section-contents-copy">子どもが夢中になれるチャレンジがいっぱい。<br class="u-show-pc">親子でたくさんの「できタネ！」をあつめよう。</p>

      <ul class="section-cards u-show-pc">
        <%
          sectionMobiParkCards.forEach( card => {
        %>
        <div class="section-cards-item">
          <a href="<%- card.url %>" class="section-card-link">
            <div class="section-cards-image-wrap image-border">
              <span class="section-cards-category"><%- card.category %></span>
              <div class="section-cards-image" style="background-image: url(<%- card.image %>);"></div>
            </div>
            <p class="section-cards-title"><%- card.title %></p>
          </a>
        </div>
        <%
          })
        %>
      </ul>

      <div class="slider-wrap slider-wrap-section u-show-sp">
        <div class="swiper-container slider js-slider-sp">
          <ul class="swiper-wrapper slider-wrapper slider-section-cards section-cards">
            <%
              sectionMobiParkCards.forEach( card => {
            %>
            <li class="swiper-slide slider-item slider-section-cards-item">
              <div class="section-cards-item">
                <a href="<%- card.url %>" class="section-card-link">
                  <div class="section-cards-image-wrap image-border">
                    <span class="section-cards-category"><%- card.category %></span>
                    <div class="section-cards-image" style="background-image: url(<%- card.image %>);"></div>
                  </div>
                  <p class="section-cards-title"><%- card.title %></p>
                </a>
              </div>
            </li>
            <%
              })
            %>
          </ul>

          <div class="swiper-pagination swiper-pagination-section"></div>
        </div>
      </div>

      <div class="section-button">
        <%- include('/partials/button', {
          newTab: true,
          modifier: '',
          text: 'もっと見る',
          link: 'https://www.twinring.jp/mobipark_m/'
        }) %>
      </div>
    </div>
  </div>
</div>
