<%
  sectionActivityCards = [
    {
      'category': 'ACTIVITY',
      'image': mix('/assets/images/top/activity/img1.jpg'),
      'title': 'ジップラインつばさ・ムササビ',
    },
    {
      'category': 'PROGRAM',
      'image': mix('/assets/images/top/activity/img2.jpg'),
      'title': '森のファミリーウォーク',
    },
    {
      'category': 'WORKSHOP',
      'image': mix('/assets/images/top/activity/img3.jpg'),
      'title': 'クラフト体験',
    },
  ]
%>

<section class="section">
    <%- include('/partials/heading', {
      'modifier': 'heading-wrap-center heading-wrap-activity',
      'texts': mix('/assets/images/top/activity/attraction-activity.png'),
      'alt': 'Attraction & Activity',
      'subtexts': mix('/assets/images/top/activity/subtexts.png'),
      'altSubtexts': 'ツインリンクもてぎの楽しさをエリア別に紹介',
    }) %>

    <div class="section-inner">
      <div class="section-image" style="background-image: url(<%= mix('/assets/images/top/activity/bg.jpg') %>);">
        <img class="section-image-logo" src="<%= mix('/assets/images/top/activity/logo.png') %>" alt="Hello Woods">
      </div>
      <div class="l-container">
        <div class="section-contents">
          <p class="section-contents-copy">森の中で「溢れる生命（いのち）」を見つけよう。<br>自然とふれあいながら、遊び・学べる体験型アトラクション・プログラムが満載です。</p>

          <ul class="section-cards">
            <%
              sectionActivityCards.forEach( card => {
            %>
            <li class="section-cards-item">
              <div class="section-cards-image-wrap">
                <span class="section-cards-category"><%- card.category %></span>
                <div class="section-cards-image" style="background-image: url(<%- card.image %>);"></div>
              </div>
              <p class="section-cards-title"><%- card.title %></p>
            </li>
            <%
              })
            %>
          </ul>

          <div class="section-button">
            <%- include('/partials/button', {
              'modifier': '',
              'texts': 'もっと見る',
              'link': '#'
            }) %>
          </div>
        </div>
      </div>
    </div>
</section>
