<%
  sectionMotoSportsCards = [
    {
      'category': 'ATHLETIC',
      'image': mix('/assets/images/top/motosports/img1.jpg'),
      'title': 'MotoGPTM',
    },
    {
      'category': 'ATHLETIC',
      'image': mix('/assets/images/top/motosports/img2.jpg'),
      'title': 'CIRCUIT RUN',
    },
    {
      'category': 'CAR & BIKE',
      'image': mix('/assets/images/top/motosports/img3.jpg'),
      'title': 'ファミリーで楽しむ',
    },
  ]
%>

<section class="section">
  <div class="section-inner">
    <div class="section-image" style="background-image: url(<%= mix('/assets/images/top/motosports/bg.jpg') %>);">
      <!-- <!img class="section-image-logo" src="<!%= mix('/assets/images/top/mobi-park/logo.jpg') %>" alt="Mobi Park"> -->
    </div>
    <div class="l-container">
      <div class="section-contents">
        <p class="section-contents-copy">世界が注目するレースでは数々のドラマが生まれる。<br>からだ全体で感じる未体験のサウンド、パワー、スピードは記憶に残る感動になりま</p>

        <ul class="section-cards">
          <%
            sectionMotoSportsCards.forEach( card => {
          %>
          <li class="section-cards-item">
            <div class="section-cards-image-wrap image-border">
              <span class="section-cards-category"><%- card.category %></span>
              <div class="section-cards-image" style="background-image: url(<%- card.image %>);"></div>
            </div>
            <p class="section-cards-title"><%- card.title %></p>
          </li>
          <%
            })
          %>
        </ul>

        <div class="section-button">
          <%- include('/partials/button', {
            'modifier': '',
            'text': 'もっと見る',
            'link': '#'
          }) %>
        </div>
      </div>
    </div>
  </div>
</section>
