<%
if (typeof modifier === 'undefined'){
  var modifier = '';
}


%>


<% if(dataFaqList) { var arrTabs = [];var checked="checked" %>
  <div class="u-show-pc">
    <ol id="tabs" class="tabs tabs-faq u-show-pc" >
      <% dataFaqList.forEach( item => { %>
            <% if(arrTabs.indexOf(item.tabId) === -1) { %>
              <li class="tab tab-faq"><% if(arrTabs.length > 0) {checked=""} %>
                <input type="radio" id="tab-<%- item.tabId %>" name="tab-tabId" class="tab-tabId" value="<%- item.tabId %>" <%- checked %>>
                <label class="lblTab" for="tab-<%- item.tabId %>"><%- item.tabName %></label>
              </li>
            <% arrTabs.push(item.tabId) %>
        <% } %>
      <% }) %>
    </ol>
  </div>

  <div class="l-section-title u-show-sp program-dropdown-title">
    <%- include('/partials/svg', {
      'name': 'program-dropdown-title'
    }) %>
  </div>
  <div class="custom-select u-show-sp">
    <div id="customSelect" class="select-selected"><%- arrTabs[0] %>月</div>
    <div id="customSelectItems" class="select-items select-hide">
      <% arrTabs.forEach( item => { %>
        <div class="option" value="<%- item %>"><%- item %>月</div>
      <% }) %>
    </div>
  </div>

<% } %>

<% if(dataFaqList) { %>

  <ul id="faq-list" class="" data-tab="1">
    <li class="faq-item" data-faqid="1">
      <%- include('/partials/accordion', {
        dataAccordion: getData().data.accordionReservationApplication
      }) %>
    </li>

    <li class="faq-item" data-faqid="2">
      <%- include('/partials/accordion', {
        dataAccordion: getData().data.accordionAccomodationPrevilege
      }) %>
    </li>

    <li class="faq-item" data-faqid="3">
      <%- include('/partials/accordion', {
        dataAccordion: getData().data.accordionAccessTransportation
      }) %>
    </li>

    <li class="faq-item" data-faqid="4">
      <%- include('/partials/accordion', {
        dataAccordion: getData().data.accordionArrivalCheckin
      }) %>
    </li>

    <li class="faq-item" data-faqid="5">
      <%- include('/partials/accordion', {
        dataAccordion: getData().data.accordionHotel
      }) %>
    </li>

    <li class="faq-item" data-faqid="6">
      <%- include('/partials/accordion', {
        dataAccordion: getData().data.accordionGuestRoom
      }) %>
    </li>

    <li class="faq-item" data-faqid="7">
      <%- include('/partials/accordion', {
        dataAccordion: getData().data.accordionTheRestaurant
      }) %>
    </li>

    <li class="faq-item" data-faqid="8">
      <%- include('/partials/accordion', {
        dataAccordion: getData().data.accordionNozominoYu
      }) %>
    </li>

    <li class="faq-item" data-faqid="9">
      <%- include('/partials/accordion', {
        dataAccordion: getData().data.accordionAmusementPark
      }) %>
    </li>
  </ul>
<% } %>
