<div class="alt-feature row">
  <div class="alt-feature-image-wrapper">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/hoteltwinring/resto-1.png') %>" alt="">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/hoteltwinring/resto-1-sp.png') %>" alt="">
  </div>
  <div class="alt-feature-desc right">
    <div class="alt-feature-desc-wrapper">
      
      <p class="media-title alt-feature-heading">
        <span class="media-title-text">森のレストラン<br>
          MARCHERANT
      </p>
      <p class="alt-feature-desc-text text-align-left">
        地元ならではの食材と採れたて野菜を使い、<br>
豊富なビュッフェメニューと季節のプレートランチをお楽しみいただけます。
      </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: '/foods_m/marcherant.html'
        }) %>
      </div>
    </div>
  </div>
</div>

<div class="alt-feature row">
  <div class="alt-feature-image-wrapper  order-2">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/hoteltwinring/resto-2.png') %>" alt="">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/hoteltwinring/resto-2-sp.png') %>" alt="">
  </div>
  <div class="alt-feature-desc left">
    <div class="alt-feature-desc-wrapper">
      
      
      <p class="media-title alt-feature-heading">
        <span class="media-title-text">里山懐石 登谷</span>
      </p>
      <p class="alt-feature-desc-text text-align-left">ホテルの離れに佇む「里山懐石 登谷」では美食家達の舌を唸らせた料理人 谷田部が創作する”滋味（じみ）"をお楽しみいただけます。
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: '/foods_m/toya.html'
        }) %>
      </div>
    </div>
  </div>


</div>

<div class="alt-feature row">
  <div class="alt-feature-image-wrapper">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/hoteltwinring/resto-3.png') %>" alt="">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/hoteltwinring/resto-3-sp.png') %>" alt="">
  </div>
  <div class="alt-feature-desc right">
    <div class="alt-feature-desc-wrapper">
      
      
      <p class="media-title alt-feature-heading">
        <span class="media-title-text">ラウンジ ブルーノート</span>
      </p>
      <p class="alt-feature-desc-text text-align-left">都会の喧騒を忘れ、ゆったりとした時間と共にお酒が楽しめるBar。<br>
        営業時間：金・土　19：00～23：00
        
        
        
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: '/foods_m/bluenote.html'
        }) %>
      </div>
    </div>
  </div>
</div>