<ul class="adventure-container adventure-container-hellowoods">
  <!-- Musasabi -->
  <li class="adventure-list adventure-list-hellowoods ">
    <div class="adventure-bg" style="background-image: url(<%= mix('/assets/images/hoteltwinring/room-superior.jpg') %>);">
    </div>

    <div class="l-adventure-sp-container">
      <div class="l-adventure hoteltwinring">
        <div class="adventure-ribbon">
          <div class="adventure-ribbon-inner">
            <h2 class="heading-text">New</h2>
            <p>2020.03.13</p>
          </div>
        </div>
        <div class="l-section-title l-section-title-adventure hellowoods">
          
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'hellowoods-adventure-title',
              text: '',
              alt: '',
              altSubtext: '',
              subtextvg: 'hoteltwinring-room-superior'
            }) %>
          </div>
          
          <p>Superior Family Room</p>
        </div>
        
        <p class="adventure-content-copy">
          木の温もりを感じながら、ゆったりした時間を過ごせる3部屋だけの特別室「グランルーム」<br>
広々とした部屋には幅4mのワイドベッドをはじめロッキングチェア、ハンモックがあり、<br>
森の中のようにリラックスしてお過ごしいただけます。

        </p>

        <div class="l-button">
          <%- include('/partials/button', {
            modifier: 'button-adventure',
            text: 'もっと見る',
            link: '/hellowoods/zip-line/musasabi.html'
          }) %>
        </div>
      </div>
    </div>
  </li>

  <li class="adventure-list adventure-list-hellowoods ">
    <div class="adventure-bg" style="background-image: url(<%= mix('/assets/images/hoteltwinring/room-gran.jpg') %>);">
    </div>

    <div class="l-adventure-sp-container">
      <div class="l-adventure hoteltwinring">
        <div class="l-section-title l-section-title-adventure hellowoods">
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'hellowoods-adventure-title',
              text: '',
              alt: '',
              altSubtext: '',
              subtextvg: 'hoteltwinring-room-gran'
            }) %>
          </div>
          
          <p>Gran Room</p>
        </div>
        
        <p class="adventure-content-copy">
          木の温もりを感じながら、ゆったりした時間を過ごせる3部屋だけの特別室「グランルーム」<br>
広々とした部屋には幅4mのワイドベッドをはじめロッキングチェア、ハンモックがあり、<br>
森の中のようにリラックスしてお過ごしいただけます。

        </p>

        <div class="l-button">
          <%- include('/partials/button', {
            modifier: 'button-adventure',
            text: 'もっと見る',
            link: '/hellowoods/zip-line/tsubasa.html'
          }) %>
        </div>
      </div>
    </div>
  </li>

    <li class="adventure-list adventure-list-hellowoods ">
      <div class="adventure-bg" style="background-image: url(<%= mix('/assets/images/hoteltwinring/room-standard.jpg') %>);">

      </div>
  
      <div class="l-adventure-sp-container">
        <div class="l-adventure hoteltwinring">
          <div class="l-section-title l-section-title-adventure hellowoods">
            <div class="l-section-title">
              <%- include('/partials/heading', {
                modifier: 'hellowoods-adventure-title',
                text: '',
                alt: '',
                altSubtext: '',
                subtextvg: 'hellowoods-tsubasa-title'
              }) %>
            </div>
            
            <p>Standard Room</p>
          </div>
          
          <p class="adventure-content-copy">
            広大な森とレーシングコースを一望しながら、優雅な気分でゆったりとした時間をお過ごしください。
          </p>
  
          <div class="l-button">
            <%- include('/partials/button', {
              modifier: 'button-adventure',
              text: 'もっと見る',
              link: '/hellowoods/zip-line/tsubasa.html'
            }) %>
          </div>
        </div>
      </div>
    </li>
</ul>
