<%
  var title = 'Twin Ring Motegi | 森の教習所'
  SPRITE_SVG = '/assets/svg/sprite.svg';
  pageId = 'granTurismo';
%>
<% include('/partials/data/index') %>
<%- include('/partials/head', { pageId, title }) -%>

<div class="lig-content">
  <div class="subpage subpage-restaurant restaurant-wrapper gran-turismo">
    <div class="mv mv-restaurant mv-subpage-restaurant">
      <!-- <div class="mv-buttons">
        <ul class="mv-buttons-list">
          <li class="mv-buttons-item">
            <a class="mv-buttons-link" href="/foods_m/">
              <span>ご予約</span>
            </a>
          </li>
        </ul>
      </div> -->

      <ul class="mv-list">
        <li class="mv-item">
          <div class="mv-image mv-image-subpage u-show-pc" style="background-image:url(<%= mix('/assets/images/granturismo/mv-img.jpg') %>);"></div>
          <div class="mv-image mv-image-subpage u-show-sp" style="background-image:url(<%= mix('/assets/images/granturismo/mv-img-sp.jpg') %>);"></div>
        </li>
      </ul>

      <div class="l-container mv-container">
        <div class="mv-heading hellowoods-mv-heading granturismo-mv-heading u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods',
            heading_level: 1,
            text: 'Gran Turismo Cafe',
            subtextvg: 'granturismo-top-title',
            altSubtextvg: 'グランツーリスモカフェ'
          }) %>
        </div>
        <div class="mv-heading hellowoods-mv-heading granturismo-mv-heading u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods',
            heading_level: 1,
            text: 'Gran Turismo Cafe',
            subtextvg: 'granturismo-top-title-sp',
            altSubtextvg: 'グランツーリスモカフェ'
          }) %>
        </div>

        <div class="u-show-pc mv-today mv-logo mv-granroom-logo" style="background-image: url(<%= mix('/assets/images/granturismo/mv-logo.png') %>);">
          <div class="mv-l-inner">
          </div>
        </div>
      </div>
    </div>

    <main>
      <div class="subpage-inner-wrap">
        <div class="subpage-inner">
          <div class="l-section-title u-show-pc">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-restaurant heading-granturismo',
//               subtextvg: 'granturismo-main-title',
//               altSubtextvg: `プレイステーションのカーレースゲーム「グランツーリスモ」の世界観を楽しみながら食事ができるレストランです`
              imgPath: mix('/assets/images/granturismo/color-title.jpg'),
              alt: 'プレイステーションのカーレースゲーム「グランツーリスモ」の世界観を楽しみながら食事ができるレストランです'
            }) %>
          </div>

          <div class="l-section-title u-show-sp">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-restaurant heading-granturismo',
//               subtextvg: 'granturismo-main-title-sp',
//               altSubtextvg: `プレイステーションの
// カーレースゲーム「グランツーリスモ」の
// 世界観を楽しみながら食事ができるレストランです`
              imgPath: mix('/assets/images/granturismo/color-title-sp.jpg'),
              alt: 'プレイステーションのカーレースゲーム「グランツーリスモ」の世界観を楽しみながら食事ができるレストランです'
            }) %>
          </div>

          <div class="subpage-banner subpage-banner-craft">
            <div class="subpage-banner-inner">
              <img class="" src="<%= mix('/assets/images/granturismo/subpage-banner.jpg') %>" alt="プレイステーションのカーレースゲーム「グランツーリスモ」の世界観を楽しみながら食事ができるレストランです。">
            </div>
          </div>

          <p class="suboage-desc">
            <span>店内には無料で遊べる「グランツーリスモ」のドライビングシュミレーターが設置されており、家族でゲームも楽しめます。<br class="u-show-pc"/>
              お店がパドックの中にあるので、普段なかなか見ることができないレーシングマシーンやドライバーたちに触れ合えるチャンスも。</span>
          </p>

          <h2 class="subpage-title">
            <span>店舗情報</span>
          </h2>

          <table class="table table-rocco">
            <tbody>
              <tr class="table-row">
                <th class="table-head">場所</th>
                <td class="table-col">
                  パドック<br class="u-show-sp"/>（最寄の駐車場: 第1パドック）<br class="u-show-sp"/><a class="link" href="/map_m/">Mapを見る</a>
                  <!-- パドック（最寄の駐車場 : <a class="link" href="/map_m/">第1パドック駐車場</a>） -->
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">営業時間</th>
                <td class="table-col">
                  平日: 11:00-15:00<br/>
                  土日祝: <a class="link" href="/hours_m/">ツインリンクもてぎ営業時間内</a>
                  <!-- <a class="link" href="/hours_m/">ツインリンクもてぎ営業時間内</a><br class="u-show-sp"/>
                  ※平日は11:00&#126;15:00まで営業 -->
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">座席数</th>
                <td class="table-col">
                  店内: 90　テラス: 31
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">備考</th>
                <td class="table-col">
                  &sdot; チャイルドシートあり<br/>
                  &sdot; クレジットカード利用可
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- restaurant menu -->
      <%- include('/partials/restaurant/section-menu', {
        data: getData().data.granTurismoMenu
      }) -%>

      <div class="l-section oak-button">
        <!-- <p class="u-show-pc">
          この他にも、様々なメニューをご用意しております。
        </p>

        <p class="u-show-sp">
          この他にも、様々なメニューを<br/>ご用意しております。
        </p> -->

        <div class="u-show-pc">
          <%- include('/partials/button', {
            modifier: 'restaurant-button',
            link: '/assets/images/granturismo/gtcafe_menu_202003.pdf',
            // text: '春のおすすめメニューはこちら (PDF:2.4MB)',
            text: 'その他のメニューはこちら',
            newTab: true
          }) -%>
        </div>

        <div class="u-show-sp">
          <%- include('/partials/button', {
            modifier: 'restaurant-button',
            link: '/assets/images/granturismo/gtcafe_menu_202003.pdf',
            // text: '春のおすすめメニューはこちら (PDF:2.4MB)',
            text: 'その他のメニューはこちら',
            newTab: true
          }) -%>
        </div>
      </div>

      <!-- other restaurant module-->
      <%- include('/partials/gran-turismo/section-other-restaurant') -%>
      

    </main>
    <!-- END BOTTOM -->
  </div>
</div>

<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsGranturismo
}) -%>
<%- include('/partials/footer', { pageId } ) -%>
