<%
  var title = 'Twin Ring Motegi | 森の教習所'
  SPRITE_SVG = '/assets/svg/sprite.svg';
  pageId = 'dinnerBuffet';
%>
<% include('/partials/data/index') %>
<%- include('/partials/head', { pageId, title }) -%>

<div class="lig-content">
  <div class="subpage subpage-restaurant restaurant-wrapper">
    <div class="mv mv-restaurant mv-subpage-restaurant">
      

      <ul class="mv-list">
        <li class="mv-item">
          <div class="mv-image mv-image-subpage u-show-pc" style="background-image:url(<%= mix('/assets/images/dinner-buffet/mv-img.jpg') %>);"></div>
          <div class="mv-image mv-image-subpage u-show-sp" style="background-image:url(<%= mix('/assets/images/dinner-buffet/mv-img-sp.jpg') %>);"></div>
        </li>
      </ul>

      <div class="l-container mv-container">
        <div class="mv-heading hellowoods-mv-heading u-show-pc">
          <%- include('/partials/heading', {
            modifier: '',
            heading_level: 1,
            text: 'Dinner Buffet',
            subtextvg: 'marcherant-dinner-buffet-title',
            altSubtextvg: '森のキッチン どんぐり'
          }) %>
        </div>
        <div class="mv-heading hellowoods-mv-heading donguri-mv-heading u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods',
            heading_level: 1,
            text: 'Dinner Buffet',
            subtextvg: 'marcherant-top-title-sp',
            altSubtextvg: ''
          }) %>
        </div>

        <div class="u-show-pc mv-today mv-logo mv-granroom-logo" style="background-image: url(<%= mix('/assets/images/dinner-buffet/logo.png') %>);">
          <div class="mv-l-inner">
          </div>
        </div>
      </div>
    </div>

    <main>
      <section class="l-container">
        <div class="heading-wrap heading-main heading-main-marcherant">
          <h2 class="heading">
            <span class="u-title-hidden">Car and bike</span>
            <span class="heading-texts">
              <img class="u-show-pc" src="<%= mix('/assets/images/dinner-buffet/color-title.png') %>" alt="家族で囲めばお腹も心も満たされる 森のごちそうをご用意してお待ちしております。">
              <img class="u-show-sp" src="<%= mix('/assets/images/dinner-buffet/color-title-sp.png') %>" alt="家族で囲めばお腹も心も満たされる 森のごちそうをご用意してお待ちしております。">
            </span>
          </h2>
          <p class="heading-main-subtext">※ディナービュッフェはご宿泊のお客様限定、また毎週土曜日・長期休暇などに開催となります。<br>
            詳しい日程はこちらをご確認ください。</p>
        </div>
      </section>

      <section class="subpage-section subpage-section-roomdetails subpage-section-aqua-labo">
        <div class="subpage-inner">
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'heading-hellowoods heading-other-restaurant',
              heading_level: 1,
              text: 'Recommend',
              subtextvg: 'marcherant-dinner-buffet-recommend',
              altSubtextvg: 'Recommend'
            }) %>
          </div>
          <div class="subpage-image-gallery subpage-image-gallery-roomdetails">
            <div class="swiper-container slider-gallery js-gallery">
              <div class="swiper-wrapper">
                <div class="swiper-slide slider-item">
                  <div class="slider-gallery-img" style="background-image:url(<%- mix('/assets/images/granroom/granroom-banner.jpg') -%>)"></div>
                </div>
                <div class="swiper-slide slider-item">
                  <div class="slider-gallery-img" style="background-image:url(<%- mix('/assets/images/granroom/granroom-banner2.jpg') -%>)"></div>
                </div>
              </div>
            </div>

            <div class="swiper-container slider-gallery-thumb js-gallery-thumb">
              <div class="swiper-wrapper">
                <div class="swiper-slide slider-item">
                  <div class="slider-gallery-thumb-img" style="background-image:url(<%- mix('/assets/images/granroom/granroom-banner.jpg') -%>)"></div>
                </div>
                <div class="swiper-slide slider-item">
                  <div class="slider-gallery-thumb-img" style="background-image:url(<%- mix('/assets/images/granroom/granroom-banner2.jpg') -%>)"></div>
                </div>
              </div>
            </div>
          </div>

          <p class="subpage-desc">
            <h3><b></b>あらびき那須三元豚とほうれん草のキッシュ</b></h3>
            通常の2倍ある広々とした部屋には幅4mのワイドベッドをはじめロッキングチェア、ハンモックが設けられ、心地よい木の香りに包まれながら森の中のようにリラックスしてお過ごしいただけます。
          </p>

        </div>
      </section>

      <section class="l-section point-item">
        <div class="l-container">
          <div class="l-section-title u-show-pc">
            <%- include('/partials/heading', {
              modifier: 'heading-forest heading-forest-craft',
              text: 'Point',
              alt: 'Point',
              subtextvg: 'craft-recommendation-title',
              altSubtext: '',
            }) %>
          </div>
          <div class="l-section-title u-show-sp">
            <%- include('/partials/heading', {
              modifier: 'heading-forest heading-forest-craft',
              text: 'Point',
              alt: 'Point',
              subtextvg: 'craft-recommendation-title',
              altSubtext: '',
            }) %>
          </div>
        </div>
        <div class="l-container-m">
          <div class="point-heading-wrap">
            <h3 class="point-heading no-1">
              <%- include('/partials/svg', {
                name: 'marcherant-dinner-point-1'
              }) %>
            </h3>
            <p class="point-subtext">一般調理機器では引き出せない特注の石窯は、お肉はこんがりふっくらと、お野菜は本来の甘みが溢れてきます。<br>
              石窯が設置されたオーブンキッチンでシェフの実演風景とともにお楽しみください。</p>
          </div>  
        </div>

        <div class="l-container">
          <ul class="point-image-list">
            <li>
              <div class="point-image" style="background-image:url(<%= mix('/assets/images/dinner-buffet/point-1.1.png') %>);"></div>
              <p>牛フィレ肉の石窯ロースト</p>
            </li>
            <li>
              <div class="point-image" style="background-image:url(<%= mix('/assets/images/dinner-buffet/point-1.1.png') %>);"></div>
              <p>那須野ヶ原牛のアッシュパルマンティエ</p>
            </li>
            <li>
              <div class="point-image" style="background-image:url(<%= mix('/assets/images/dinner-buffet/point-1.1.png') %>);"></div>
              <p>焼きたての石窯ピザ</p>
            </li>
          </ul>
        </div>
      </section>

      <section class="forest forest-craft l-section">
        <div class="l-container">
          <div class="l-section-title u-show-pc">
            <%- include('/partials/heading', {
              modifier: 'heading-forest heading-forest-craft',
              text: 'Kids Experience',
              alt: 'Kids Experience',
              subtextvg: 'craft-recommendation-title',
              altSubtext: '',
            }) %>
          </div>
          <div class="l-section-title u-show-sp">
            <%- include('/partials/heading', {
              modifier: 'heading-forest heading-forest-craft',
              text: 'Kids Experience',
              alt: 'Kids Experience',
              subtextvg: 'craft-recommendation-title',
              altSubtext: '',
            }) %>
          </div>
        </div>
        <div class="swiper-container slider js-slider common-slider" id="commonSlider">
          <ul class="swiper-wrapper top-slide top-slide-craft">
            <% forestCraft.forEach(item => { %>
            <li class="swiper-slide slider-item">
              <div class="top-slider-image">
                <img src="<%- item.src -%>" alt="<%- item.alt -%>">
              </div>
              <span class="top-slider-text">
                <%- item.desc -%>
              </span>
            </li>
            <% } ) %>
          </ul>
        </div>
      </section>

      <section class="">
        <div class="l-container-m full-sp">
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center',
              text: 'Shop’s Information',
              alt: 'Shop’s Information',
              altSubtext: '',
              subtextvg: 'shop-information-title'
            }) %>
          </div>
          <table class="table table-craft">
            <tbody>
              <tr class="table-row">
                <th class="table-head">場所</th>
                <td class="table-col">
                  ホテルツインリング１階 <a href="/map_m/">Mapを見る</a>
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">朝食</th>
                <td class="table-col">
                  <a href="/hours_m/">7:00 〜 10:00（L.O.9:30）</a>
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">ランチ</th>
                <td class="table-col">11:30〜14:00（L.O.13:30）</td>
              </tr>

              <tr class="table-row">
                <th class="table-head">ディナー</th>
                <td class="table-col">
                  17:30〜21:00（L.O.20:30）<br>
                  ※ディナービュッフェはご宿泊のお客様限定、また毎週土曜日・長期<br>
                  休暇などに開催となります。詳しい日程はこちらをご確認ください。
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">ランチ</th>
                <td class="table-col">11:30〜14:00（L.O.13:30）</td>
              </tr>

              <tr class="table-row">
                <th class="table-head">定休日</th>
                <td class="table-col"><a href="#">ツインリンクもてぎの休業日に準じます</a></td>
              </tr>

              <tr class="table-row">
                <th class="table-head">座席数</th>
                <td class="table-col">254　※個室4部屋</td>
              </tr>

              <tr class="table-row">
                <th class="table-head">備考</th>
                <td class="table-col">※レース・イベント開催時は特別メニューになる場合がございます。<br>
                  ※メニューは仕入れ状況により異なる場合がございます。</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="l-container">
          <div class="subpage-section subpage-section-collapse marcherant-collapse-section">
            <div class="subpage-collapse-heading js-collapse-button">お子さまのお誕生日や家族の記念日に<br>
              アニバーサリーケーキのご注文について</div>
            <div class="subpage-collapse-description">
              <div class="subpage-collapse-content marcherant-collapse-content">
                <p class="text-center">
                  アニバーサリーケーキは、お電話にてご注文承ります｡<br> &lt;プレートのお名前は申し込み時にお知らせください&gt;<br><b>TEL 0285-64-0489　<br class="u-show-sp"> 受付時間 10:00～17:30</b>
                </p>
                <img class="collapse-banner" src="<%- mix('/assets/images/marcherant/collapse-banner-1.jpg') -%>" alt="">

                <div class="grid-data">
                  <div class="row">
                    <div class="column" >
                      <div class="col-heading-green">苺サンドケーキ</div>
                      <div class="col-data">
                        13cm    2,650円<br>
                        15cm    2,960円<br>
                        18cm  	3,4
                      </div>
                    </div>
                    <div class="column">
                      <div class="col-heading-green">チョコレートケーキ</div>
                      <div class="col-data">
                        18cm  	2,860円
                      </div>
                    </div>
                  </div>
                </div>

                <p>
                  ※ディナー営業時間でのご提供となります。<br>
                  ※店内でお召し上がりいただきます。<br>
                  ※ご予約・キャンセルは、5日前まで承ります。4日前～当日：キャンセル料100%となります。
                </p>
              </div>
            </div>
          </div>

          <div class="subpage-section subpage-section-collapse marcherant-collapse-section">
            <div class="subpage-collapse-heading js-collapse-button">食物アレルギーをお持ちのお客様へ</div>
            <div class="subpage-collapse-description">
              <div class="subpage-collapse-content marcherant-collapse-content">
                <p class="text-center">
                  食物アレルギー症状のある客様は、ご予約時にお知らせください。<br>
                  その場合、できる限りアレルゲンの除去に努めた料理を提供させて頂きますが、<br>
                  アレルゲンの除去を保証するものではございませんのでご了承ください。
                </p>
                <p class="text-center"><b>対象</b></p>
                <table class="table table-marcherant-collapse">
                  <tbody>
                    <tr class="table-row">
                      <th class="table-head">森のレストラン MARCHERANT</th>
                      <td class="table-col">
                        ・ランチ<br>
                        ・ディナーセット
                      </td>
                    </tr>
      
                    <tr class="table-row">
                      <th class="table-head">里山懐石　登谷</th>
                      <td class="table-col">
                        ・里山懐石コース<br>
                        ・お子様御膳　<br>
                        ・幼児御膳　
                      </td>
                    </tr>
      
                    <tr class="table-row">
                      <th class="table-head">森と星空の<br>
                        キャンプヴィレッジ</th>
                      <td class="table-col">
                        ・グランピング・ワイド森のテラス　スペシャルＢＢＱプラン<br>
                        ・らくらくBBQプラン
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p class="p-red">
                  また、森のレストラン　MARCHERANTの「ディナービュッフェ」「朝食」におきましては、特定原材料８品目（卵、乳、小麦、えび、かに、そば、落花生、大豆）の使用について表示しております。これらは表示している特定原材料がその料理に使用されていることを明記したものであり、記載のない特定原材料がその料理に含まれていないことを保証するものではありません。
                </p>
                <p class="">
                  アレルゲンの除去が保証されないとお困りのお客様におかれましては、お客様の安全を第一に考え、やむを得ず食事の提供をお断りすることがございます。
その場合、御自身での食事の持ち込みをお受けいたしますので、事前にお申し出ください。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- restaurant menu -->
      <%- include('/partials/restaurant/section-menu-marcherant-buffet', {
        data: getData().data.marcherantMenu
      }) -%>





      <section class="l-section">
        <div class="l-container">
          <div class="marcherant-bottom-banner">
            <a href="#" class="link">
              <img src="<%- mix('/assets/images/marcherant/toya-banner.jpg') -%>" alt="">
              <h3 class="bottom-banner-title">
                <span class="title-text">
                  <%- include('/partials/svg', {
                    name: 'marcherant-toya-title'
                  }) %>
                </span>
                
                <i class="button-gradient-icon">
                  <%- include('/partials/svg', {
                    name: 'arrow'
                  }) %>
                </i>
              </h3>
              <p class="banner-desc">地元の旬な素材の持ち味を活かした、茂木ならではの上質な“滋味”が堪能できる料亭</p>
            </a>
          </div>
        </div>
      </section>

      <section class="toya-reservation marcherant-reservation">
        <div class="hoteltwinring-reservation">
          <div class="hotel-reservation-wrap marcherant-reservation-wrap">
            <div class="l-section-title">
              <%- include('/partials/heading', {
                modifier: 'hoteltwinring-heading-reservation fill-white',
                text: 'Reservation',
                alt: '',
                altSubtext: '',
                subtextvg: 'marcherant-reservation-title',
                altSubtextvg: 'Reservation'
              }) %>
            </div>

            <div class="reservation-cta">
              <div class="l-button cta-btn">
                <span>ホテルツインリンクにご宿泊で<br>
                  マルシェラン利用のお客様</span>
                <%- include('/partials/button', {
                  modifier: 'reservation-button',
                  text: 'ご予約はこちら',
                  link: '#'
                }) -%>
              </div>
              <div class="l-button cta-btn">
                <span>お問い合わせのお客様<br><br></span>
                <%- include('/partials/button', {
                  modifier: 'reservation-button',
                  text: '<span>Tel.0285-64-0489<br/><small>受付時間 10:00～17:30</small></span>',
                  link: '#'
                }) -%>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
    <!-- END BOTTOM -->
  </div>
</div>

<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsMarcherantDinnerBuffet
}) -%>
<%- include('/partials/footer', { pageId } ) -%>
