<%
  var title = 'Twin Ring Motegi';
  pageId = 'foodsm';
%>
<%- include('./../partials/data/index') -%>
<%- include('/partials/head', { pageId, title }) -%>


<div class="lig-content">
  <div class="subpage hellowoods-wrapper restaurant-wrapper">
    <div class="mv mv-hellowoods mv-subpage-hotel">
      <div class="mv-buttons">
        <ul class="mv-buttons-list">
          <li class="mv-buttons-item">
            <a class="mv-buttons-link" href="/hoteltwinring/information/">
              <span>ご予約</span>
            </a>
          </li>
        </ul>
      </div>
      <ul class="mv-list">
        <li class="mv-item">
          <div class="u-show-pc mv-image" style="background-image:url(<%= mix('/assets/images/hoteltwinring/mv-img.jpg') %>);"></div>
          <div class="u-show-sp mv-image" style="background-image:url(<%= mix('/assets/images/hoteltwinring/mv-img-sp.jpg') %>);"></div>
        </li>
      </ul>

      <div class="l-container mv-container">
        <div class="mv-heading hellowoods-mv-heading hoteltwinring">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods',
            heading_level: 1,
            text: 'Restaurant',
            alt: 'ホテルツインリンク',
            subtextvg: 'hoteltwinring-top-title',
            altSubtext: ''
          }) %>
        </div>

        <!-- <div class="u-show-pc mv-today mv-log mv-hoteltwinring-logo">
          <div class="mv-l-inner">
          </div>
        </div> -->
      </div>
    </div>

    <main>
      <section class="info-container info-container-hellowoods">
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-mobipark',
              text: 'Information',
              alt: 'information',
              altSubtext: '',
              subtextvg: 'info-subtext'
            }) %>
          </div>

          <div class="l-container">
            <ul class="info-list">
              <% hoteltwinringInfo.forEach(item => { %>
              <li class="info-item">
                <a href="<%- item.link %>">
                  <span><%= item.desc %></span>
                </a>
              </li>
              <% }) %>
            </ul>
          </div>
      </section>

      <section class="adventure">
        <div class="l-section-title">
          <%- include('/partials/heading', {
            modifier: 'heading-wrap-center heading-mobipark heading-foodsm',
            text: 'Restaurant',
            alt: '',
            altSubtext: '',
            subtextvg: 'info-subtext'
          }) %>
        </div>

        <ul class="adventure-container">

          <!-- marcherant -->
          <li class="adventure-list">
            <div class="adventure-bg"
              style="background-image: url(<%= mix('/assets/images/twinringmotegi/pc/bg-hellowoods.jpg') %>);">
              <div class="adventure-bg-circle"></div>
              <img class="adventure-image-logo adventure-image-logo-areaindex" src="<%= mix('/assets/images/twinringmotegi/logo_hellowoods.png') %>"
                alt="hellowoods">
            </div>

            <div class="l-adventure-sp-container">
              <div class="l-adventure">
                <div class="l-section-title l-section-title-adventure">
                  <%- include('/partials/heading', {
                    modifier: 'adventure-heading heading-title-adventure-sumika',
                    subtextvg: 'mobipark-sumika-title',
                    altSubtextvg: 'Adventure Sumika'
                  }) %>
                </div>

                <div class="l-section-title l-section-title-adventure">
                  <%- include('/partials/heading', {
                    modifier: 'restaurant-gradient-subtext',
                    imgPath: mix('https://via.placeholder.com/100x25'),
                    alt: 'alt1'
                  }) %>
                </div>

                <p class="adventure-content-copy u-show-pc">
                  森の生きものたちが隠れるすみかをテーマにした、<br/>
                  屋内の巨大ネットアスレチック。光と音の多彩な空間演出で森の1年を表現しています。
                </p>

                <p class="adventure-content-copy u-show-sp">
                  森の生きものたちが隠れるすみかをテーマにした、
                  屋内の巨大ネットアスレチック。光と音の多彩な空間演出で森の1年を表現しています。
                </p>

                <div class="l-button">
                  <%- include('/partials/button', {
                    modifier: 'button-adventure',
                    text: 'もっと見る',
                    link: '/hellowoods/'
                  }) %>
                </div>
              </div>
            </div>
          </li>

          <!-- diningtoya -->
          <li class="adventure-list">
            <div class="adventure-bg"
              style="background-image: url(<%= mix('/assets/images/twinringmotegi/pc/bg-mobipark.jpg') %>);">
              <div class="adventure-bg-circle"></div>
              <img class="adventure-image-logo adventure-image-logo-areaindex adventure-image-logo-areaindex-mobipark" src="<%= mix('/assets/images/twinringmotegi/logo-mobipark.png') %>"
                alt="hellowoods">
            </div>

            <div class="l-adventure-sp-container">
              <div class="l-adventure">
                <div class="l-section-title l-section-title-adventure">
                  <%- include('/partials/heading', {
                    modifier: 'adventure-heading heading-title-adventure-sumika',
                    subtextvg: 'mobipark-sumika-title',
                    altSubtextvg: 'Adventure Sumika'
                  }) %>
                </div>

                <p class="adventure-content-copy u-show-pc">
                  森の生きものたちが隠れるすみかをテーマにした、<br/>
                  屋内の巨大ネットアスレチック。光と音の多彩な空間演出で森の1年を表現しています。
                </p>

                <p class="adventure-content-copy u-show-sp">
                  森の生きものたちが隠れるすみかをテーマにした、
                  屋内の巨大ネットアスレチック。光と音の多彩な空間演出で森の1年を表現しています。
                </p>

                <div class="l-button">
                  <%- include('/partials/button', {
                    modifier: 'button-adventure',
                    text: 'もっと見る',
                    link: '/mobipark_m/'
                  }) %>
                </div>
              </div>
            </div>
          </li>

          <!-- caferestaurant -->
          <li class="adventure-list">
            <div class="adventure-bg"
              style="background-image: url(<%= mix('/assets/images/twinringmotegi/pc/bg-camp.jpg') %>);">
              <div class="adventure-bg-circle"></div>
              <img class="adventure-image-logo adventure-image-logo-areaindex adventure-image-logo-areaindex-campvillage" src="<%= mix('/assets/images/twinringmotegi/logo-campvillage.png') %>"
                alt="hellowoods">
            </div>

            <div class="l-adventure-sp-container">
              <div class="l-adventure l-adventure-campvillage">
                <div class="l-section-title l-section-title-adventure">
                  <%- include('/partials/heading', {
                    modifier: 'adventure-heading heading-title-adventure-sumika',
                    subtextvg: 'mobipark-sumika-title',
                    altSubtextvg: 'Adventure Sumika'
                  }) %>
                </div>

                <p class="adventure-content-copy u-show-pc">
                  森の生きものたちが隠れるすみかをテーマにした、<br/>
                  屋内の巨大ネットアスレチック。光と音の多彩な空間演出で森の1年を表現しています。
                </p>

                <p class="adventure-content-copy u-show-sp">
                  森の生きものたちが隠れるすみかをテーマにした、
                  屋内の巨大ネットアスレチック。光と音の多彩な空間演出で森の1年を表現しています。
                </p>

                <div class="l-button">
                  <%- include('/partials/button', {
                    modifier: 'button-adventure',
                    text: 'もっと見る',
                    link: '/f-glamping/'
                  }) %>
                </div>
              </div>
            </div>
          </li>

          <!-- granturismo -->
          <li class="adventure-list">
            <div class="adventure-bg"
              style="background-image: url(<%= mix('/assets/images/twinringmotegi/pc/bg-twinring.jpg') %>);">
              <div class="adventure-bg-circle"></div>
              <img class="adventure-image-logo adventure-image-logo-areaindex adventure-image-logo-areaindex-hotel" src="<%= mix('/assets/images/twinringmotegi/logo-hotel.png') %>"
                alt="hellowoods">
            </div>

            <div class="l-adventure-sp-container">
              <div class="l-adventure">
                <div class="l-section-title l-section-title-adventure">
                  <%- include('/partials/heading', {
                    modifier: 'adventure-heading heading-title-adventure-sumika',
                    subtextvg: 'mobipark-sumika-title',
                    altSubtextvg: 'Adventure Sumika'
                  }) %>
                </div>

                <p class="adventure-content-copy u-show-pc">
                  森の生きものたちが隠れるすみかをテーマにした、<br/>
                  屋内の巨大ネットアスレチック。光と音の多彩な空間演出で森の1年を表現しています。
                </p>

                <p class="adventure-content-copy u-show-sp">
                  森の生きものたちが隠れるすみかをテーマにした、
                  屋内の巨大ネットアスレチック。光と音の多彩な空間演出で森の1年を表現しています。
                </p>

                <div class="l-button">
                  <%- include('/partials/button', {
                    modifier: 'button-adventure',
                    text: 'もっと見る',
                    link: '/hoteltwinring/'
                  }) %>
                </div>
              </div>
            </div>
          </li>   
          
          <!-- ramen -->
          <li class="adventure-list">
            <div class="adventure-bg"
              style="background-image: url(<%= mix('/assets/images/twinringmotegi/pc/bg-motorsports.jpg') %>);">
              <div class="adventure-bg-circle"></div>
              <img class="adventure-image-logo adventure-image-logo-areaindex adventure-image-logo-areaindex-motorsport" src="<%= mix('/assets/images/twinringmotegi/logo-motorsports.png') %>"
                alt="hellowoods">
            </div>

            <div class="l-adventure-sp-container">
              <div class="l-adventure">
                <div class="l-section-title l-section-title-adventure">
                  <%- include('/partials/heading', {
                    modifier: 'adventure-heading heading-title-adventure-sumika',
                    subtextvg: 'mobipark-sumika-title',
                    altSubtextvg: 'Adventure Sumika'
                  }) %>
                </div>

                <p class="adventure-content-copy u-show-pc">
                  森の生きものたちが隠れるすみかをテーマにした、<br/>
                  屋内の巨大ネットアスレチック。光と音の多彩な空間演出で森の1年を表現しています。
                </p>

                <p class="adventure-content-copy u-show-sp">
                  森の生きものたちが隠れるすみかをテーマにした、
                  屋内の巨大ネットアスレチック。光と音の多彩な空間演出で森の1年を表現しています。
                </p>

                <div class="l-button">
                  <%- include('/partials/button', {
                    modifier: 'button-adventure',
                    text: 'もっと見る',
                    link: '/motorsports_m/'
                  }) %>
                </div>
              </div>
            </div>
          </li>
          
          <!-- gelateria -->
          <li class="adventure-list">
            <div class="adventure-bg"
              style="background-image: url(<%= mix('/assets/images/twinringmotegi/pc/bg-honda.jpg') %>);">
              <div class="adventure-bg-circle"></div>
              <img class="adventure-image-logo adventure-image-logo-areaindex adventure-image-logo-areaindex-hondacollection" src="<%= mix('/assets/images/twinringmotegi/logo-honda.png') %>"
                alt="hellowoods">
            </div>

            <div class="l-adventure-sp-container">
              <div class="l-adventure">
                <div class="l-section-title l-section-title-adventure">
                  <%- include('/partials/heading', {
                    modifier: 'adventure-heading heading-title-adventure-sumika',
                    subtextvg: 'mobipark-sumika-title',
                    altSubtextvg: 'Adventure Sumika'
                  }) %>
                </div>

                <p class="adventure-content-copy u-show-pc">
                  森の生きものたちが隠れるすみかをテーマにした、<br/>
                  屋内の巨大ネットアスレチック。光と音の多彩な空間演出で森の1年を表現しています。
                </p>

                <p class="adventure-content-copy u-show-sp">
                  森の生きものたちが隠れるすみかをテーマにした、
                  屋内の巨大ネットアスレチック。光と音の多彩な空間演出で森の1年を表現しています。
                </p>

                <div class="l-button">
                  <%- include('/partials/button', {
                    modifier: 'button-adventure',
                    text: 'もっと見る',
                    link: '/collection-hall/'
                  }) %>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <div class="l-section">
        <%- include('/partials/button', {
          modifier: 'restaurant-button',
          link: '',
          text: 'sample'
        }) -%>
      </div>

      <%- include('/partials/recommendation') -%>

      <%- include('/partials/pickup') -%>
    </main>
  </div>
</div>

<!-- BREADCRUMBS -->
<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsFoodsM
}) -%>
<%- include('/partials/footer', { pageId }) -%>
