<%
  var title = 'Twin Ring Motegi'
  SPRITE_SVG = '/assets/svg/sprite.svg';
%>

<%
accordionData = [
      {
        question: '小さい子どもが遊べますか？',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: '所要時間は？',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: '以下に記載している方はご利用をご遠慮ください。',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: 'トイレ・授乳室について ',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: '荷物はどこに置けばいいですか？',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: '飲食物の持ち込みは？',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: 'カメラについて',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: 'ベビーカーについて',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },

    ]
%>

<%
  recommend = [
    {
      'image': mix('/assets/images/top/how-to/img1.jpg'),
      'heading': '巨大ネットの森SUMIKA',
      'buttonLink': '#',
    },
    {
      'image': mix('/assets/images/top/how-to/img2.jpg'),
      'heading': '森感覚アスレチックDOKIDOKI',
      'buttonLink': '#',
    },
    {
      'image': mix('/assets/images/top/how-to/img3.jpg'),
      'heading': '迷宮森殿ITADAKI',
      'buttonLink': '#',
    }
  ]
%>

<%
  pickup = [
    {
      'image': mix('/assets/images/dokidoki/feature/img1.png'),
      'heading': `2019 FIM MotoGP™ 世界選手権シリーズ第16戦 MOTUL<br>日本グランプリ`,
      'date': '2019.11.02 〜 2019.11.03',
      'link': '#',
      },
    {
      'image': mix('/assets/images/dokidoki/feature/img2.png'),
      'heading': '2019 FIM MotoGP™ 世界選手権シリーズ第16戦 MOTUL<br>日本グランプリ',
      'date': '2019.11.02 〜 2019.11.03',
      'link': '#',
    },
    {
      'image': mix('/assets/images/dokidoki/feature/img3.png'),
      'heading': 'モトレーサー タイムアタック選手権2019予選',
      'date': '2019.11.02 〜 2019.11.03',
      'link': '#',
    },
    {
      'image': mix('/assets/images/dokidoki/feature/img4.png'),
      'heading': '音と光のシンフォニー　ツインリンクもてぎ花火の祭典（夏）',
      'date': '2019.11.02 〜 2019.11.03',
      'link': '#',
    }
  ]
%>
<% pageId = 'itadaki'; %>
<%- include('./../partials/head', { title }) -%>
<div class="subpage">
  <div class="mv mv-inner itadaki-mv">
    <ul class="mv-list">
      <li class="mv-item">
        <div class="mv-image" style="background-image:url(<%= mix('/assets/images/itadaki/mv-background-grey.jpg')%>);"></div>
      </li>
    </ul>

    <div class="l-container mv-container">
      <h2 class="mv-heading mv-heading-itadaki">
        <span class="mv-heading-texts">
          Forest Labyrinth
        </span>
        <span class="mv-heading-subtexts">
          <svg class="u-show-pc">
            <title>迷宮森殿ITADAKI</title>
            <use xlink:href="<%= svgSprite( SPRITE_SVG , '#sprite-itadaki-main-title') %>"></use>
          </svg>
          <svg class="u-show-sp">
            <title>迷宮森殿ITADAKI</title>
            <use xlink:href="<%= svgSprite( SPRITE_SVG , '#sprite-itadaki-main-title-sp') %>"></use>
          </svg>
        </span>
      </h2>

      <div class="mv-today">
        <div class="mv-today-inner">
        </div>
      </div>
    </div>
  </div>

  <section class="main-content l-section">
    <div class="l-container">
      <div class="heading-wrap l-heading-main">
        <h2 class="heading">
          <span class="heading-texts">
            <img src="<%= mix('/assets/images/itadaki/itadaki-main-title.png') %>" alt="itadaki">
          </span>
        </h2>
      </div>

      <!-- YOUTUBE -->
      <div class="l-youtube">
        <section class="youtube">
          <div class="youtube-iframe-container">
            <iframe width="100%" height="587" src="https://www.youtube.com/embed/6GUbJzXAcmA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </section>
      </div>

      <h3 class="table-heading">
        <img src="<%- mix('/assets/images/dokidoki/attraction-title.png') %>" alt="title">
      </h3>

      <p class="table-subheading">
        5層階に分かれ、その全てで森の生態系を体感できる、生態系ピラミッドの立体図鑑が『迷宮森殿 ITADAKI』です。1階から5階まで全部で14か所の生き物にスタンプがあり、さらに途中2か所にクイズポイントがあります。
      </p>

      <table class="table">
        <tbody>
          <tr class="table-row">
            <th class="table-head">場所</th>
            <td class="table-col">モビパーク内</td>
          </tr>

          <tr class="table-row">
            <th class="table-head">所要時間</th>
            <td class="table-col">約30分（受付は営業終了10分前まで）
            </td>
          </tr>

          <tr class="table-row">
            <th class="table-head">雨天の運行</th>
            <td class="table-col">雨天時は見合せとなります。
            </td>
          </tr>

          <tr class="table-row">
            <th class="table-head">対象者</th>
            <td class="table-col">3歳以上※1</td>
          </tr>

          <tr class="table-row">
            <th class="table-head">身長制限</th>
            <td class="table-col">なし</td>
          </tr>

          <tr class="table-row">
            <th class="table-head">料金</th>
            <td class="table-col">
              モビパークパスポート対象 <br>
              アトラクションチケット利用：800円
            </td>
          </tr>

          <tr class="table-row">
            <th class="table-head">ご利用にあたって</th>
            <td class="table-col">
              ※１小学生未満のお子様の利用について : <br>
              小学生未満のお子さまは中学生以上の同伴者の付添い（有料）が必要になります。
            </td>
          </tr>

        </tbody>
      </table>

      <h3 class="table-heading">
        <img src="<%- mix('/assets/images/dokidoki/admission-title.png') %>" alt="title">
      </h3>
      <p class="table-subheading">
        下記の日程は 混雑が予想されるため、 対象のアトラクションで時間帯ごとの入場整理券（スマートエントリー※以下、入場整理券）を配布いたします。
        期間中、対象アトラクションは入場整理券をお持ちでないとご利用いただけませんので、ご了承ください。
      </p>

      <table class="table">
        <tbody>
          <tr class="table-row">
            <th class="table-head">日程</th>
            <td class="table-col">
              9月		15日（日）、16日（月）、29日（日）<br>
              10月	15日（日）、16日（月）、29日（日）<br>
              11月	15日（日）、16日（月）、29日（日）
            </td>
          </tr>

          <tr class="table-row">
            <th class="table-head">対象アトラクション</th>
            <td class="table-col">巨大ネットの森 SUMIKA・森感覚アスレチック DOKIDOKI・迷宮森殿 ITADAKI</td>
          </tr>

          <tr class="table-row">
            <th class="table-head">配布場所</th>
            <td class="table-col">アトラクション前特設テント</td>
          </tr>

          <tr class="table-row">
            <th class="table-head">配布枚数</th>
            <td class="table-col">各回約200枚配布※1回の所要時間約40分（説明10分、遊べる時間30分、時間入れ替え割）</td>
          </tr>

          <tr class="table-row">
            <th class="table-head">配布にあたって</th>
            <td class="table-col">
              ※入場整理券は定員に達し次第、受付を終了いたします。<br>
              ※別途、モビパークパスポートまたはのりもの券をお買い求めください。<br>
              ※アトラクションには年齢制限がございます。 >>詳しくはこちら<br>
              ※混雑状況や天候などより入場整理券の配布を行わない場合は、当日モビパークまたはSNS等でお知らせいたします。
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="how-to-enjoy l-section">
    <div class="l-container">
      <div class="l-section-title">
       <div class="u-show-pc">
        <%- include('/partials/heading', {
          modifier: 'heading-enjoy',
          text: 'How to Enjoy',
          alt: 'How to Enjoy',
          subtextvg: 'itadaki-cta-title',
          altSubtext: '',
        }) %>
       </div>
       <div class="u-show-sp">
        <%- include('/partials/heading', {
          modifier: 'heading-enjoy',
          text: 'How to Enjoy',
          alt: 'How to Enjoy',
          subtextvg: 'itadaki-enjoy-point-title-sp',
          altSubtext: '',
        }) %>
       </div>
      </div>

      <div class="how-to-content">
        <div class="media u-clear">
          <div class="media-left">
            <div class="media-bg">
              <div class="media-thumb">
                <div style="background-image: url(<%= mix('/assets/images/dokidoki/enjoy-img1.png') %>);"></div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <h4 class="media-title"><span>森の生き物の巨大オブジェ＆アスレチック</span></h4>
            <p class="media-desc">
              「迷宮森殿ITADAKI」の中には、巨大で迫力満点のリアル
              な生き物や植物のオブジェがいっぱいです。自然界が作り
              出す様々な障害物やバランスボール、ネット登りで楽しみ
              ながら進みましょう！
            </p>
            
            <div class="note">
              <img class="note-flag" src="<%= mix('/assets/images/img-flag.png') %>" alt="">
              <img class="note-acorn" src="<%= mix('/assets/images/img-acorn.png') %>" alt="">
              <div class="note-text">
                最後まであきらめずに<br>
                ゴールできタネ！
              </div>
            </div>
    
          </div>
        </div>
        <div class="media u-clear">
          <div class="media-left">
            <div class="media-bg">
              <div class="media-thumb">
                <div style="background-image: url(<%= mix('/assets/images/dokidoki/enjoy-img1.png') %>);"></div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <h4 class="media-title">
              <span>1階から5階に隠された14箇所のスタンプ</span>
            </h4>
            <p class="media-desc">
              1階から5階まで全部で14箇所の生き物のスタンプが隠されています。
              さらに途中2箇所にクイズポイントがあります。できるだ
              け多くのスタンプを集め、2つのクイズに正解し、迷路を
              制覇して5階までたどり着ければ「迷宮森殿 ITADAKI」
              クリアです。
            </p>
            <div class="note">
              <img class="note-flag" src="<%= mix('/assets/images/img-flag.png') %>" alt="">
              <img class="note-acorn" src="<%= mix('/assets/images/img-acorn.png') %>" alt="">
              <div class="note-text">
                難しいコースでもこわがらずに<br>
                チャレンジできタネ！
              </div>
            </div>
          </div>
        </div>
        <div class="media u-clear">
          <div class="media-left">
            <div class="media-bg">
              <div class="media-thumb">
                <div style="background-image: url(<%= mix('/assets/images/dokidoki/enjoy-img1.png') %>);"></div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <h4 class="media-title">
              <span>森の生態系ピラミッドの立体図巻</span>
            </h4>
            <p class="media-desc">
              森の生き物たちを、食物連鎖の順番に並べていくと生態系
              ピラミッドができあがります。5階層にわかれた「迷宮森
              殿 ITADAKI」は、迷路全体で森の生態系そのものを表現
              しています。遊びの中で、階層の登るにつれて変わる、森
              の生き物や植物をみつけることができます。
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="forest l-section">
    <div class="l-container">
      <div class="l-section-title">
        <div class="u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'heading-forest',
            text: 'Ways to feel the Forest',
            alt: 'Ways to feel the Forest',
            subtextvg: 'itadaki-forest-title',
            altSubtext: '',
          }) %>
        </div>
        <div class="u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-forest',
            text: 'Ways to feel the Forest',
            alt: 'Ways to feel the Forest',
            subtextvg: 'itadaki-copy-title-sp',
            altSubtext: '',
          }) %>
        </div>
      </div>
    </div>
    <div class="swiper-container slider js-slider">
      <ul class="swiper-wrapper top-slide">
        <% forest.forEach(item => { %>
        <li class="swiper-slide slider-item">
          <div class="top-slider-image">
            <img src="<%- item.src -%>" alt="<%- item.alt -%>">
          </div>
          <span class="top-slider-text">
            <%- item.desc -%>
          </span>
        </li>
        <% } ) %>
      </ul>
    </div>
  </section>

  <section class="youtube-video l-section">
      <div class="l-container">
        <div class="l-section-title">
         <div class="u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'heading-forest',
            text: 'Ways to feel the Forest',
            alt: 'Ways to feel the Forest',
            subtextvg: 'itadaki-forest-title',
            altSubtext: '',
          }) %>
         </div>
         <div class="u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-forest',
            text: 'Ways to feel the Forest',
            alt: 'Ways to feel the Forest',
            subtextvg: 'itadaki-videos-title-sp',
            altSubtext: '',
          }) %>
         </div>
        </div>
        <div class="youtube-video-content">
          <ul class="youtube-video-list row">
            <li class="youtube-video-item col-lg-6 col-md-6 col-sm-12">
              <div class="youtube-video-wrapper">
                <div class="youtube-video-inner">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/QwxqqkbxhiM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              <p class="youtube-video-description">仲間とチャレンジコースに挑戦！</p>
            </li>
            <li class="youtube-video-item col-lg-6 col-md-6 col-sm-12">
              <div class="youtube-video-wrapper">
                <div class="youtube-video-inner">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/D8-Z6rgRe1I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              <p class="youtube-video-description">DOKIDOKI タイムアタック映像！</p>
            </li>
          </ul>
        </div>
      </div>
  </section>

  <section class="faq l-section">
    <%- include('/partials/accordion') %>
  </section>

  <div class="call-to-action">
    <div class="l-container">
      <div class="call-to-action-wrapper">
        <div class="call-to-action-inner">
          <h2 class="heading">
            <span class="heading-texts">
              <img src="<%= mix('/assets/images/itadaki/itadaki-enjoy-more-title.png') %>" alt="sumika">
            </span>
          </h2>
          <div class="call-to-action-description">
            <p class="call-to-action-description-text">
              ITADAKIのこだわりポイントや、<br>
              知っているともっと楽しくなる情報を配信中しています。
            </p>
          </div>
          <div class="l-button l-button-call-to-action">
            <%- include('/partials/button', {
              modifier: 'button-sumika',
              text: 'もっと見る',
              link: '#'
            }) %>
          </div>
          <span class="call-to-action-dot call-to-action-dot-1">
            <img src="<%- mix('/assets/images/sumika/net-sumika/sumika-net-1.png')%> ">
          </span>
          <span class="call-to-action-dot call-to-action-dot-2">
            <img src="<%- mix('/assets/images/sumika/net-sumika/sumika-net-2.png')%> ">
          </span>
          <span class="call-to-action-dot call-to-action-dot-3">
            <img src="<%- mix('/assets/images/sumika/net-sumika/sumika-net-3.png')%> ">
          </span>
          <span class="call-to-action-dot call-to-action-dot-4">
            <img src="<%- mix('/assets/images/sumika/net-sumika/sumika-net-4.png')%> ">
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-cta">
    <div class="l-container">
      <div class="banner-cta-inner">
        <a href="#">
          <img src="<%- mix('/assets/images/sumika/company-logo.jpg')%> ">
        </a>
      </div>
    </div>
  </div>

  <section class="recommendation">
    <div class="l-section-title">
      <%- include('/partials/heading', {
        modifier: 'heading-recommend',
        text: 'Recommendation',
        altSubtext: '',
        subtextvg: 'recommendation-title'
      }) %>
    </div>
      <div class="swiper-container slider js-slider-bottom">
        <ul class="swiper-wrapper slider-wrapper">
          <% getData().data.recommend.forEach(item => { %>
          <li class="swiper-slide slider-item">
            <%- include('/partials/article-no-design', {
              image: item.image,
              heading: item.heading,
              buttonLink: item.buttonLink,
              buttonText: 'モビパーク'
            }) %>
          </li>
          <% }) %>
        </ul>
      </div>
  </section>

  <section class="pick-up">
    <div class="l-section-title">
      <%- include('/partials/heading', {
        modifier: 'heading-pickup',
        text: 'Pick Up',
        altSubtext: '',
        subtextvg: 'pickup-event'
      }) %>
    </div>
    <div class="l-container">
      <div class="pick-inner">
        <ul class="pickup-list row">
          <% getData().data.pickup.forEach(item => { %>
          <li class="pickup-list-item col-lg-3 col-md-3 col-sm-6">
            <%- include('/partials/article', {
              category: item.category,
              image: item.image,
              heading: item.heading,
              date: item.date,
              link: item.link,
              modifier: 'pickup-article'
            }) %>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </section>
</div>
<%- include('./../partials/footer', {pageId} ) -%>