<%
  var title = 'Twin Ring Motegi | 森の教習所'
  SPRITE_SVG = '/assets/svg/sprite.svg';
  pageId = 'oak';
%>
<% include('/partials/data/index') %>
<%- include('/partials/head', { pageId, title }) -%>

<div class="lig-content">
  <div class="subpage subpage-restaurant restaurant-wrapper">
    <div class="mv mv-restaurant mv-subpage-restaurant">
      <div class="mv-buttons">
        <ul class="mv-buttons-list">
          <li class="mv-buttons-item">
            <a class="mv-buttons-link" href="/foods_m/">
              <span>ご予約</span>
            </a>
          </li>
        </ul>
      </div>

      <ul class="mv-list">
        <li class="mv-item">
          <div class="mv-image mv-image-subpage u-show-pc" style="background-image:url(<%= mix('/assets/images/oak/mv-img.jpg') %>);"></div>
          <div class="mv-image mv-image-subpage u-show-sp" style="background-image:url(<%= mix('/assets/images/oak/mv-img-sp.jpg') %>);"></div>
        </li>
      </ul>

      <div class="l-container mv-container">
        <div class="mv-heading hellowoods-mv-heading oak-mv-heading u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods',
            heading_level: 1,
            text: 'Cafe Restaurant OAK',
            subtextvg: 'oak-top-title',
            altSubtextvg: 'カフェレストラン オーク'
          }) %>
        </div>
        <div class="mv-heading hellowoods-mv-heading oak-mv-heading u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods',
            heading_level: 1,
            text: 'Cafe Restaurant OAK',
            subtextvg: 'oak-top-title-sp',
            altSubtextvg: 'カフェレストラン オーク'
          }) %>
        </div>
      </div>
    </div>

    <main>
      <div class="subpage-inner-wrap">
        <div class="subpage-inner">
          <div class="l-section-title u-show-pc">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-restaurant heading-oak',
              subtextvg: 'oak-main-title',
              altSubtextvg: `家族みんなで楽しめる『森』をテーマにした オリジナルメニューが盛りだくさん!!`
            }) %>
          </div>

          <div class="l-section-title u-show-sp">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-restaurant heading-oak',
              subtextvg: 'oak-main-title-sp',
              altSubtextvg: `家族みんなで楽しめる『森』をテーマにした オリジナルメニューが盛りだくさん!!`
            }) %>
          </div>

          <div class="subpage-banner subpage-banner-craft">
            <div class="subpage-banner-inner">
              <img class="u-show-pc" src="<%= mix('/assets/images/oak/subpage-banner.jpg') %>" alt="家族みんなで楽しめる『森』をテーマにした オリジナルメニューが盛りだくさん!!">
              <img class="u-show-sp" src="<%= mix('/assets/images/oak/subpage-banner-sp.jpg') %>" alt="家族みんなで楽しめる『森』をテーマにした オリジナルメニューが盛りだくさん!!">
            </div>
          </div>

          <h3 class="subpage-title">
            <span>店舗情報</span>
          </h3>

          <!-- <p>自分の想いをカタチにして、いつの間にか夢中になれるクラフト時間。自然素材を自由に加工して、<br class="u-show-pc"/>思い出をお土産にしよう</p> -->

          <table class="table table-craft">
            <tbody>
              <tr class="table-row">
                <th class="table-head">場所</th>
                <td class="table-col">
                  中央エントランス（最寄の駐車場：N1）
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">営業時間</th>
                <td class="table-col">
                  ツインリンクもてぎ営業時間内
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">座席数</th>
                <td class="table-col">店内：98 　テラス：120</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- restaurant menu -->
      <%- include('/partials/restaurant/section-menu') -%>

      <div class="l-section oak-button">
        <p class="u-show-pc">
          この他にも、様々なメニューをご用意しております。
        </p>

        <p class="u-show-sp">
          この他にも、様々なメニューを<br/>ご用意しております。
        </p>

        <div class="u-show-pc">
          <%- include('/partials/button', {
            modifier: 'restaurant-button',
            link: '#',
            text: '冬のおすすめメニューはこちら (PDF:4.1MB)'
          }) -%>
        </div>

        <div class="u-show-sp">
          <%- include('/partials/button', {
            modifier: 'restaurant-button',
            link: '#',
            text: '冬のおすすめメニューは<br/>こちら (PDF:4.1MB)'
          }) -%>
        </div>
      </div>

      <!-- other restaurant module-->
      <%- include('/partials/restaurant/other-menu') -%>
      

    </main>
    <!-- END BOTTOM -->
  </div>
</div>

<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsOak
}) -%>
<%- include('/partials/footer', { pageId } ) -%>
