<%
  var title = 'Twin Ring Motegi'
  SPRITE_SVG = '/assets/svg/sprite.svg';
%>

<%
  instaData = [
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    }
  ]
%>

<%
accordionData = [
      {
        question: '小さい子どもが遊べますか？',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: '所要時間は？',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: '以下に記載している方はご利用をご遠慮ください。',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: 'トイレ・授乳室について ',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: '荷物はどこに置けばいいですか？',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: '飲食物の持ち込みは？',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: 'カメラについて',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: 'ベビーカーについて',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      
    ]
%>

<%
  recommend = [
    {
      'image': mix('/assets/images/forest-driving/recommendation-img1.jpg'),
      'heading': '巨大ネットの森SUMIKA',
      'buttonLink': '#',
    },
    {
      'image': mix('/assets/images/forest-driving/recommendation-img2.jpg'),
      'heading': '森感覚アスレチックDOKIDOKI',
      'buttonLink': '#',
    },
    {
      'image': mix('/assets/images/forest-driving/recommendation-img3.jpg'),
      'heading': '迷宮森殿ITADAKI',
      'buttonLink': '#',
    }
  ]
%>

<%
  pickup = [
    {
      'image': mix('/assets/images/dokidoki/feature/img1.png'),
      'heading': `2019 FIM MotoGP™ 世界選手権シリーズ第16戦 MOTUL<br>日本グランプリ`,
      'date': '2019.11.02 〜 2019.11.03',
      'link': '#',
      },
    {
      'image': mix('/assets/images/dokidoki/feature/img2.png'),
      'heading': '2019 FIM MotoGP™ 世界選手権シリーズ第16戦 MOTUL<br>日本グランプリ',
      'date': '2019.11.02 〜 2019.11.03',
      'link': '#',
    },
    {
      'image': mix('/assets/images/dokidoki/feature/img3.png'),
      'heading': 'モトレーサー タイムアタック選手権2019予選',
      'date': '2019.11.02 〜 2019.11.03',
      'link': '#',
    },
    {
      'image': mix('/assets/images/dokidoki/feature/img4.png'),
      'heading': '音と光のシンフォニー　ツインリンクもてぎ花火の祭典（夏）',
      'date': '2019.11.02 〜 2019.11.03',
      'link': '#',
    }
  ]
%>

<%- include('/partials/head', { title }) -%>

<div class="mv-forest-driving">
  <ul class="mv-list">
    <li class="mv-item">
      <div class="mv-image u-show-pc" style="background-image:url(<%= mix('/assets/images/forest-driving/mv-img.png') %>);"></div>

      <div class="mv-image u-show-sp" style="background-image:url(<%= mix('/assets/images/forest-driving/mobile-mv-img.png') %>);"></div>
    </li>
  </ul>

  <div class="l-container mv-container">
    <h2 class="mv-heading">
      <span class="mv-heading-text">
        森の教習所
      </span>
    </h2>
  </div>

</div>

<section class="main-content">
  <div class="l-container">
    <div class="l-section-title">
      <div class="heading-wrap heading-forest-driving">
        <h2 class="heading">
          <span class="heading-texts u-show-pc">
            <img src="<%= mix('/assets/images/forest-driving/forest-driving-title.png') %>" alt="forest-driving">
          </span>
          <span class="heading-texts u-show-sp">
            <img src="<%= mix('/assets/images/forest-driving/sp-forest-driving-title.png') %>" alt="forest-driving">
          </span>
        </h2>
      </div>
    </div>

    <!-- BANNER -->
    <div class="l-banner">
      <section class="banner">
        <div class="banner-container">
          <img class="u-show-pc" src="<%= mix('/assets/images/forest-driving/banner.jpg') %>" alt="forest forest-driving">

          <img class="u-show-sp" src="<%= mix('/assets/images/forest-driving/sp-banner.jpg') %>" alt="forest-driving">
        </div>
      </section>
    </div>

    <h3 class="attraction-title">
      <img src="<%- mix('/assets/images/forest-driving/attraction-title.png') %>" alt="forest-driving">
    </h3>

    <p class="attraction-subtext">
      信号や横断歩道、道路標識や踏み切りなど森の市街地の中で交通ルールを学びながら優秀運転免許証を
取得しよう。
    </p>

    <table class="table">
      <tbody>
        <tr class="table-row">
          <th class="table-head">場所</th>
          <td class="table-col">モビパーク内</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">所要時間</th>
          <td class="table-col">約5分
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">雨天の運行</th>
          <td class="table-col">雨天でも営業いたしております。
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">対象者</th>
          <td class="table-col">0歳以上でひとり座りできる方※
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">身長制限</th>
          <td class="table-col">なし</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">料金</th>
          <td class="table-col">
            モビパークパスポート対象 <br>
アトラクションチケット利用：400円
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">ご利用にあたって</th>
          <td class="table-col">
            5歳未満のお子様について：<br>
5歳未満のお子さまは中学生以上の同伴者の付添いが必要になります。
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</section>

<section class="how-to-enjoy">
  <div class="l-container">
    <div class="l-section-title">
      <%- include('/partials/heading', {
        'modifier': 'heading-forest-driving',
        'text': mix('/assets/images/forest-driving/how-to-enjoy.png'),
        'alt': 'アクロエックスを楽しむポイント',
        'subtextvg': 'forest-enjoy-subtext',
        'altSubtext': '',
      }) %>
    </div>

    <div class="how-to-content">
      <div class="media u-clear">
        <div class="media-left">
          <div class="media-bg">
            <div class="media-thumb u-show-pc">
              <div style="background-image: url(<%= mix('/assets/images/forest-driving/enjoy-img1.png') %>);"></div>
            </div>

            <div class="media-thumb u-show-sp">
              <div style="background-image: url(<%= mix('/assets/images/forest-driving/sp-enjoy-img1.png') %>);"></div>
            </div>
          </div>
        </div>
        <div class="media-right">
          <h4 class="media-title">
            <span>運転しながら交通ルールを学ぼう！</span>
          </h4>
          <p class="media-desc">
            子どもが一人で運転できる教習車で挑戦。<br>
信号や横断歩道、踏み切りなどが <br>
再現された森の教習所で交通ルールを学ぼう！
          </p>
        </div>
      </div>
      <div class="media u-clear">
        <div class="media-left">
          <div class="media-bg">
            <div class="media-thumb u-show-pc">
              <div style="background-image: url(<%= mix('/assets/images/forest-driving/enjoy-img2.png') %>);"></div>
            </div>

            <div class="media-thumb u-show-sp">
              <div style="background-image: url(<%= mix('/assets/images/forest-driving/sp-enjoy-img2.png') %>);"></div>
            </div>
          </div>
        </div>
        <div class="media-right">
          <h4 class="media-title">
            <div class="u-show-pc">
              <span>
                交通ルールを守ってプラチナ免許をゲット！
              </span>
            </div>

            <div class="u-show-sp">
              <span>交通ルールを守ってプラチナ免許を</span>
              <span>ゲット！</span>
            </div>

            
          </h4>
          <p class="media-desc">
            交通ルールを守って走行できると得点がアップ。<br>
90点以上はゴールド免許、 <br>
100点満点ならプラチナ免許がゲットできるよ！
          </p>
      
          <div class="media-bottom">
            <div class="media-note">
              <img class="media-note-flag" src="<%= mix('/assets/images/img-flag.png') %>" alt="">
              <img class="media-note-acorn" src="<%= mix('/assets/images/img-acorn.png') %>" alt="">
              <div class="media-note-text">
                100点取れたら… <br>
                交通ルールを守れタネ！
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- BOTTOM -->

<section class="forest-driving-cta">
  <div class="l-container">
    <div class="forest-driving-cta-wrapper">
      <div class="forest-driving-cta-inner">
        <div class="l-section-title u-show-pc">
          <%- include('/partials/heading', {
            'modifier': 'heading-net-forest-driving',
            'text': mix('/assets/images/forest-driving/forest-driving-cta.png'),
            'alt': 'アクロエックスをもっと楽しむ',
            'altSubtext': '',
            'subtextvg': ''
          }) %>
        </div>

        <div class="l-section-title u-show-sp">
          <%- include('/partials/heading', {
            'modifier': 'heading-net-forest-driving',
            'text': mix('/assets/images/forest-driving/sp-forest-driving-cta.png'),
            'alt': 'アクロエックスをもっと楽しむ',
            'altSubtext': '',
            'subtextvg': ''
          }) %>
        </div>
        

        <div class="forest-driving-cta-description">
          <p class="forest-driving-cta-description-text">
            森の教習所のこだわりポイントや、<br>
知っているともっと楽しくなる情報を配信中しています。
          </p>
        </div>
        <div class="l-button">
          <%- include('/partials/button', {
            'modifier': 'button-forest-driving',
            'text': 'もっと見る',
            'link': '#'
          }) %>
        </div>
        <span class="forest-driving-cta-dot forest-driving-cta-dot-1">
          <img src="<%- mix('/assets/images/forest-driving/cta-img1.png')%> ">
        </span>
        <span class="forest-driving-cta-dot forest-driving-cta-dot-2">
          <img src="<%- mix('/assets/images/forest-driving/cta-img2.png')%> ">
        </span>
        <span class="forest-driving-cta-dot forest-driving-cta-dot-3">
          <img src="<%- mix('/assets/images/forest-driving/cta-img4.png')%> ">
        </span>
        <span class="forest-driving-cta-dot forest-driving-cta-dot-4">
          <img src="<%- mix('/assets/images/forest-driving/cta-img3.png')%> ">
        </span>
      </div>
    </div>
  </div>
</section>

<div class="forest-driving-cta-bottom">
  <div class="l-container">
    <div class="forest-driving-cta-bottom-inner">
      <img src="<%= mix('/assets/images/forest-driving/cta-bottom.jpg') %>">
    </div>
  </div>
</div>

<section class="forest-driving-recommendation">
  <div class="l-section-title">
    <%- include('/partials/heading', {
      'modifier': 'heading-net-forest-driving',
      'text': mix('/assets/images/recommendation.png'),
      'alt': 'recommendation',
      'altSubtext': '',
      'subtextvg': 'recommendation-subtext'
    }) %>
  </div>

  <div class="l-container">
    <ul class="feature-list feature-list-no-design">
      <% recommend.forEach(item => { %>
      <li class="feature-item">
        <%- include('/partials/article-no-design', {
          'image': item.image,
          'heading': item.heading,
          'buttonLink': item.buttonLink,
          'buttonText': 'モビパーク'
        }) %>
      </li>
      <% }) %>
    </ul>
  </div>
</section>

<section class="forest-driving-pick-up">
  <div class="l-section-title">
    <%- include('/partials/heading', {
      'modifier': 'heading-net-forest-driving',
      'text': mix('/assets/images/pickup.png'),
      'alt': 'pickup',
      'altSubtext': '',
      'subtextvg': 'pickup'
    }) %>
  </div>

  <div class="l-container">
    <ul class="feature-list">
      <% pickup.forEach(item => { %>
      <li class="feature-item">
        <%- include('/partials/article', {
          'category': item.category,
          'image': item.image,
          'heading': item.heading,
          'date': item.date,
          'link': item.link
        }) %>
      </li>
      <% }) %>
    </ul>
  </div>
</section>
<!-- END BOTTOM -->

<%- include('/partials/footer') -%>