<%
  var title = 'ご宿泊予約｜ホテルツインリンク｜ツインリンクもてぎ';
  pageId = 'information';
%>
<%- include('/partials/head', { pageId, title }) -%>

<div class="lig-content">
  <div class="subpage">
    <div class="mv mv-subpage mv-subpage-reserve">
      <ul class="mv-list">
        <li class="mv-item">
          <div class="u-show-pc mv-image" style="background-image:url(<%= mix('/assets/images/hours_m/top-image.jpg') %>);"></div>
          <div class="u-show-sp mv-image" style="background-image:url(<%= mix('/assets/images/hours_m/top-image-sp.jpg') %>);"></div>
        </li>
      </ul>


      <div class="l-container mv-container">
        <div class="mv-heading hellowoods-mv-heading reservation-mv-heading">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods heading-reservation',
            heading_level: 1,
            text: 'Reservation',
            subtextvg: 'information-title'
          }) %>
        </div>

        <!-- <div class="u-show-pc mv-today mv-log mv-granroom-logo">
          <div class="mv-l-inner">
          </div>
        </div> -->
      </div>

      <!-- <h1 class="mv-heading mv-heading-subpage">
        <span class="mv-heading-text mv-heading-text-reserve">
          ご宿泊予約
        </span>
      </h1> -->
    </div>
    <main>
      <section class="subpage-section">
        <div class="subpage-inner">
          <iframe src="//www.google.com/calendar/embed?showTitle=0&amp;?height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=53u3shra2nqa1buep9ain7sis4%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=Asia%2FTokyo" style=" border-width:0 " width="960" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
      </section>
      
      <%- include('/partials/recommendation') -%>

      <%- include('/partials/pickup') -%>
    </main>
  </div>
</div>

<!-- BREADCRUMBS -->
<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsReserve
}) -%>
<%- include('/partials/footer', { pageId }) -%>