<%
stepsData = [
  {
    'step': '1',
    'image': '/assets/images/tsubasa/step_01.jpg',
    'heading': '装備装着',
    'subHeading': '安全ベルト「ハーネス」初体験',
    'subText': 'まずは安全ベルト「ハーネス」を装着。これで空を飛ぶ準備は万端だ！'
  },
  {
    'step': '2',
    'image': '/assets/images/tsubasa/step_02.jpg',
    'heading': '飛び方の説明',
    'subHeading': 'これで不安解消',
    'subText': '飛び方や止まり方の方法を詳しくレクチャーするぞ'
  },
  {
    'step': '3',
    'image': '/assets/images/tsubasa/step_03.jpg',
    'heading': 'ハイタッチ',
    'subHeading': '準備OKの合図',
    'subText': '準備ができたら、スタッフとハイタッ チして出発だ！'
  },
  {
    'step': '4',
    'image': '/assets/images/tsubasa/step_04.jpg',
    'heading': 'いざ出発。',
    'subHeading': 'スタッフと一緒にプチ登山！',
    'subText': '冒険の塔、冒険のつり橋を渡って、いざスタートデッキへ！'
  },
  {
    'step': '5',
    'image': '/assets/images/tsubasa/step_05.jpg',
    'heading': 'スタートデッキ到着！',
    'subHeading': '景色を楽しみながら「心の準備」',
    'subText': 'いよいよスタートデッキ到着！日本最大級！往復561m"森からサーキットの大空へ"空中散歩を楽しもう！'
  },
  {
    'step': '6',
    'image': '/assets/images/tsubasa/step_06.jpg',
    'heading': '指差し確認',
    'subHeading': 'プーリー「よし！」カラビナ「よし！」',
    'subText': '安全に飛ぶために、ワイヤーと滑車がちゃんとかかっているかスタッフと一緒に"指差し確認"だ！'
  },
  {
    'step': '7',
    'image': '/assets/images/tsubasa/step_07.jpg',
    'heading': 'スタート直前',
    'subHeading': 'カメラの準備はOK？',
    'subText': 'いよいよフライト直前！応援席からシャッターチャンスを狙え！'
  },
  {
    'step': '8',
    'image': '/assets/images/tsubasa/step_08.jpg',
    'heading': '3カウントで出発！',
    'subHeading': 'スタッフと一緒に声だしちゃおう！',
    'subText': 'まずは343mの空中滑走！森を抜けてサーキットの特等席までひとっ飛びだ！'
  },
  {
    'step': '9',
    'image': '/assets/images/tsubasa/step_09.jpg',
    'heading': '中間デッキ到着！',
    'subHeading': 'VIPスイートよりも高い特等席',
    'subText': '一周4.8kmの広大な国際レーシングコースを一望！レース開催日は「一番の特等席」だ！'
  },
  {
    'step': '10',
    'image': '/assets/images/tsubasa/step_10.jpg',
    'heading': 'ゴールデッキへ',
    'subHeading': '218mの空中滑走！',
    'subText': '中間デッキからゴールに向かって出発！ご家族・ご友人がカメラを構えて待って るかも！'
  },
  {
    'step': 'goal',
    'image': '/assets/images/tsubasa/step-goal.png',
    'heading': '最後は安全ベルト「ハーネス」を着たまま記念撮影しよう！',
    'subHeading': '',
    'subText': '',
    'subImage': '/assets/images/tsubasa/step-dekitane.png',
  }
];

%>



<ul class="steps-list">
  <%
  stepsData.forEach(item => {
  %>
  <li class="steps-list-item step-<%= item.step %>">
    <div class="step-no">
      <img class="img-step" src="/assets/images/tsubasa/step.png" alt="Goal">
      <img src="/assets/images/tsubasa/<%= item.step %>.png" alt="Goal">
    </div>
    <div class="step-image">
      <img src="<%= item.image %>" alt="Step 1">
    </div>
    <div class="step-title"><%= item.heading %></div>
    <div class="step-subtitle"><%= item.subHeading %></div>
    <p class="step-desc">
      <%= item.subText %>
    </p>

    <%if (item.subImage) { %>
      <div class="sub-image">
        <img src="<%= item.subImage %>" alt="Goal">
      </div>
    <% } %>

  </li>
  <% }) %>
</ul>