<% if(dataMobiparkGuideItems) { %>
<ul class="guide-list">
  <% dataMobiparkGuideItems.forEach( item => { %>
    <li class="guide-items" data-age="<%- item.age %>" data-grade="<%- item.grade %>" data-passport="<%- item.passport %>" >
      <p class="media-title media-title-programdetails">
        <span class="media-title-text"><%- item.title %></span>
      </p>
      <div class="wrapper-container">
        <div class="area-item-image-wrapper">
          <a href="<%- item.link %>">
            <img src="<%- item.imgPath %>" alt="Mobi Park">
          </a>
        </div>
        <div class="area-item-desc-wrapper">
          <h3 class="subpage-title">
            <span><a class="title-underline" href="<%- item.link %>"><%- item.colorTitle %> </a></span>
            <% if(item.passport) { %>
              <img class="passport" src="<%= mix('/assets/images/mobipark-guide/icon_pass.png') %>" alt="Passport">
            <% } %>
          </h3>
          <ul class="carbike-article-list">
            <ul class="carbike-article-list">
              <% item.dataList.forEach( dataitem => { %>
                <li class="carbike-article-list-item">
                  <span class="carbike-article-list-label"><%= dataitem.label %></span>
                  <p class="carbike-article-list-desc"><%- dataitem.content %></p>
                </li>
              <% }) %>
            </ul>
          </ul>
        </div>
      </div>
    </li>
  <% }) %>
</ul>
<% } %>