
<%
  var title = 'Twin Ring Motegi'
  SPRITE_SVG = '/assets/svg/sprite.svg';
%>



<% 


    pickup = [
      {
        'image': mix('/assets/images/top/feature/img1.jpg'),
        'heading': `2019 FIM MotoGP™ 世界選手権シリーズ第16戦 MOTUL<br>日本グランプリ`,
        'date': '2019.11.02 〜 2019.11.03',
        'link': '#',
        },
      {
        'image': mix('/assets/images/top/feature/img2.jpg'),
        'heading': '2019 FIM MotoGP™ 世界選手権シリーズ第16戦 MOTUL<br>日本グランプリ',
        'date': '2019.11.02 〜 2019.11.03',
        'link': '#',
      },
      {
        'image': mix('/assets/images/top/feature/img3.jpg'),
        'heading': 'モトレーサー タイムアタック選手権2019予選',
        'date': '2019.11.02 〜 2019.11.03',
        'link': '#',
      },
      {
        'image': mix('/assets/images/top/feature/img3.jpg'),
        'heading': '音と光のシンフォニー　ツインリンクもてぎ花火の祭典（夏）',
        'date': '2019.11.02 〜 2019.11.03',
        'link': '#',
      }
    
    ]

    instagram = [
      {
        'image': mix('/assets/images/sumika/net-sumika/insta-1.png'),
        'alt' : ''
      },
      {
        'image': mix('/assets/images/sumika/net-sumika/insta-2.jpg'),
        'alt' : ''
      },
      {
        'image': mix('/assets/images/sumika/net-sumika/insta-3.jpg'),
        'alt' : ''
      },
      {
        'image': mix('/assets/images/sumika/net-sumika/insta-4.jpg'),
        'alt' : ''
      },
      {
        'image': mix('/assets/images/sumika/net-sumika/insta-5.jpg'),
        'alt' : ''
      },
      {
        'image': mix('/assets/images/sumika/net-sumika/insta-6.jpg'),
        'alt' : ''
      },
      {
        'image': mix('/assets/images/sumika/net-sumika/insta-7.jpg'),
        'alt' : ''
      },
      {
        'image': mix('/assets/images/sumika/net-sumika/insta-8.jpg'),
        'alt' : ''
      },
      {
        'image': mix('/assets/images/sumika/net-sumika/insta-9.jpg'),
        'alt' : ''
      },
      {
        'image': mix('/assets/images/sumika/net-sumika/insta-10.jpg'),
        'alt' : ''
      }
    ] 
%>
<%
accordionData = [
      {
        question: '小さい子どもが遊べますか？',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: '所要時間は？',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: '以下に記載している方はご利用をご遠慮ください。',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: 'トイレ・授乳室について ',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: '荷物はどこに置けばいいですか？',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: '飲食物の持ち込みは？',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: 'カメラについて',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      {
        question: 'ベビーカーについて',
        answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                    ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                    ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                    は3～6歳のお子様限定のエリアです。<br>
                    ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
      },
      
    ]
%>

<% 
recommend = [
{
  'image': mix('/assets/images/top/how-to/img1.jpg'),
  'heading': '巨大ネットの森SUMIKA',
  'buttonLink': '#',
},
{
  'image': mix('/assets/images/top/how-to/img2.jpg'),
  'heading': '森感覚アスレチックDOKIDOKI',
  'buttonLink': '#',
},
{
  'image': mix('/assets/images/top/how-to/img3.jpg'),
  'heading': '迷宮森殿ITADAKI',
  'buttonLink': '#',
},
{
  'image': mix('/assets/images/top/how-to/img2.jpg'),
  'heading': '森感覚アスレチックDOKIDOKI',
  'buttonLink': '#',
},
{
  'image': mix('/assets/images/top/how-to/img3.jpg'),
  'heading': '迷宮森殿ITADAKI',
  'buttonLink': '#',
},
{
  'image': mix('/assets/images/top/how-to/img1.jpg'),
  'heading': '巨大ネットの森SUMIKA',
  'buttonLink': '#',
},
]
%>

<%- include('./../partials/head', { title }) -%>

<div class="mv-sumika">
  <div class="l-container"></div>
</div>

<section class="">
  <div class="l-container">
    <h2 class="">
      “里山の森の１年”を再現。
      光と音の屋内アスレチック
    </h2>

    <!-- YOUTUBE -->

    <h3 class="">アトラクション情報</h3>
    <p class="">
      肉食動物や大きな鳥から小動物まで、あらゆる生きもの達の隠れ家となっている場所、それがすみか。 ネットが張りめぐらされた「巨大ネ
    </p>

    <table class="table">
      <tbody>
        <tr class="table-row">
          <th class="table-head">場所</th>
          <td class="table-col">モビパーク内</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">所要時間</th>
          <td class="table-col">説明10分、遊ぶ時間30分の計40分（受付終了時間は営業終了の約1時間前）</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">雨天の運行</th>
          <td class="table-col">屋内施設となりますので、雨天時でもお楽しみいただけます。</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">対象者</th>
          <td class="table-col">3歳以上※1</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">身長制限</th>
          <td class="table-col">なし</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">料金</th>
          <td class="table-col">
            モビパークパスポート対象
            アトラクションチケット利用：800円
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">ご利用にあたって</th>
          <td class="table-col">
            服装について : <br>
            靴を脱いでのご利用となります。 必ず靴下を履いてご利用ください。なお、指先が分かれたタイプの靴下、たび、ストッキング、タイツはご利用いただけません。もし、ご準備ない場合は、SUMIKA内に、靴下の自動販売機がございますのでご利用ください。
            <br>
            ※１小学生未満のお子様の利用について : <br>
            小学生未満のお子さまは中学生以上の同伴者の付添い（有料）が必要になります。
            <br>
            0歳〜2歳のお子様の利用について : <br>
            0歳〜2歳のお子様は遊具では遊ぶことはできません。保護者様同伴（有料）にてSUMIKA内の芝生のレストエリアをご利用いただけます。
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</section>

<section class="">
  <div class="l-container">
    <h3 class="">入場整理券（スマートエントリー）配布のお知らせ</h3>
    <p class="">
      下記の日程は 混雑が予想されるため、 対象のアトラクションで時間帯ごとの入場整理券（スマートエントリー※以下、入場整理券）を配布いたします。
      期間中、対象アトラクションは入場整理券をお持ちでないとご利用いただけませんので、ご了承ください。
    </p>

    <table class="table">
      <tbody>
        <tr class="table-row">
          <th class="table-head">日程</th>
          <td class="table-col">
            9月		15日（日）、16日（月）、29日（日）<br>
            10月	15日（日）、16日（月）、29日（日）<br>
            11月	15日（日）、16日（月）、29日（日）
          </td>
        </tr>
          
        <tr class="table-row">
          <th class="table-head">対象アトラクション</th>
          <td class="table-col">巨大ネットの森 SUMIKA・森感覚アスレチック DOKIDOKI・迷宮森殿 ITADAKI</td>
        </tr>
        
        <tr class="table-row">
          <th class="table-head">配布場所</th>
          <td class="table-col">アトラクション前特設テント</td>
        </tr>
        
        <tr class="table-row">
          <th class="table-head">配布枚数</th>
          <td class="table-col">各回約200枚配布※1回の所要時間約40分（説明10分、遊べる時間30分、時間入れ替え割）</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">配布にあたって</th>
          <td class="table-col">
            ※入場整理券は定員に達し次第、受付を終了いたします。
            ※別途、モビパークパスポートまたはのりもの券をお買い求めください。
            ※アトラクションには年齢制限がございます。 >>詳しくはこちら
            ※混雑状況や天候などより入場整理券の配布を行わない場合は、当日モビパークまたはSNS等でお知らせいたします。
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="">
  <div class="l-container">
    <h3 class="">How to Enjoy</h3 class="">
    <p class="">SUMIKAを楽しむポイント</p>

    <div class="-content">
      <div class="media u-clear">
        <div class="media-left">
          <div class="media-bg">
            <div class="media-thumb">
              <div style="background-image: url(https://via.placeholder.com/350x150);"></div>
            </div>
          </div>
        </div>
        <div class="media-right">
          <h4 class="media-title"><span>舞台は森の生きもの達のすみか！</span></h4>
          <p class="media-desc">
            夜明け直後は多くの森の生きものが活動を始める賑やかな時間となり、昼間は強い生きものが中心に活動し、夜になると夜行性の生きものが闇に隠れて動き始めます。「巨大ネットの森「SUMIKA」では、そんなリアルな森の雰囲気を音で再現します。
          </p>
      
          <div class="media-bottom">
            <div class="media-note">
              <img class="media-note-flag" src="<%= mix('/assets/images/img-flag.png') %>" alt="">
              <img class="media-note-acorn" src="<%= mix('/assets/images/img-acorn.png') %>" alt="">
              <div class="media-note-text">
                SUMIKAの中で、<br>
                森の仲間たちを感じられタネ！
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media u-clear">
        <div class="media-left">
          <div class="media-bg">
            <div class="media-thumb">
              <div style="background-image: url(https://via.placeholder.com/350x150);"></div>
            </div>
          </div>
        </div>
        <div class="media-right">
          <h4 class="media-title">
            <span>朝から夜まで森の24時間を再現。</span><br>
            <span>昼と夜で雰囲気が逆転！</span>
          </h4>
          <p class="media-desc">
            昼間はオオタカが飛び回っていた空が、夜には満点の星空に。光の演出で森の24時間を再現しています。
            巨大ネットを広葉樹に見立て、四季折々で変化する木々を再現します。また、夏は昼間が長く、冬は夜が長くなるように光の演出は細部にまでこだわっています。
          </p>
      
          <div class="media-bottom">
            <div class="media-note">
              <img class="media-note-flag" src="<%= mix('/assets/images/img-flag.png') %>" alt="">
              <img class="media-note-acorn" src="<%= mix('/assets/images/img-acorn.png') %>" alt="">
              <div class="media-note-text">
                昼と夜や季節ごとの<br>
                森の変化を知ることができタネ！
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media u-clear">
        <div class="media-left">
          <div class="media-bg">
            <div class="media-thumb">
              <div style="background-image: url(https://via.placeholder.com/350x150);"></div>
            </div>
          </div>
        </div>
        <div class="media-right">
          <h4 class="media-title"><span>国内最大面積の巨大ネットアスレチック</span></h4>
          <p class="media-desc">
            SUMIKAは、最大高さ約11m 、ネット面積：約1000㎡の巨大ネットアスレチック。屋内では日本最大面積（※当社調べ）となっており、これまでにないスケールの空間の中で、身体を動かして遊べます。
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="">
  <div class="l-container">
    <h2 class="">Ways to feel the forest</h2>
    <p class="">森を感じる沢山の仕掛け</p>

    <div class="">
      <img class="" src="<%= mix('/assets/images/sumika-img.jpg') %>" alt="">
    </div>
  </div>
</section>

 <!-- BOTTOM -->

 <section class="sumika-video l-container">
  <div class="l-section-title">
    <%- include('/partials/heading', {
      'modifier': 'heading-sumika',
      'texts': mix('/assets/images/sumika/sumika_videos.png'),
      'alt': 'sumika videos',
      'subtextsSvg': 'video-sumika',
      'altSubtexts': '',
    }) %>
  </div>
  <div class="sumika-video-content">
    <ul class="sumika-video-list row">
      <li class="sumika-video-item col-lg-6 col-md-6 col-sm-12">
        <div class="sumika-video-wrapper">
          <div class="sumika-video-inner">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2S8qG40QPVg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <p class="sumika-video-description">仲間とチャレンジコースに挑戦！</p>
      </li>
      <li class="sumika-video-item col-lg-6 col-md-6 col-sm-12">
        <div class="sumika-video-wrapper">
          <div class="sumika-video-inner">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2S8qG40QPVg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <p class="sumika-video-description">DOKIDOKI タイムアタック映像！</p>
      </li>
    </ul> 
  </div>
</section>

<section class="sumika-instagram">
  <div class="sumika-wrapper l-container">
    <div class="sumika-inner">
      <div class="sumika-inner-content">
        <%- include('/partials/heading', {
          'modifier': 'heading-net-sumika',
          'texts': mix('/assets/images/sumika/net-sumika.png'),
          'alt': '巨大ネットの森SUMIKA',
          'altSubtexts': '',
          'subtexts': ''
        }) %>
        <div class="sumika-instagram-content">
          <ul class="sumika-instagram-list">
            <% instagram.forEach(item => { %>
            <li class="sumika-instagram-list-item">
              <div class="sumika-instagram-list-item-image">
                <img src="<%- item.image %>" alt="<%- item.alt %>">
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
        <div class="l-button">
          <%- include('/partials/button', {
            'modifier': 'button-sumika',
            'texts': 'インスタグラムでもっと見る',
            'link': '#'
          }) %>
        </div>
        <div class="sumika-instagram-banner">
          <a href="#">
            <img src="<%- mix('/assets/images/sumika/net-sumika/instagram-banner.jpg')%> ">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sumika-faq">
  <div class="l-container">
    <div class="sumika-faq-inner">
      <%- include('/partials/heading', {
        'modifier': 'heading-sumika-faq',
        'texts': mix('/assets/images/sumika/faq.png'),
        'alt': 'faq',
        'subtextsSvg': 'faq',
        'altSubtexts': '',
      }) %>
      <% accordionData.forEach(data => { %>
      <div class="accordion">
        <div class="accordion-inner">
          <button class="accordion-btn js-accordion-btn" type="button">
            <span class="accordion-btn-label">
              <img src="<%= mix('/assets/images/acc-q.png') %>">
            </span>
            <span class="accordion-btn-text">
              <%- data.question %>
            </span>
          </button>
          <div class="accordion-content js-accordion-content" style=" display: none;">
            <p class="accordion-desc">
              <%- data.answer %>
            </p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>

<section class="call-to-action">
  <div class="l-container">
    <div class="call-to-action-wrapper">
      <div class="call-to-action-inner">
        <%- include('/partials/heading', {
          'modifier': 'heading-net-sumika',
          'texts': mix('/assets/images/sumika/sumika-cta.png'),
          'alt': 'SUMIKAをもっと楽しむ',
          'altSubtexts': '',
          'subtexts': ''
        }) %>
        <div class="call-to-action-description">
          <p class="call-to-action-description-text">
            SUMIKAのこだわりポイントや、<br>
            知っているともっと楽しくなる情報を配信中しています。
          </p>
        </div>
        <div class="l-button l-button-call-to-action">
          <%- include('/partials/button', {
            'modifier': 'button-sumika',
            'texts': 'もっと見る',
            'link': '#'
          }) %>
        </div>
        <span class="call-to-action-dot call-to-action-dot-1">
          <img src="<%- mix('/assets/images/sumika/net-sumika/sumika-net-1.png')%> ">
        </span>
        <span class="call-to-action-dot call-to-action-dot-2">
          <img src="<%- mix('/assets/images/sumika/net-sumika/sumika-net-2.png')%> ">
        </span>
        <span class="call-to-action-dot call-to-action-dot-3">
          <img src="<%- mix('/assets/images/sumika/net-sumika/sumika-net-3.png')%> ">
        </span>
        <span class="call-to-action-dot call-to-action-dot-4">
          <img src="<%- mix('/assets/images/sumika/net-sumika/sumika-net-4.png')%> ">
        </span>
      </div>
    </div>
  </div>
</section>

<div class="banner-cta">
  <div class="l-container">
    <div class="banner-cta-bottom-inner">
      <img src="<%- mix('/assets/images/sumika/company-logo.jpg')%> ">
    </div>
  </div>
</div>

<section class="sumika-recommendation">
  <div class="l-section-title">
    <%- include('/partials/heading', {
      'modifier': 'heading-net-sumika',
      'texts': mix('/assets/images/sumika/recommendation.png'),
      'alt': 'recommendation',
      'altSubtexts': '',
      'subtextsSvg': 'recommend'
    }) %>
  </div>
    <div class="swiper-container slider">
      <ul class="swiper-wrapper slider-wrapper">
        <% recommend.forEach(item => { %>
        <li class="swiper-slide slider-item">
          <%- include('/partials/article-no-design', {
            'image': item.image,
            'heading': item.heading,
            'buttonLink': item.buttonLink,
            'buttonText': 'モビパーク'
          }) %>
        </li>
        <% }) %>
      </ul>
    </div>
</section>

<section class="sumika-pick-up">
  <div class="l-section-title">
    <%- include('/partials/heading', {
      'modifier': 'heading-net-sumika',
      'texts': mix('/assets/images/sumika/pickup.png'),
      'alt': 'recommendation',
      'altSubtexts': '',
      'subtextsSvg': 'pickup'
    }) %>
  </div>
  <div class="l-container">
    <ul class="feature-list">
      <% pickup.forEach(item => { %>
      <li class="feature-item">
        <%- include('/partials/article', {
          'category': item.category,
          'image': item.image,
          'heading': item.heading,
          'date': item.date,
          'link': item.link,
          'modifier': 'sumika-recommendation-article'
        }) %>
      </li>
      <% }) %>
    </ul>
  </div>
</section>
<!-- END BOTTOM -->


<%- include('./../partials/footer') -%>
