<%
  var title = 'Twin Ring Motegi'
  SPRITE_SVG = '/assets/svg/sprite.svg';

  instaData = [
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    },
    {
      'src': mix('/assets/images/dokidoki/insta-thumbnail.jpg'),
      'alt': 'insta thumbnail'
    }
  ]
%>

<%- include('./../partials/head', { title }) -%>

<div class="mv-dokidoki">
  <ul class="mv-list">
    <li class="mv-item">
      <div class="mv-image" style="background-image:url(<%= mix('/assets/images/mv-img.png') %>);"></div>
    </li>
  </ul>

  <div class="l-container"></div>
</div>

<section class="main-content">
  <div class="l-container">
    <h2 class="dokidoki-title-svg">
      <svg>
        <title>Dokidoki</title>
        <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-dokidoki-title') %>"></use>
      </svg>
    </h2>

    <!-- YOUTUBE -->
    <div class="l-youtube">
      <section class="youtube">
        <div class="youtube-iframe-container">
          <iframe width="100%" height="587" src="https://www.youtube.com/embed/cR0RnUePzQc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </section>
    </div>

    <h3 class="attraction-title">
      <svg class="svg-attraction-title">
        <title>Attraction Information</title>
        <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-dokidoki-attraction-title') %>"></use>
      </svg>
    </h3>

    <p class="attraction-subtext">
      肉食動物や大きな鳥から小動物まで、あらゆる生きもの達の隠れ家となっている場所、それがすみか。 ネットが張りめぐらされた「巨大ネ
    </p>

    <table class="table">
      <tbody>
        <tr class="table-row">
          <th class="table-head">場所</th>
          <td class="table-col">モビパーク内</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">所要時間</th>
          <td class="table-col">説明10分、遊ぶ時間30分の計40分（受付終了時間は営業終了の約1時間前）</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">雨天の運行</th>
          <td class="table-col">屋内施設となりますので、雨天時でもお楽しみいただけます。</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">対象者</th>
          <td class="table-col">3歳以上※1</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">身長制限</th>
          <td class="table-col">なし</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">料金</th>
          <td class="table-col">
            モビパークパスポート対象
            アトラクションチケット利用：800円
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">ご利用にあたって</th>
          <td class="table-col">
            服装について : <br>
            靴を脱いでのご利用となります。 必ず靴下を履いてご利用ください。なお、指先が分かれたタイプの靴下、たび、ストッキング、タイツはご利用いただけません。もし、ご準備ない場合は、SUMIKA内に、靴下の自動販売機がございますのでご利用ください。
            <br>
            ※１小学生未満のお子様の利用について : <br>
            小学生未満のお子さまは中学生以上の同伴者の付添い（有料）が必要になります。
            <br>
            0歳〜2歳のお子様の利用について : <br>
            0歳〜2歳のお子様は遊具では遊ぶことはできません。保護者様同伴（有料）にてSUMIKA内の芝生のレストエリアをご利用いただけます。
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</section>

<section class="admission">
  <div class="l-container">
    <h3 class="admission-title">入場整理券（スマートエントリー）配布のお知らせ</h3>
    <p class="admission-subtext">
      下記の日程は 混雑が予想されるため、 対象のアトラクションで時間帯ごとの入場整理券（スマートエントリー※以下、入場整理券）を配布いたします。
      期間中、対象アトラクションは入場整理券をお持ちでないとご利用いただけませんので、ご了承ください。
    </p>

    <table class="table">
      <tbody>
        <tr class="table-row">
          <th class="table-head">日程</th>
          <td class="table-col">
            9月		15日（日）、16日（月）、29日（日）<br>
            10月	15日（日）、16日（月）、29日（日）<br>
            11月	15日（日）、16日（月）、29日（日）
          </td>
        </tr>
          
        <tr class="table-row">
          <th class="table-head">対象アトラクション</th>
          <td class="table-col">巨大ネットの森 SUMIKA・森感覚アスレチック DOKIDOKI・迷宮森殿 ITADAKI</td>
        </tr>
        
        <tr class="table-row">
          <th class="table-head">配布場所</th>
          <td class="table-col">アトラクション前特設テント</td>
        </tr>
        
        <tr class="table-row">
          <th class="table-head">配布枚数</th>
          <td class="table-col">各回約200枚配布※1回の所要時間約40分（説明10分、遊べる時間30分、時間入れ替え割）</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">配布にあたって</th>
          <td class="table-col">
            ※入場整理券は定員に達し次第、受付を終了いたします。
            ※別途、モビパークパスポートまたはのりもの券をお買い求めください。
            ※アトラクションには年齢制限がございます。 >>詳しくはこちら
            ※混雑状況や天候などより入場整理券の配布を行わない場合は、当日モビパークまたはSNS等でお知らせいたします。
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="how-to-enjoy">
  <div class="l-container">
    <h3 class="how-to-title">
      <!--How to Enjoy-->
      <svg>
        <title>How to enjoy</title>
        <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-dokidoki-how-to-title') %>"></use>
      </svg>
    </h3>
    <p class="how-to-subtext">DOKIDOKIを楽しむポイント</p>

    <div class="-content">
      <div class="media u-clear">
        <div class="media-left">
          <div class="media-bg">
            <div class="media-thumb">
              <div style="background-image: url(https://via.placeholder.com/350x150);"></div>
            </div>
          </div>
        </div>
        <div class="media-right">
          <h4 class="media-title"><span>ドキドキの連続！39のアスレチック</span></h4>
          <p class="media-desc">
            5階建ての建物を“巨大などんぐりの木”に見立てた「森感覚アスレチック DOKIDOKI」には、1階から5階に行くルートには、全部で39のアスレチックがあります。さまざまなアスレチックをクリアしててっぺんをめざしましょう！
          </p>
      
          <div class="media-bottom">
            <div class="media-note">
              <img class="media-note-flag" src="<%= mix('/assets/images/img-flag.png') %>" alt="">
              <img class="media-note-acorn" src="<%= mix('/assets/images/img-acorn.png') %>" alt="">
              <div class="media-note-text">
                てっぺんまで登れタネ！
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media u-clear">
        <div class="media-left">
          <div class="media-bg">
            <div class="media-thumb">
              <div style="background-image: url(https://via.placeholder.com/350x150);"></div>
            </div>
          </div>
        </div>
        <div class="media-right">
          <h4 class="media-title">
            <span>体力と勇気が試される！</span><br>
            <span>選んで進む2つのコース</span>
          </h4>
          <p class="media-desc">
            DOKIDOKIは小学1年生から高学年、そして大人も楽しめるアスレチックです。 コースを進んで行くと、アスレチックの難易度でコースが分かれ、年齢や体力に応じてコースを選ぶことができます。 
          </p>
      
          <div class="media-bottom">
            <div class="media-note">
              <img class="media-note-flag" src="<%= mix('/assets/images/img-flag.png') %>" alt="">
              <img class="media-note-acorn" src="<%= mix('/assets/images/img-acorn.png') %>" alt="">
              <div class="media-note-text">
                難しいコースに<br>
                チャレンジできタネ！
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media u-clear">
        <div class="media-left">
          <div class="media-bg">
            <div class="media-thumb">
              <div style="background-image: url(https://via.placeholder.com/350x150);"></div>
            </div>
          </div>
        </div>
        <div class="media-right">
          <h4 class="media-title">小学生未満のお子様はどきどきひろばで</h4>
          <p class="media-desc">
            DOKIDOKIは小学生未満の幼児のお子様はご利用いただけません。小さいお子様はアトラクション前のどきどき広場にて遊んでいただけます。<br/>
丸太や小さな山の形をしたアスレチックで遊んだり、キッズボルダリングで“プチボルダリング体験”をお楽しみいただけます。
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="sumika">
  <div class="l-container">
    <h2 class="sumika-title">
      <svg>
        <title>Ways to feel the forext</title>
        <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-dokidoki-waystofeel-title') %>"></use>
      </svg>
    </h2>
    <p class="sumika-subtext">ドキドキする刺激するアスレチック</p>

    <div class="sumika-slider">

    </div>
  </div>
</section>

<section class="video">
  <div class="l-container">
    <h2 class="video-title">
      <svg>
        <title>Sumika Videos</title>
        <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-dokidoki-video') %>"></use>
      </svg>
    </h2>
    <p class="video-subtext">動画で見るDOKIDOKI</p>

    <div class="video-container">
      <div class="row">
        <div class="col-lg-6 video-wrapper">
          <div class="video-bg">
            <iframe width="100%" src="https://www.youtube.com/embed/cJEgRZ-UMcY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="video-text">仲間とチャレンジコースに挑戦！</p>
        </div>
        <div class="col-lg-6 video-wrapper">
          <div class="video-bg">
            <iframe width="100%" src="https://www.youtube.com/embed/2S8qG40QPVg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="video-text">DOKIDOKI タイムアタック映像！</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="instagram">
  <div class="l-container">
    <h2 class="instagram-title">#森感覚アスレチックDOKIDOKI</h2>

    <div class="instagram-wrapper">
      <ul class="thumbnail-list">
        <%
          instaData.forEach(insta => { 
        %>
          <li class="thumbnail-item">
            <a class="thumbnail" href="#">
              <img src="<%= insta.src %>" alt="<%= insta.alt %>">
            </a>
          </li>
        <% }) %>
      </ul>
    </div>

    <div class="section-button">
      <%- include('/partials/button', {
        'modifier': '',
        'texts': 'インスタグラムでもっと見る',
        'link': '#'
      }) %>
    </div>
  </div>
</section>

<%- include('./../partials/footer') -%>