<%
var title = 'Twin Ring Motegi | 車＆バイクのアトラクション';
SPRITE_SVG = '/assets/svg/sprite.svg';
pageId = 'carAndBike';
%>
<% include('/partials/data/index') %>
<%- include('/partials/head', { pageId, title }) -%>

<main class="l-main">
  <div class="subpage">
    <div class="mv mv-subpage mv-subpage-craft">
      <ul class="mv-list">
        <li class="mv-item">
          <div class="mv-image mv-image-subpage u-show-pc" style="background-image:url(<%= mix('/assets/images/attractions/mv-img.jpg') %>);"></div>
          <div class="mv-image mv-image-subpage u-show-sp" style="background-image:url(<%= mix('/assets/images/attractions/mv-img-sp.jpg') %>);"></div>
        </li>
      </ul>
  
      <h1 class="mv-heading mv-heading-subpage  mv-heading-subpage-labo">
        <span class="mv-heading-text">
          アトラクション
        </span>
      </h1>
    </div>

    <div class="heading-wrap heading-main">
      <h2 class="heading">
        <span class="u-title-hidden">Car and bike</span>
        <span class="heading-texts">
          <img class="u-show-pc" src="<%= mix('/assets/images/attractions/attraction-color-title.png') %>" alt="ひとりで挑戦、親子で挑戦してステップアップ">
          <img class="u-show-sp" src="<%= mix('/assets/images/attractions/attraction-color-title-sp.png') %>" alt="ひとりで挑戦、親子で挑戦してステップアップ">
        </span>
      </h2>
    </div>

    <section class="subpage-section subpage-section-carbike">
      <div class="carbike-menu">
        <div class="swiper-container slider-carbike-container js-slider-carbike">

          <div class="swiper-wrapper slider-carbike">
            <div class="swiper-slide slider-carbike-item">
              <div class="carbike-menu-item">
                <a class="carbike-menu-link js-scroll" href="#athletic">
                  <img src="<%= mix('/assets/images/attractions/category-athletic.jpg') %>" alt="車のアトラクション">
                </a>
              </div>
            </div>
            <div class="swiper-slide slider-carbike-item">
              <div class="carbike-menu-item">
                <a class="carbike-menu-link js-scroll" href="#forest">
                  <img src="<%= mix('/assets/images/attractions/category-forest.jpg') %>" alt="車のアトラクション">
                </a>
              </div>
            </div>
            <div class="swiper-slide slider-carbike-item">
              <div class="carbike-menu-item">
                <a class="carbike-menu-link js-scroll" href="#car">
                  <img src="<%= mix('/assets/images/car-and-bike/category-car.jpg') %>" alt="車のアトラクション">
                </a>
              </div>
            </div>
            <div class="swiper-slide slider-carbike-item">
              <div class="carbike-menu-item">
                <a class="carbike-menu-link js-scroll" href="#bike">
                  <img src="<%= mix('/assets/images/car-and-bike/category-bike.png') %>" alt="バイクのアトラクション">
                </a>
              </div>
            </div>
            <div class="swiper-slide slider-carbike-item">
              <div class="carbike-menu-item">
                <a class="carbike-menu-link js-scroll" href="#workshop">
                  <img src="<%= mix('/assets/images/car-and-bike/category-workshop.jpg') %>" alt="車のワークショップ">
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <div class="subpage-section subpage-section-collapse">
      <div class="subpage-collapse-heading js-collapse-button">ご利用にあたって</div>
      <div class="subpage-collapse-description">
        <div class="subpage-collapse-content">
          <p>ご利用制限：</p>
          <p>【1】小学1年生以上、体重30kg以上90kg以下の方</p>
          <p>【2】ハーネスが正しく（フィットした状態で）装着できる方</p>
          <p>【3】身体・健康上の不安のない方</p>
          <p>飲酒されている方、妊娠中の方、心疾患をお持ちの方、体調不良の方、健康上不安のある方はご利用いただけません。</p>
          <p>【4】事前説明・同意書にご同意いただける方</p>
          <p>※参加者が未成年（20歳未満）の場合は、保護者（成人）の署名が必要です。</p>
          <p>【5】聴覚障がいや視覚障がいなど、お身体の不自由な方は、ご利用いただけない場合がございます。</p>
          <br>
          <p>注意事項</p>
          <p>【1】ルールを守らない場合は重大事故となる可能性がありますので、必ずスタッフの指示に従ってください。</p>
          <p>安全管理上、スタッフが危険と判断した場合はご利用を中止していただく場合があります。</p>
          <p>【2】落下する恐れのある着衣類・履物・装飾品・携帯品は着用・持参して参加できません。</p>
          <p>・サンダル／ハイヒール・・・貸靴をご利用ください。</p>
          <p>・スカート・・・貸ズボンをご利用ください。</p>
          <p>※貸靴・貸ズボンは無料でご利用いただけます。</p>
          <p>【3】以下の物はロッカー（無料）にお預けください。</p>
          <p>・コート、マフラー、装飾品、携帯品（携帯電話、カメラなど）</p>
          <p>※着衣類のポケット内の物は全てお預けください。</p>
          <p>【4】安全管理上、利用中にご持参のカメラ・携帯電話などで撮影することはできません。</p>
          <p>【5】ご利用に際して発生したお客さまの衣類・履物・装飾品・携帯品の落下、汚損、紛失、故障について、施設側は責任を負いません。</p>
          <p>【6】ご利用の際に装着する器具類については、スタッフの指示どおり正しく装着してください。</p>
          <br>
          <p>返金について：</p>
          <p>参加者の理由による途中リタイヤおよび、上記注意事項をお守りいただけず、利用中止とする場合は返金いたしません。</p>
          <p>悪天候などの理由により、運行中止となる場合は、ご利用状況によって一部もしくは全額返金させていただきます。</p>
          <p>※返金の対象はメガジップライン つばさのご利用料金のみとし、入場料・駐車料・パスポートなどの払い戻しは行ないません。</p>
        </div>
      </div>
    </div>


    <section class="subpage-section subpage-section-carbike " id="athletic">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-carbike heading-carbike-car heading-auto-height',
          text: '',
          alt : 'Attraction’s Category',
          subtextvg: '',
          altSubtextvg: '',
          imgPath: '/assets/images/attractions/attraction-playground-title.png'
        }) %>
      </div>

      <%- include('/partials/carbike-list', {
        modifier: 'carbike-article-attractions',
        dataCarbikeList : getData().data.attractionAthleticList
      }) -%>
    </section>

    <section class="subpage-section subpage-section-carbike" id="forest">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-carbike heading-carbike-car heading-auto-height',
          text: '',
          alt : 'Attraction’s Category',
          subtextvg: '',
          altSubtextvg: '',
          imgPath: '/assets/images/attractions/attraction-play-forest-title.png'
        }) %>
      </div>

      <%- include('/partials/carbike-list', {
        modifier: 'carbike-article-attractions',
        dataCarbikeList : getData().data.attractionForestList
      }) -%>
    </section>

    <section class="subpage-section subpage-section-carbike" id="car">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-carbike heading-carbike-car heading-auto-height',
          text: '',
          alt : 'Attraction’s Category',
          subtextvg: '',
          altSubtextvg: '',
          imgPath: '/assets/images/car-and-bike/attraction-category-car.png'
        }) %>
      </div>

      <%- include('/partials/carbike-list', {
        modifier: 'carbike-article-attractions',
        dataCarbikeList : getData().data.carList
      }) -%>
    </section>

    <section class="subpage-section subpage-section-carbike" id="bike">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-carbike heading-carbike-car heading-auto-height',
          text: '',
          alt : 'Attraction’s Category',
          subtextvg: '',
          altSubtextvg: '',
          imgPath: '/assets/images/attractions/attraction-bike-title.png'
        }) %>
      </div>

      <%- include('/partials/carbike-list', {
        modifier: 'carbike-article-attractions',
        dataCarbikeList : getData().data.bikeList
      }) -%>
    </section>

    <section class="subpage-section subpage-section-carbike" id="workshop">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-carbike heading-carbike-workshop u-show-pc heading-auto-height',
          text: '',
          alt : 'workshop',
          subtextvg: '',
          altSubtext: '',
          imgPath: '/assets/images/attractions/attraction-workshop-title.png'
        }) %>
        <%- include('/partials/heading', {
          modifier: 'heading-carbike heading-carbike-workshop u-show-sp heading-auto-height',
          text: '',
          alt : 'workshop',
          subtextvg: '',
          altSubtext: '',
          imgPath: '/assets/images/attractions/attraction-workshop-title-sp.png'
        }) %>
      </div>

      <%- include('/partials/carbike-list', {
        modifier: 'carbike-article-attractions',
        dataCarbikeList : getData().data.attractionWorkshopList
      }) -%>

    </section>

    <%- include('/partials/recommendation') -%>

    <%- include('/partials/pickup') -%>
  </div>
</main>

<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsCarbike
}) -%>
<%- include('/partials/footer', { pageId }) -%>