<%
  var title = 'Twin Ring Motegi | おさんぽでんでん'
  SPRITE_SVG = '/assets/svg/sprite.svg';
%>

<% include('/partials/data/index') %>
<%- include('/partials/head', { title }) -%>

<div class="subpage">
  <div class="mv mv-subpage">
    <ul class="mv-list">
      <li class="mv-item">
        <div class="mv-image" style="background-image:url(<%= mix('/assets/images/deb-den/mv-img.jpg') %>);"></div>
      </li>
    </ul>

    <h2 class="mv-heading mv-heading-subpage">
      <span class="mv-heading-text">
        おさんぽでんでん
      </span>
    </h2>
  </div>

  <div class="subpage-inner">
    <div class="heading-wrap heading-main heading-main-debden">
      <h2 class="heading">
        <span class="heading-texts u-show-pc">
          <img src="<%= mix('/assets/images/deb-den/osanpo-color-title.png') %>" alt="deb den">
        </span>
        <span class="heading-texts u-show-sp">
          <img src="<%= mix('/assets/images/deb-den/osanpo-color-title.png') %>" alt="deb den">
        </span>
      </h2>
    </div>

    <!-- banner -->
    <div class="subpage-banner">
      <div class="subpage-banner-inner">
        <img class="u-show-pc" src="<%= mix('/assets/images/forest-driving/banner.jpg') %>" alt="forest forest-driving">

        <img class="u-show-sp" src="<%= mix('/assets/images/forest-driving/sp-banner.jpg') %>" alt="forest-driving">
      </div>
    </div>

    <h3 class="subpage-title">
      <span>アトラクション情報</span>
    </h3>

    <p>かたつむりに乗って葉っぱの上をのんびりお散歩。親子で一緒に乗ることができるのりものです。3歳からはひとりで運転できます。</p>

    <table class="table">
      <tbody>
        <tr class="table-row">
          <th class="table-head">場所</th>
          <td class="table-col">モビパーク内</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">所要時間</th>
          <td class="table-col">約2分
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">雨天の運行</th>
          <td class="table-col">雨天でも営業いたしております。
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">対象者</th>
          <td class="table-col">0歳以上でひとり座りできる方※1
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">身長制限</th>
          <td class="table-col">なし</td>
        </tr>

        <tr class="table-row">
          <th class="table-head">料金</th>
          <td class="table-col">
            モビパークパスポート対象 <br>アトラクションチケット利用：200円
          </td>
        </tr>

        <tr class="table-row">
          <th class="table-head">ご利用にあたって</th>
          <td class="table-col">
            ※1 0歳から2歳までの方：<br>0歳から2歳までのお子さまは中学生以上の同伴者の付添いが必要になります。
          </td>
        </tr>

      </tbody>
    </table>

  </div>

  <section class="subpage-section subpage-section-howto">
    <div class="subpage-section-howto-inner">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-gradient-tobottom heading-howto heading-howto-debden',
          text: 'How to Enjoy',
          alt: 'おさんぽでんでんを楽しむポイント',
          subtextvg: 'osanpo-enjpy-point-title',
          altSubtext: '',
        }) %>
      </div>

      <div class="how-to-content">
        <div class="media media-subpage media-subpage-deb-den-walk u-clear">
          <div class="media-left">
            <div class="media-bg">
              <div class="media-thumb u-show-pc">
                <div style="background-image: url(<%= mix('/assets/images/forest-driving/enjoy-img1.png') %>);"></div>
              </div>

              <div class="media-thumb u-show-sp">
                <div style="background-image: url(<%= mix('/assets/images/forest-driving/sp-enjoy-img1.png') %>);"></div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <h4 class="media-title">
              <span>3歳から一人で運転！</span>
            </h4>
            <p class="media-desc">
              3歳から一人で自由にアクセルとハンドルを操作。0歳から親子で一緒に乗れる、乗り物デビューにぴったりのアトラクション！
            </p>

            <div class="media-bottom">
              <div class="media-note">
                <img class="media-note-flag" src="<%= mix('/assets/images/img-flag.png') %>" alt="">
                <img class="media-note-acorn" src="<%= mix('/assets/images/img-acorn.png') %>" alt="">
                <div class="media-note-text">
                  100点取れたら… <br>
                  交通ルールを守れタネ！
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="media media-subpage media-subpage-deb-den-walk u-clear">
          <div class="media-left">
            <div class="media-bg">
              <div class="media-thumb u-show-pc">
                <div style="background-image: url(<%= mix('/assets/images/forest-driving/enjoy-img2.png') %>);"></div>
              </div>

              <div class="media-thumb u-show-sp">
                <div style="background-image: url(<%= mix('/assets/images/forest-driving/sp-enjoy-img2.png') %>);"></div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <h4 class="media-title">
              <div class="u-show-pc">
                <span>
                  でんでん虫になった気分でのんびりお散歩！
                </span>
              </div>

              <div class="u-show-sp">
                <span>でんでん虫になった気分でのんびりお散歩！</span>
              </div>


            </h4>
            <p class="media-desc">
              大きな葉っぱの上がでんでん虫のコース。森と空を眺めながら、でんでん虫になった気分でお散歩しよう！
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- BOTTOM -->

  <div class="call-to-action">
    <div class="l-container">
      <div class="call-to-action-wrapper">
        <div class="call-to-action-inner">
          <%- include('/partials/heading', {
            modifier: 'heading-banner-more heading-banner-more-deb-den',
            imgPath: mix('/assets/images/deb-den/osanpo-enjoy-more-title.png'),
            alt: 'アクロエックスをもっと楽しむ',
            altSubtext: '',
            subtextvg: ''
          }) %>

          <div class="call-to-action-description">
            <p class="call-to-action-description-text">
              おさんぽでんでんのこだわりポイントや、知っているとも<br>っと楽しくなる情報を配信中しています。
            </p>
          </div>
          <div class="l-button l-button-call-to-action l-button-call-to-action-subpage">
            <%- include('/partials/button', {
              modifier: 'button-deb-den',
              text: 'もっと見る',
              link: '#'
            }) %>
          </div>
          <span class="call-to-action-dot call-to-action-dot-1">
            <img src="<%- mix('/assets/images/forest-driving/cta-img1.png')%> ">
          </span>
          <span class="call-to-action-dot call-to-action-dot-2">
            <img src="<%- mix('/assets/images/forest-driving/cta-img2.png')%> ">
          </span>
          <span class="call-to-action-dot call-to-action-dot-3">
            <img src="<%- mix('/assets/images/forest-driving/cta-img4.png')%> ">
          </span>
          <span class="call-to-action-dot call-to-action-dot-4">
            <img src="<%- mix('/assets/images/forest-driving/cta-img3.png')%> ">
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-cta">
    <div class="l-container">
      <div class="banner-cta-bottom-inner">
        <img src="<%- mix('/assets/images/sumika/company-logo.jpg')%> ">
      </div>
    </div>
  </div>

  <%- include('/partials/recommendation') -%>

  <%- include('/partials/pickup') -%>

  <!-- END BOTTOM -->

</div>

<%- include('/partials/footer') -%>
