<%
  var title = 'Twin Ring Motegi | 森の教習所'
  SPRITE_SVG = '/assets/svg/sprite.svg';
  pageId = 'dinnerMarcherant';
%>
<% include('/partials/data/index') %>
<%- include('/partials/head', { pageId, title }) -%>

<div class="lig-content">
  <div class="subpage subpage-restaurant restaurant-wrapper breakfast-marcherant dinner-set-marcherant">
    <div class="mv mv-restaurant mv-subpage-restaurant">
      <ul class="mv-list">
        <li class="mv-item">
          <div class="mv-image mv-image-subpage u-show-pc" style="background-image:url(<%= mix('/assets/images/dinner_marcherant/mv-img.jpg') %>);"></div>
          <div class="mv-image mv-image-subpage u-show-sp" style="background-image:url(<%= mix('/assets/images/dinner_marcherant/mv-img-sp.jpg') %>);"></div>
        </li>
      </ul>

      <div class="l-container mv-container">
        <div class="mv-heading hellowoods-mv-heading mv-heading-marcherant-breakfast">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods heading-breakfast',
            heading_level: 1,
            text: 'Dinner Set',
            subtextvg: 'dinner-set-top-title',
            altSubtextvg: 'ディナーセット'
          }) %>
        </div>

        <div class="u-show-pc mv-today mv-logo mv-granroom-logo" style="background-image: url(<%= mix('/assets/images/marcherant/logo.png') %>);">
          <div class="mv-l-inner">
          </div>
        </div>
      </div>
    </div>

    <main>
      <div class="subpage-inner-wrap">
        <div class="subpage-inner">
          <div class="l-section-title u-show-pc">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-restaurant heading-color-title',
              imgPath: mix('/assets/images/dinner_marcherant/color-title.png'),
              alt: `茂木町の農園直送のオーガニック野菜や、
              素材の旨味を引き出す石窯料理など、
              家族で囲めばお腹も心も満たされる
              森のごちそうをご堪能ください`
            }) %>
          </div>

          <div class="l-section-title u-show-sp">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-restaurant heading-color-title',
              imgPath: mix('/assets/images/dinner_marcherant/color-title-sp.png'),
              alt: '朝日が差し込む開放的な店内で食べる フレッシュでヘルシーな森の朝食'
            }) %>
          </div>
          
          <p class="subpage-desc-breakfast desc-dinner">
            ※ディナーセットはご宿泊のお客さま限定、またディナービュッフェを開催しない平日がセットメニューとなります。<br/>
            詳しい日程は<a class="link-green line" href="/hoteltwinring/calendar/">こちら</a>をご確認ください。
          </p>

          <div class="l-section-title u-show-pc">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-restaurant heading-point-title',
              text: 'Point',
              subtextvg: 'dinner-marcherant-title-2',
              altSubtextvg: 'ディナーセットを楽しむポイント'
            }) %>
          </div>

          <div class="l-section-title u-show-sp">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-restaurant heading-point-title',
              text: 'Point',
              subtextvg: 'dinner-marcherant-title-2-sp',
              altSubtextvg: 'ディナーセットを楽しむポイント'
            }) %>
          </div>
        </div>
      </div>

      <!-- breakfast menu 1 -->
      <section class="breakfast-marcherant-menu">
        <div class="l-container">
          <div class="l-section-title u-show-pc">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-restaurant heading-breakfast-menu heading-dinner-menu-1',
              text: '01',
              subtextvg: 'dinner-marcherant-title-3',
              altSubtextvg: 'MARCHERANTこだわりの石窯朝食メニュー'
            }) %>
          </div>

          <div class="l-section-title u-show-sp">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-restaurant heading-breakfast-menu heading-dinner-menu-1',
              text: '01',
              subtextvg: 'dinner-marcherant-title-3-sp',
              altSubtextvg: 'MARCHERANTこだわりの石窯朝食メニュー'
            }) %>
          </div>

          <p class="point-subtext">
            ホテルシェフが厳選した地場産のおいしい肉・魚・野菜すべてを集めました。<br class="u-show-pc"/>
            自信を持って提供する<br class="u-show-sp"/>MARCHERANTでしか味わえない一皿をどうぞ。
          </p>

          <div class="recommend-feature">
            <ul class="recommend-feature-list">
              <li class="recommend-feature-item">
                <div class="recommend-feature-image" style="background-image: url(<%- mix('/assets/images/dinner_marcherant/recommend-1.jpg') -%>);"></div>
                <h3 class="recommend-feature-title u-show-pc">
                  <%- include('/partials/svg', {
                    name: 'dinner-marcherant-recommend-1-title',
                    svgtitle: 'シェフのおすすめディナープレート'
                  }) -%>
                </h3>
                <h3 class="recommend-feature-title dinner-recommend-feature-title-1 u-show-sp">
                  <%- include('/partials/svg', {
                    name: 'dinner-marcherant-recommend-1-title-sp',
                    svgtitle: 'シェフのおすすめディナープレート'
                  }) -%>
                </h3>
                <p class="recommend-feature-price">
                  <%- include('/partials/svg', {
                    name: 'dinner-marcherant-recommend-1-price',
                    svgtitle: '3,600円'
                  }) -%>
                </p>
                <p class="recommend-feature-desc">※メニューは変更になる場合がございます </p>
                <div class="recommend-feature-box">
                  <p class="recommend-feature-tag">メニュー内容</p>
                  <ul class="breakfast-menu-list-container">
                    <% getData().data.recommendedDinnerPlate.forEach(item => { %>
                    <li class="breakfast-menu-list-cat-item">
                      <span class="<%- item.categorysvg -%>">
                        <%- include('/partials/svg', {
                          name: item.categorysvg,
                          svgtitle: item.categoryName
                        }) -%>
                      </span>
                      <ul class="breakfast-menu-list-cat-list">
                        <% item.categoryList.forEach(elem => { %>
                        <li class="breakfast-menu-list-cat-list-item">
                          <%- elem.listdesc -%>
                        </li>
                        <% }); %>
                      </ul>
                    </li>
                    <% }); %>
                  </ul>
                </div>
              </li>

              <li class="recommend-feature-item">
                <div class="recommend-feature-image" style="background-image: url(<%- mix('/assets/images/dinner_marcherant/recommend-2.jpg') -%>);"></div>
                <h3 class="recommend-feature-title u-show-pc">
                  <%- include('/partials/svg', {
                    name: 'dinner-marcherant-recommend-2-title',
                    svgtitle: 'お子さまプレート（スープ・デザート・ジュース付き） '
                  }) -%>
                </h3>
                <h3 class="recommend-feature-title dinner-feature-title u-show-sp">
                  <%- include('/partials/svg', {
                    name: 'dinner-marcherant-recommend-2-title-sp',
                    svgtitle: 'お子さまプレート（スープ・デザート・ジュース付き） '
                  }) -%>
                </h3>
                <p class="recommend-feature-price feature-price-2">
                  <%- include('/partials/svg', {
                    name: 'dinner-marcherant-recommend-2-price',
                    svgtitle: '1,600円'
                  }) -%>
                </p>
                <p class="recommend-feature-desc u-show-pc">※小学生未満のお子さま限定 </p>
                
                <div class="menu-other-menu">
                  <h3 class="heading-menu-other-menu">
                    <%- include('/partials/svg', {
                      name: 'dinner-set-other-menu-title-menu',
                      svgtitle: 'その他のメニュー'
                    }) -%> 
                  </h3>
                  <ul class="menu-other-menu-list">
                    <li class="menu-other-menu-item">
                      <span>地場産豆腐と山の幸入り麻婆豆腐 <br class="u-show-sp"/>（本日の一品・ごはん・スープ・ザーサイ付き）</span>
                      <span>1,850円</span>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- breakfast menu 2 -->
      <section class="breakfast-marcherant-menu menu-2">
        <div class="l-container">
          <div class="subpage-inner">
            <div class="l-section-title u-show-pc">
              <%- include('/partials/heading', {
                modifier: 'heading-wrap-center heading-restaurant heading-breakfast-menu heading-dinner-menu-2',
                text: '02',
                subtextvg: 'dinner-marcherant-title-4',
                altSubtextvg: '地元のオーガニック野菜やブランド食材を使った単品料理'
              }) %>
            </div>

            <div class="l-section-title u-show-sp">
              <%- include('/partials/heading', {
                modifier: 'heading-wrap-center heading-restaurant heading-breakfast-menu heading-dinner-menu-2',
                text: '02',
                subtextvg: 'dinner-marcherant-title-4-sp',
                altSubtextvg: '地元のオーガニック野菜やブランド食材を使った単品料理'
              }) %>
            </div>
            
            <p class="point-subtext">
              栄養と旨味たっぷりの地場食材を <br class="u-show-pc"/>
              MARCHERANT<br class="u-show-sp"/>オリジナル料理でお楽しみください。 
            </p>

            <div class="recommend-menu-details">
              <ul class="recommend-menu-details-list">
                <li class="recommend-menu-details-item">
                  <div class="recommend-feature-image details-image" style="background-image: url(<%- mix('/assets/images/dinner_marcherant/left-image.jpg') -%>);"></div>
                  <h3 class="recommend-feature-title details-title u-show-pc">
                    <%- include('/partials/svg', {
                      name: 'dinner-marcherant-title-left-title',
                      svgtitle: '地場産豆腐と山の幸入り 四川麻婆豆腐 '
                    }) -%>
                  </h3>
                  <p class="recommend-feature-price details-price u-show-pc">
                    <%- include('/partials/svg', {
                      name: 'dinner-marcherant-title-left-price',
                      svgtitle: '中辛1,230円 / 中辛1,430円'
                    }) -%>
                  </p>
                  <div class="u-show-sp">
                    <p class="details-desc">
                      地場産豆腐と山の幸入り<br/>
                      四川麻婆豆腐 <br/>
                      中辛1,230円<br/>
                      激辛1,430円 
                    </p>
                  </div>
                </li>
  
                <li class="recommend-menu-details-item">
                  <div class="recommend-feature-image details-image" style="background-image: url(<%- mix('/assets/images/dinner_marcherant/right-image.jpg') -%>);"></div>
                  <h3 class="recommend-feature-title details-title u-show-pc">
                    <%- include('/partials/svg', {
                      name: 'dinner-marcherant-title-right-image',
                      svgtitle: 'とちぎ和牛100％ ハンバーグの石窯焼き '
                    }) -%>
                  </h3>
                  <p class="recommend-feature-price details-price price-2 u-show-pc">
                    <%- include('/partials/svg', {
                      name: 'dinner-marcherant-title-right-price',
                      svgtitle: '1,530円'
                    }) -%>
                  </p>
                  <div class="u-show-sp">
                    <p class="details-desc">
                      とちぎ和牛100％ハンバ<br/>
                      ーグの石窯焼き<br/>
                      1,530円
                    </p>
                  </div>
                </li>
              </ul>
            </div>
                
            <div class="menu-other-menu menu-other-2">
              <h3 class="heading-menu-other-menu">
                <%- include('/partials/svg', {
                  name: 'dinner-set-other-menu-title-menu',
                  svgtitle: 'その他のメニュー'
                }) -%> 
              </h3>
              <ul class="menu-other-menu-list">
                <li class="menu-other-menu-item">
                  <span>茂木町自然農園「空土ファーム」の農園サラダ</span>
                  <span>510円</span>
                </li>
                <li class="menu-other-menu-item">
                  <span>茂木町自然農園「空土ファーム」直送野菜の<br class="u-show-sp"/>素揚げ柚子塩・玉葱ドレッシング添え</span>
                  <span>720円</span>
                </li>
                <li class="menu-other-menu-item">
                  <span>もちもち水餃子　地場産ニラたっぷりにんにく<br class="u-show-sp"/>ソース</span>
                  <span>620円</span>
                </li>
                <li class="menu-other-menu-item">
                  <span>栃木県産ヤシオマスのフライ　柚子タルタル添え</span>
                  <span>820円</span>
                </li>
                <li class="menu-other-menu-item">
                  <span>那須三元豚の黒酢炒め</span>
                  <span>1,020円</span>
                </li>
                <li class="menu-other-menu-item">
                  <span>栃木県産ヤシオマスと茂木町自然農園<br class="u-show-sp"/>「空土ファーム」直送野菜の炒め</span>
                  <span>1,530円</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- breakfast menu 3 -->
      <section class="breakfast-marcherant-menu menu-2">
        <div class="l-container">
          <div class="l-section-title u-show-pc">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-restaurant  heading-breakfast-menu heading-dinner-menu-3',
              text: '03',
              subtextvg: 'dinner-marcherant-title-5',
              altSubtextvg: 'お好きなスイーツが選べるワゴンサービス'
            }) %>
          </div>

          <div class="l-section-title u-show-sp">
            <%- include('/partials/heading', {
              modifier: 'heading-wrap-center heading-restaurant  heading-breakfast-menu heading-dinner-menu-3',
              text: '03',
              subtextvg: 'dinner-marcherant-title-5-sp',
              altSubtextvg: 'お好きなスイーツが選べるワゴンサービス'
            }) %>
          </div>
          
          <p class="point-subtext">
            フルーツ、季節のケーキなど種類豊富な彩りスイーツ<br class="u-show-sp"/>の中からお好きなものをお選びください。
          </p>

          <div class="recommend-feature">
            <ul class="recommend-feature-list">
              <li class="recommend-feature-item">
                <div class="recommend-feature-image" style="background-image: url(<%- mix('/assets/images/dinner_marcherant/recommend-3.jpg') -%>);"></div>

                <div class="menu-other-menu">
                  <h3 class="heading-menu-other-menu">
                    <%- include('/partials/svg', {
                      name: 'dinner-set-other-menu-title-menu',
                      svgtitle: 'その他のメニュー'
                    }) -%> 
                  </h3>
                  <ul class="menu-other-menu-list">
                    <li class="menu-other-menu-item">
                      <span>とちおとめシャーベット</span>
                      <span>410円</span>
                    </li>
                    <li class="menu-other-menu-item">
                      <span>季節のストーンアイス	</span>
                      <span>1,120円</span>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- shops info -->
      <section class="shops-information">
        <div class="l-container">
          <div class="subpage-inner">
            <div class="l-section-title">
              <%- include('/partials/heading', {
                modifier: 'heading-wrap-center heading-restaurant heading-shop-info',
                text: `Shop's Information`,
                subtextvg: 'breakfast-marcherant-shop-title',
                altSubtextvg: '店舗情報'
              }) %>
            </div>
    
            <table class="table">
              <tbody>
                <tr class="table-row">
                  <th class="table-head">場所</th>
                  <td class="table-col">ホテルツインリンク１階　<br class="u-show-sp"/><a class="link" href="/map_m/">> Mapを見る</a></td>
                </tr>
                <tr class="table-row">
                  <th class="table-head">ディナー　<br class="u-show-sp"/>営業時間</th>
                  <td class="table-col">
                    17：30~21：00（L.O.20：30）<br/>
                    ※ディナーセットはご宿泊のお客さま限定、またディナービュッフェを開催しない平日がセットメニューとなります。詳しい日程は<a class="link" href="/hoteltwinring/calendar/index.html">こちら</a>をご確認ください。
                  </td>
                </tr>
                <tr class="table-row">
                  <th class="table-head">定休日
                  </th>
                  <td class="table-col"><a class="link" href="/hours_m/">ツインリンクもてぎの休業日</a>に準じます
                  </td>
                </tr>
                <tr class="table-row">
                  <th class="table-head">座席数</th>
                  <td class="table-col">254 ※個室は4部屋</td>
                </tr>
                <tr class="table-row">
                  <th class="table-head">備考</th>
                  <td class="table-col">
                    <p>※レース・イベント開催時は特別メニューになる場合がございます。</p>
                    <p>※メニューは仕入れ状況により異なる場合がございます。</p>
                    </td>
                </tr>
              </tbody>
            </table>

            <div class="shop-info-collapse">
              <div class="subpage-section subpage-section-collapse marcherant-collapse-section">
                <div class="subpage-collapse-heading js-collapse-button">お子さまのお誕生日や家族の記念日に<br>
                  アニバーサリーケーキのご注文について</div>
                <div class="subpage-collapse-description">
                  <div class="subpage-collapse-content marcherant-collapse-content">
                    <p class="text-center">
                      アニバーサリーケーキは、お電話にてご注文承ります｡<br/>
                      プレートのお名前は申し込み時にお知らせください。<br/>
                      <b>TEL0285-64-0489</b>
                      <!-- アニバーサリーケーキは、お電話にてご注文承ります｡<br> &lt;プレートのお名前は申し込み時にお知らせください&gt;<br><b>TEL 0285-64-0489　<br class="u-show-sp"> 受付時間 10:00～17:30</b> -->
                    </p>
                    <img class="collapse-banner" src="<%- mix('/assets/images/marcherant/collapse-banner-1.jpg') -%>" alt="">
    
                    <div class="grid-data">
                      <div class="row">
                        <div class="column" >
                          <div class="col-heading-green">苺サンドケーキ</div>
                          <div class="col-data">
                            13cm    2,650円<br>
                            15cm    2,960円<br>
                            18cm  	3,470円
                          </div>
                        </div>
                        <div class="column">
                          <div class="col-heading-green">チョコレートケーキ</div>
                          <div class="col-data">
                            18cm  	2,860円
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <p>
                      ※ディナー営業時間でのご提供となります。<br>
                      ※店内でお召し上がりいただきます。<br>
                      <!-- ※ご予約・キャンセルは、5日前まで承ります。4日前～当日：キャンセル料100%となります。 -->
                      ※ご予約・キャンセルは5日前まで承ります。4日前～当日はキャンセル料100%となります。
                    </p>
                  </div>
                </div>
              </div>

              <div class="subpage-section subpage-section-collapse marcherant-collapse-section">
                <div class="subpage-collapse-heading js-collapse-button">食物アレルギーをお持ちのお客様へ</div>
                <div class="subpage-collapse-description">
                  <div class="subpage-collapse-content marcherant-collapse-content">
                    <p class="text-center">
                      食物アレルギーをお持ちのお客さまは、ご予約時にお知らせください。<br/>
                      その場合、できる限りアレルゲンの除去に努めた料理を提供させて頂きますが、<br/>
                      アレルゲンの除去を保証するものではございませんのでご了承ください。
                      <!-- 食物アレルギー症状のある客様は、ご予約時にお知らせください。<br>
                      その場合、できる限りアレルゲンの除去に努めた料理を提供させて頂きますが、<br>
                      アレルゲンの除去を保証するものではございませんのでご了承ください。 -->
                    </p>
                    <p class="text-center"><b>対象</b></p>
                    <table class="table table-marcherant-collapse">
                      <tbody>
                        <tr class="table-row">
                          <th class="table-head">森のレストラン MARCHERANT</th>
                          <td class="table-col">
                            ・ランチ<br>
                            ・ディナーセット
                          </td>
                        </tr>
          
                        <tr class="table-row">
                          <th class="table-head">里山懐石　登谷</th>
                          <td class="table-col">
                            ・里山懐石コース<br>
                            ・お子様御膳<br>
                            ・幼児御膳
                          </td>
                        </tr>
          
                        <tr class="table-row">
                          <th class="table-head">森と星空の<br>
                            キャンプヴィレッジ</th>
                          <td class="table-col">
                            ・グランピング・ワイド森のテラス　スペシャルＢＢＱプラン<br>
                            ・らくらくBBQプラン
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p class="p-red">
                      また「森のレストラン MARCHERANT」の【ディナービュッフェ】【朝食ビュッフェ】では、特定原材料８品目（卵、乳、小麦、えび、かに、そば、落花生、大豆）の使用について店舗のメニュー表にて表示しております。これらは表示している特定原材料がその料理に使用されていることを明記したものであり、記載のない特定原材料がその料理に含まれていないことを保証するものではありません。
                      <!-- また、森のレストラン　MARCHERANTの「ディナービュッフェ」「朝食」におきましては、特定原材料８品目（卵、乳、小麦、えび、かに、そば、落花生、大豆）の使用について表示しております。これらは表示している特定原材料がその料理に使用されていることを明記したものであり、記載のない特定原材料がその料理に含まれていないことを保証するものではありません。 -->
                    </p>
                    <p class="">
                      アレルゲンの除去が保証されないとお困りのお客さまは、お客さまの安全を第一に考え、やむを得ず食事の提供をお断りすることがございます。 その場合ご自身での食事の持ち込みをお受けいたしますので、事前にお申し出ください。
                      <!-- アレルゲンの除去が保証されないとお困りのお客様におかれましては、お客様の安全を第一に考え、やむを得ず食事の提供をお断りすることがございます。
      その場合、御自身での食事の持ち込みをお受けいたしますので、事前にお申し出ください。 -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- restaurant menu -->
      <div class="other-menu">
        <div class="l-section-title u-show-pc">
          <%- include('/partials/heading', {
            modifier: 'heading-wrap-center heading-restaurant heading-other-menu',
            text: 'Other Menu',
            subtextvg: 'dinner-marcherant-other-menu-title',
            altSubtextvg: 'ディナーセット以外のメニュー'
          }) %>
        </div>

        <div class="l-section-title u-show-sp">
          <%- include('/partials/heading', {
            modifier: 'heading-wrap-center heading-restaurant heading-other-menu',
            text: 'Other Menu',
            subtextvg: 'dinner-marcherant-other-menu-title-sp',
            altSubtextvg: 'ディナーセット以外のメニュー'
          }) %>
        </div>

        <%- include('/partials/restaurant/section-menu-marcherant', {
          data: getData().data.dinnerMarcherantMenu
        }) -%>
      </div>

      <section class="toya-reservation">
        <div class="hoteltwinring-reservation">
          <div class="hotel-reservation-wrap">
            <div class="l-section-title">
              <%- include('/partials/heading', {
                modifier: 'hoteltwinring-heading-reservation fill-white',
                text: 'Reservation',
                alt: '',
                altSubtext: '',
                subtextvg: 'breakfast-marcherant-reservation-white',
                altSubtextvg: 'ご予約・お問い合わせ'
              }) %>
            </div>

            <div class="reservation-cta">
              <div class="l-button cta-btn">
                <span>ホテルツインリンクにご宿泊で <br/>
                  マルシェラン利用のお客様</span>
                <%- include('/partials/button', {
                  modifier: 'reservation-button',
                  text: 'ご予約はこちら',
                  link: 'https://asp.hotel-story.ne.jp/ver3d/planlist.asp?hcod1=61730&hcod2=001&c2plan=9001&clrmode=true',
                  newTab: true
                }) -%>
              </div>
              <div class="l-button cta-btn">
                <span>お問い合わせのお客様</span>
                <%- include('/partials/button', {
                  modifier: 'reservation-button',
                  text: '<span>Tel.0285-64-0489<br/><small>受付時間 10:00～17:30</small></span>',
                  link: 'tel:0285640489'
                }) -%>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- other restaurant module-->
      <%- include('/partials/restaurant/section-other-restaurant') -%>

    </main>
    <!-- END BOTTOM -->
  </div>
</div>

<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsMarcherantDinner
}) -%>
<%- include('/partials/footer', { pageId } ) -%>
