<div class="alt-feature row">
  <div class="alt-feature-image-wrapper">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/hellowoods/experience-img-1.png') %>" alt="森のクラフト体験">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/hellowoods/experience-img-1-sp.png') %>" alt="森のクラフト体験">
  </div>
  <div class="alt-feature-desc right">
    <div class="alt-feature-desc-wrapper">
      <img class="animal-icon owl u-show-pc" src="<%= mix('/assets/images/hellowoods/owl-icon.png') %>" alt="owl">
      <img class="animal-icon owl u-show-sp" src="<%= mix('/assets/images/hellowoods/owl-icon-sp.png') %>" alt="owl">
      <p class="media-title alt-feature-heading">
        <span class="media-title-text">森のクラフト</span>
      </p>
      <p class="alt-feature-desc-text">自分の想いをカタチにして、<br>
        世界に一つだけの作品作りにチャレンジしよう。
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: 'https://www.twinring.jp/hellowoods/program/craft.html'
        }) %>
      </div>
    </div>
  </div>
</div>

<div class="alt-feature row">
  <div class="alt-feature-image-wrapper  order-2">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/hellowoods/experience-img-2.png') %>" alt="予約制の体験プログラム">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/hellowoods/experience-img-2-sp.png') %>" alt="予約制の体験プログラム">
  </div>
  <div class="alt-feature-desc left">
    <div class="alt-feature-desc-wrapper">
      <img class="animal-icon rabbit u-show-pc" src="<%= mix('/assets/images/hellowoods/rabbit-icon.png') %>" alt="owl">
      <img class="animal-icon rabbit u-show-sp" src="<%= mix('/assets/images/hellowoods/rabbit-icon-sp.png') %>" alt="owl">
      <p class="media-title alt-feature-heading">
        <span class="media-title-text">予約制の体験プログラム</span>
      </p>
      <p class="alt-feature-desc-text">ホタル観察・キャンプ合宿・熱気球体験など<br>
        季節の特色を活かした様々なプログラムを体験しよう。        
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: 'https://www.twinring.jp/hellowoods/program/program.html'
        }) %>
      </div>
    </div>
  </div>


</div>