<div class="alt-feature row">
  <div class="alt-feature-image-wrapper">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/hellowoods/learn-img-1.png') %>" alt="森のファミリーウォークTEKUTEKU">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/hellowoods/learn-img-1-sp.png') %>" alt="森のファミリーウォークTEKUTEKU">
  </div>
  <div class="alt-feature-desc right">
    <div class="alt-feature-desc-wrapper new">
      <img class="animal-icon bird" src="<%= mix('/assets/images/hellowoods/bird-icon.png') %>" alt="owl">
      <p class="media-title alt-feature-heading">
        <span class="media-title-text">森のファミリーウォーク<br>
          TEKUTEKU</span>
      </p>
      <p class="alt-feature-desc-text">
        「遊ぶ」「くつろぐ」「撮る」「学ぶ」<br>
          を体験しながら、森をめぐる新アトラクション
      </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: '#'
        }) %>
      </div>
    </div>
  </div>
</div>

<div class="alt-feature row">
  <div class="alt-feature-image-wrapper  order-2">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/hellowoods/learn-img-2.png') %>" alt="森の散策プログラム">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/hellowoods/learn-img-2-sp.png') %>" alt="森の散策プログラム">
  </div>
  <div class="alt-feature-desc left">
    <div class="alt-feature-desc-wrapper">
      <img class="animal-icon rabbit u-show-pc" src="<%= mix('/assets/images/hellowoods/butterfly-icon.png') %>" alt="owl">
      <img class="animal-icon rabbit u-show-sp" src="<%= mix('/assets/images/hellowoods/butterfly-icon.png') %>" alt="owl">
      <p class="media-title alt-feature-heading">
        <span class="media-title-text">森の散策プログラム</span>
      </p>
      <p class="alt-feature-desc-text">澄んだ空気の気持ちいい森の中を、<br>
        家族でお散歩しよう。
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: 'https://www.twinring.jp/hellowoods/program/'
        }) %>
      </div>
    </div>
  </div>


</div>

<div class="alt-feature row">
  <div class="alt-feature-image-wrapper">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/hellowoods/learn-img-3.png') %>" alt="生きものの研究室">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/hellowoods/learn-img-3-sp.png') %>" alt="生きものの研究室">
  </div>
  <div class="alt-feature-desc right">
    <div class="alt-feature-desc-wrapper">
      <img class="animal-icon rabbit-right u-show-pc" src="<%= mix('/assets/images/hellowoods/squirrel-icon.png') %>" alt="Squirrel">
      <img class="animal-icon rabbit u-show-sp" src="<%= mix('/assets/images/hellowoods/squirrel-icon-sp.png') %>" alt="Squirrel">
      <p class="media-title alt-feature-heading">
        <span class="media-title-text">生きものの研究室</span>
      </p>
      <p class="alt-feature-desc-text">生きものたちの暮らしや不思議を<br>
        間近で観察しよう。
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: 'https://www.twinring.jp/hellowoods/program/#hydrobios'
        }) %>
      </div>
    </div>
  </div>
</div>