<div class="alt-feature row">
  <div class="alt-feature-image-wrapper">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/hellowoods/experience-img-1.png') %>" alt="Forest Craft">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/hellowoods/experience-img-1-sp.png') %>" alt="Forest Craft">
  </div>
  <div class="alt-feature-desc">
    <div class="alt-feature-desc-wrapper">
      <img class="animal-icon owl" src="<%= mix('/assets/images/hellowoods/owl-icon.png') %>" alt="owl">
      <p class="media-title alt-feature-heading">
        <span>森のクラフト体験</span>
      </p>
      <p class="alt-feature-desc">ノコギリやナタなど、<br>
        なかなか使うことのない道具を使って、<br>
        世界に一つだけの作品作りに挑戦しよう。
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: '#'
        }) %>
      </div>
    </div>
  </div>
</div>

<div class="alt-feature row">
  <div class="alt-feature-image-wrapper  order-2">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/hellowoods/experience-img-2.png') %>" alt="Forest Craft">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/hellowoods/experience-img-2-sp.png') %>" alt="Forest Craft">
  </div>
  <div class="alt-feature-desc">
    <div class="alt-feature-desc-wrapper">
      <img class="animal-icon rabbit" src="<%= mix('/assets/images/hellowoods/rabbit-icon.png') %>" alt="owl">
      <p class="media-title alt-feature-heading">
        <span>予約制の体験プログラム</span>
      </p>
      <p class="alt-feature-desc">四季を通して楽しんでいただける<br>
        ホタル観察・キャンプ・工芸体験など<br>
        様々な体験プログラムを用意しています。
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: '#'
        }) %>
      </div>
    </div>
  </div>


</div>