<div class="alt-feature row">
  <div class="col-lg-6 alt-feature-image-wrapper">
    <img class="alt-feature-image" src="<%= mix('/assets/images/hellowoods/learn-img-1.png') %>" alt="Forest Craft">
  </div>
  <div class="col-lg-6 alt-feature-desc">
    <div class="alt-feature-desc-wrapper">
      <img class="animal-icon bird" src="<%= mix('/assets/images/hellowoods/bird-icon.png') %>" alt="owl">
      <p class="media-title alt-feature-heading">
        <span>森のクラフト体験</span>
      </p>
      <p class="alt-feature-desc">ノコギリやナタなど、<br>
        なかなか使うことのない道具を使って、<br>
        世界に一つだけの作品作りに挑戦しよう。
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: '#'
        }) %>
      </div>
    </div>
  </div>
</div>

<div class="alt-feature row">
  <div class="col-lg-6 alt-feature-desc">
    <div class="alt-feature-desc-wrapper">
      <img class="animal-icon rabbit" src="<%= mix('/assets/images/hellowoods/rabbit-icon-2.png') %>" alt="owl">
      <p class="media-title alt-feature-heading">
        <span>森の研究室</span>
      </p>
      <p class="alt-feature-desc">森の生きものたちを楽しく学べる<br>
        「野生生物研究所」へようこそ。<br>
        生きものたちの暮らしや不思議を<br>
        間近で観察しよう。
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: '#'
        }) %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 alt-feature-image-wrapper">
    <img class="alt-feature-image" src="<%= mix('/assets/images/hellowoods/learn-img-2.png') %>" alt="Forest Craft">
  </div>

</div>