<div class="menu">
  <div class="heading-wrap heading-wrap-menu heading-wrap-center heading-gradient-tobottom">
    <div class="heading">
      <p class="heading-text">
        Menu
      </p>
      <h2 class="heading-subtext">
        <svg>
          <title>森のクラフトメニュー</title>
          <use xlink:href="<%= svgSprite( SPRITE_SVG , '#sprite-craft-menu-title') %>"></use>
        </svg>
      </h2>
    </div>
  </div>
  <ul class="menu-list">
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image01.jpg') %>);"></div>
        <h3 class="menu-list-title">バードコール</h3>
        <p class="menu-list-price">料金：550円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image02.jpg') %>);"></div>
        <h3 class="menu-list-title">森のパレット</h3>
        <p class="menu-list-price">料金：550円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image03.jpg') %>);"></div>
        <h3 class="menu-list-title">パチンコ</h3>
        <p class="menu-list-price">料金：700円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image04.jpg') %>);"></div>
        <h3 class="menu-list-title">ゴムてっぽう</h3>
        <p class="menu-list-price">料金：800円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image05.jpg') %>);"></div>
        <h3 class="menu-list-title">フォーミュラカー</h3>
        <p class="menu-list-price">料金：1,500円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image06.jpg') %>);"></div>
        <h3 class="menu-list-title">アニマルカー</h3>
        <p class="menu-list-price">料金：1,500円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image07.jpg') %>);"></div>
        <h3 class="menu-list-title">森のカレンダー</h3>
        <p class="menu-list-price">料金：800円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image08.jpg') %>);"></div>
        <h3 class="menu-list-title">じっくりつくる働く車</h3>
        <p class="menu-list-price">料金：800円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image09.jpg') %>);"></div>
        <h3 class="menu-list-title">フォトフレーム</h3>
        <p class="menu-list-price">料金：800円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image10.jpg') %>);"></div>
        <h3 class="menu-list-title">ルームプレート</h3>
        <p class="menu-list-price">料金：550円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image11.jpg') %>);"></div>
        <h3 class="menu-list-title">カブトムシ・クワガタカー</h3>
        <p class="menu-list-price">料金：550円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image12.jpg') %>);"></div>
        <h3 class="menu-list-title">カスタネット</h3>
        <p class="menu-list-price">料金：550円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image13.jpg') %>);"></div>
        <h3 class="menu-list-title">でんぐりカー</h3>
        <p class="menu-list-price">料金：550円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image14.jpg') %>);"></div>
        <h3 class="menu-list-title">キラキラストラップ</h3>
        <p class="menu-list-price">料金：550円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image15.jpg') %>);"></div>
        <h3 class="menu-list-title">森のメダル</h3>
        <p class="menu-list-price">料金：350円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image16.jpg') %>);"></div>
        <h3 class="menu-list-title">丸太のコースター</h3>
        <p class="menu-list-price">料金：350円</p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image17.jpg') %>);"></div>
        <h3 class="menu-list-title">鳥の巣箱</h3>
        <p class="menu-list-price">
          料金：1,500円 <br/>
          ※小鳥のオブジェ　追加の場合＋200円
        </p>
      </a>
    </li>
    <li class="menu-list-item">
      <a class="menu-list-link">
        <div class="menu-list-image" style="background-image:url(<%= mix('/assets/images/craft-menu/menu-image18.jpg') %>);"></div>
        <h3 class="menu-list-title">森のアクセサリー</h3>
        <p class="menu-list-price">
          料金：ウッドレジン　1,500円 <br/>
          ナチュラル　1,000円
        </p>
      </a>
    </li>
  </ul>
</div>