<div class="alt-feature row">
  <div class="alt-feature-image-wrapper">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/glamping-top/onsen.png') %>" alt="森のクラフト体験">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/glamping-top/onsen.png') %>" alt="森のクラフト体験">
  </div>
  <div class="alt-feature-desc right">
    <div class="alt-feature-desc-wrapper">
      <p class="media-title alt-feature-heading">
        <span class="media-title-text">のぞみの湯でリフレッシュ</span>
      </p>
      <p class="alt-feature-desc-text">森と星空のキャンプヴィレッジにご宿泊の方は<br>ホテルツインリンクの
        <br>「のぞみの湯」をご利用いただけます。
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: '/hoteltwinring/nozominoyu/'
        }) %>
      </div>
    </div>
  </div>
</div>

<div class="alt-feature row">
  <div class="alt-feature-image-wrapper  order-2">
    <img class="u-show-pc alt-feature-image" src="<%= mix('/assets/images/glamping-top/buffet.png') %>" alt="予約制の体験プログラム">
    <img class="u-show-sp alt-feature-image" src="<%= mix('/assets/images/glamping-top/buffet.png') %>" alt="予約制の体験プログラム">
  </div>
  <div class="alt-feature-desc left">
    <div class="alt-feature-desc-wrapper">
      <p class="media-title alt-feature-heading">
        <span class="media-title-text">朝食はホテルで<br>ゆっくりビュッフェ</span>
      </p>
      <p class="alt-feature-desc-text">BBQプランをご予約いただいた方は、<br class="disp-sp">朝食に「
        森のレストラン MARCHERANT」の<br>ビュッフェを楽しめます。      
        </p>
      <div class="l-button">
        <%- include('/partials/button', {
          modifier: 'button-hellowoods',
          text: 'もっと見る',
          link: '/foods_m/marcherant.html'
        }) %>
      </div>
    </div>
  </div>


</div>