<ul class="adventure-container adventure-container-hellowoods">
  <!-- Musasabi -->

  <li class="adventure-list ">
    <div class="adventure-bg" style="background-image: url(<%= mix('/assets/images/glamping-top/glamping-slide1.jpg') %>);">
    </div>

    <div class="l-adventure-sp-container">
      <div class="l-adventure hoteltwinring">
        <div class="l-section-title l-section-title-adventure hellowoods">
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'hellowoods-adventure-title hoteltwinring room-gran',
              text: '',
              alt: '',
              altSubtext: '',
              subtextvg: 'glamping-morino'
            }) %>
          </div>
          
          <div class="adventure-sub-heading"><%- include('/partials/heading', {
            modifier: 'room-type svg-block glamping-morino',
            subtextvg: 'glamping-morino-eng',
          }) %></div>
        </div>
        
        <p class="adventure-content-copy hoteltwinring">
          1日1組だけのプライベート空間で最上級のグランピング体験を。ホテルシェフがこだわり抜いた食材による贅沢なBBQも堪能できます。
        </p>

        <div class="l-button">
          <%- include('/partials/button', {
            modifier: 'button-adventure',
            text: 'もっと見る',
            link: '/f-glamping/stay/'
          }) %>
        </div>
      </div>
    </div>
  </li>
  <li class="adventure-list ">
    <div class="adventure-bg" style="background-image: url(<%= mix('/assets/images/glamping-top/glamping-slide2.jpg') %>);">
    </div>

    <div class="l-adventure-sp-container">
      <div class="l-adventure hoteltwinring">
        <div class="l-section-title l-section-title-adventure hellowoods">
          
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'hellowoods-adventure-title hoteltwinring room-superior',
              text: '',
              alt: '',
              altSubtext: '',
              subtextvg: 'glamping-wide'
            }) %>
          </div>
          
          <div class="adventure-sub-heading">
            <%- include('/partials/heading', {
              modifier: 'room-type svg-block room-superior',
              subtextvg: 'glamping-wide-eng',
            }) %>
          </div>

          
        </div>
        
        <p class="adventure-content-copy hoteltwinring">
          通常の2倍の敷地には広々とした庭と大きなテントがあります。<br>
          家族みんなが贅沢で快適なグランピング体験を楽しめます。
        </p>

        <div class="l-button">
          <%- include('/partials/button', {
            modifier: 'button-adventure',
            text: 'もっと見る',
            link: '/f-glamping/stay/'
          }) %>
        </div>
      </div>
    </div>
  </li>
  <li class="adventure-list ">
    <div class="adventure-bg" style="background-image: url(<%= mix('/assets/images/glamping-top/glamping-slide3.jpg') %>);">

    </div>

    <div class="l-adventure-sp-container">
      <div class="l-adventure hoteltwinring">
        <div class="l-section-title l-section-title-adventure hellowoods">
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'hellowoods-adventure-title hoteltwinring room-standard',
              text: '',
              alt: '',
              altSubtext: '',
              subtextvg: 'glamping-site'
            }) %>
          </div>
          
          <div class="adventure-sub-heading">
            <%- include('/partials/heading', {
            modifier: 'room-type svg-block svg-subtext room-standard',
            subtextvg: 'glamping-site-eng',
          }) %>
        </div>
        </div>
        
        <p class="adventure-content-copy hoteltwinring">
          はじめてのグランピング体験におすすめ。小さなお子さま連れの家族や、大切な人と2人でゆったりとくつろぐことができます。
        </p>

        <div class="l-button">
          <%- include('/partials/button', {
            modifier: 'button-adventure room-standard',
            text: 'もっと見る',
            link: '/hoteltwinring/standardroom/'
          }) %>
        </div>
      </div>
    </div>
  </li>
  <li class="adventure-list ">
    <div class="adventure-bg" style="background-image: url(<%= mix('/assets/images/glamping-top/log-cabin.jpg') %>);">

    </div>

    <div class="l-adventure-sp-container">
      <div class="l-adventure hoteltwinring">
        <div class="l-section-title l-section-title-adventure hellowoods">
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'hellowoods-adventure-title hoteltwinring room-standard',
              text: '',
              alt: '',
              altSubtext: '',
              subtextvg: 'glamping-log-cabin'
            }) %>
          </div>
          
          <div class="adventure-sub-heading">
            <%- include('/partials/heading', {
            modifier: 'room-type svg-block svg-subtext room-standard',
            subtextvg: 'glamping-log-cabin-eng',
          }) %>
        </div>
        </div>
        
        <p class="adventure-content-copy hoteltwinring">
          森の中で家族みんなが快適に過ごせるエアコン完備のログキャビン。ホテルシェフ監修のこだわり<br>
          BBQプランもあるので初心者でも優雅なアウトドア体験を味わえます。
        </p>

        <div class="l-button">
          <%- include('/partials/button', {
            modifier: 'button-adventure room-standard',
            text: 'もっと見る',
            link: '/f-glamping/logcabinandcamp/#logcabin-pc'
          }) %>
        </div>
      </div>
    </div>
  </li>
  <li class="adventure-list ">
    <div class="adventure-bg" style="background-image: url(<%= mix('/assets/images/glamping-top/camp.png') %>);">

    </div>

    <div class="l-adventure-sp-container">
      <div class="l-adventure hoteltwinring">
        <div class="l-section-title l-section-title-adventure hellowoods">
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'hellowoods-adventure-title hoteltwinring room-standard',
              text: '',
              alt: '',
              altSubtext: '',
              subtextvg: 'glamping-camp'
            }) %>
          </div>
          
          <div class="adventure-sub-heading">
            <%- include('/partials/heading', {
            modifier: 'room-type svg-block svg-subtext room-standard',
            subtextvg: 'glamping-camp-eng',
          }) %>
        </div>
        </div>
        
        <p class="adventure-content-copy hoteltwinring">
          広大な森とレーシングコースを一望しながら、優雅な気分でゆったりとした時間をお過ごしください。
        </p>

        <div class="l-button">
          <%- include('/partials/button', {
            modifier: 'button-adventure room-standard',
            text: 'もっと見る',
            link: '/f-glamping/logcabinandcamp/#camp-pc'
          }) %>
        </div>
      </div>
    </div>
  </li>
</ul>
