<%
  var title = '森のジップライン ムササビ｜森の自然体験ミュージアムハローウッズ｜ツインリンクもてぎ';
  pageId = 'musasabi';
%>
<%- include('/partials/head', { pageId, title }) -%>

<div class="subpage subpage-musasabi">
  <div class="mv mv-subpage mv-musasabi">
    <ul class="mv-list">
      <li class="mv-item">
        <div class="u-show-pc mv-image" style="background-image:url(<%= mix('/assets/images/musasabi/mv-img.png') %>);"></div>
        <div class="u-show-sp mv-image" style="background-image:url(<%= mix('/assets/images/musasabi/mv-img-sp.png') %>);"></div>
        <h2 class="u-show-sp mv-heading">
          <span class="mv-heading-texts">

          </span>
        </h2>
      </li>
    </ul>

    <div class="l-container mv-container u-show-pc ">
      <h2 class="mv-heading hellowoods-mv-heading">
        <%- include('/partials/heading', {
          modifier: 'heading-musasabi',
          text: 'Musasabi Forest Zipline',
          alt: '',
          subtextvg: 'musasabi-main-title',
          altSubtext: ''
        }) %>
      </h2>

      <div class="mv-today mv-logo mv-logo-musasabi">
        <div class="mv-l-inner">
        </div>
      </div>
    </div>
  </div>

  <main>
    <div class="subpage-inner-wrap">
      <div class="subpage-inner subpage-inner-musasabi">
        <div class="heading-wrap heading-main heading-main-musasabi">
          <h2 class="heading">
            <span class="heading-texts">
              <img class="u-show-pc" src="<%= mix('/assets/images/musasabi/musasabi-color-title-updated.png') %>" alt="ガイドと一緒に 森を巡るガイドツアー式 ジップライン">
              <img class="u-show-sp" src="<%= mix('/assets/images/musasabi/musasabi-color-title-updated-sp.png') %>" alt="ガイドと一緒に 森を巡るガイドツアー式 ジップライン">
            </span>
          </h2>
        </div>

        <div class="subpage-banner subpage-banner-musasabi">
          <div class="subpage-banner-inner">
            <img src="<%= mix('/assets/images/musasabi/musasabi-attraction-information.png') %>" alt="アトラクション情報">
          </div>
        </div>

        <h3 class="subpage-title subpage-title-musasabi">
          <span>アトラクション情報</span>
        </h3>

        <p>
          森の中をガイドが案内しながら、木と木の間をムササビのように飛び回るジップライン。生きものの目線に近づいて、植物を身近に感じながら自然の面白さを見つけよう。
        </p>

        <table class="table">
          <tbody>
            <tr class="table-row">
              <th class="table-head">場所</th>
              <td class="table-col">
                ハローウッズ内
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">所要時間</th>
              <td class="table-col">
                約90分（受付は営業終了90分前まで。定員になり次第受付を終了します。日没時間・天候により受付終了時間が早まる場合がございます。）
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-head">雨天の運行</th>
              <td class="table-col">天候などによって安全が確保できないと判断した場合は、運行を中止いたします</td>
            </tr>

            <tr class="table-row">
              <th class="table-head">対象者</th>
              <td class="table-col">小学4年生以上</td>
            </tr>
            <tr class="table-row">
              <th class="table-head">身長制限</th>
              <td class="table-col">身長135cm以上 体重100kg以下</td>
            </tr>
            <tr class="table-row">
              <th class="table-head">料金</th>
              <td class="table-col">モビパークパスポート対象外<br/>2,200円</td>
            </tr>
            <tr class="table-row">
              <th class="table-head">受付方法について</th>
              <td class="table-col">
                ・森のジップライン ムササビは当日予約制です。ハローウッズインフォメーションにて受付を行ってください。<br/>
                　※受付の際、利用制限を確認いたします。利用希望者様ご本人が受付にお越しください。<br/>
                　※未成年の方は保護者の同意署名が必要です。（保護者となる方は成人（20歳以上）の方に限ります。）<br/>
                ・定員に達し次第、受付を終了いたします。
              </td>
            </tr>
          </tbody>
        </table>

        <div class="subpage-section subpage-section-collapse">
          <div class="subpage-collapse-heading js-collapse-button">ご利用にあたって</div>
          <div class="subpage-collapse-description">
            <div class="subpage-collapse-content">
              <p>ご利用制限：</p>
              <p>【1】小学4年生以上、身長135cm以上 体重100kg以下のすべての要件を満たす方</p>
              <p>※小学生2名につき保護者（成人）1名以上の同伴参加（有料）が必要です。</p>
              <p>【2】ハーネスが正しく（フィットした状態で）装着できる方</p>
              <p>【3】身体・健康上の不安のない方</p>
              <p>飲酒されている方、妊娠中の方、心疾患をお持ちの方、体調不良の方、健康上不安のある方はご利用いただけません。</p>
              <p>【4】事前説明・同意書にご同意いただける方</p>
              <p>※参加者が未成年（20歳未満）の場合は、保護者（成人）の署名が必要です。</p>
              <p>【5】聴覚障がいや視覚障がいなど、お身体の不自由な方は、ご利用いただけない場合がございます。</p>
              <br>
              <p>注意事項</p>
              <p>【1】ルールを守らない場合は重大事故となる可能性がありますので、必ずスタッフの指示に従ってください。</p>
              <p>安全管理上、スタッフが危険と判断した場合はご利用を中止していただく場合があります。</p>
              <p>【2】全員がセーフティブリーフィングを受けていただきます。</p>
              <p>自ら安全確保ができない方、保護者の方で同伴者の行動に注意を払えない方、行動の結果が予測できない方、予測できても自分で対処できない方は、ご利用を中止していただく場合があります。</p>
              <p>【3】動きやすい服装や靴を履いてご利用ください。</p>
              <p>・サンダル／ハイヒール・・・貸靴をご利用ください。</p>
              <p>・スカート・・・貸ズボンをご利用ください。</p>
              <p>※貸靴・貸ズボンは無料でご利用いただけます。</p>
              <p>【4】以下の物はロッカー（無料）にお預けください。</p>
              <p>・両手がふさがる手荷物・貴重品</p>
              <p>【5】ジップラインを滑りながらの写真・動画撮影は禁止とさせていただきます。</p>
              <p>【6】ご利用に際して発生したお客様の衣類・履物・装飾品・携帯品の落下、汚損、紛失、故障について、施設側は責任を負いません。</p>
              <p>【7】ご利用の際に装着する器具類については、スタッフの指示どおり正しく装着してください。</p>
              <br>
              <p>返金について：</p>
              <p>参加者の理由による途中リタイヤおよび、上記注意事項をお守りいただけず、利用中止とする場合は返金いたしません。</p>
              <p>悪天候などの理由により、運行中止となる場合は、ご利用状況によって一部もしくは全額返金させていただきます。</p>
              <p>※返金の対象は森のメガジップライン ムササビのご利用料金のみとし、入場料・駐車料などの払い戻しは行ないません。</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <section class="subpage-section subpage-section-video subpage-section-video-musasabi">
      <div class="subpage-section-video-inner">
        <div class="l-section-title">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-wrap-video-musasabi u-show-pc',
            text: 'Musasabi Videos',
            alt: '',
            altSubtext: '',
            subtextvg: 'musasabi-videos-title'
          }) %>
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-wrap-video-musasabi u-show-sp',
            text: 'Musasabi Videos',
            alt: '',
            altSubtext: '',
            subtextvg: 'musasabi-videos-title-sp'
          }) %>
        </div>

        <div class="subpage-section-video-wrapper">
          <iframe class="video-border" width="760" height="430" src="https://www.youtube.com/embed/Jxao8GHXegA?start=7" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </section>

    <!-- <section class="subpage-section subpage-section-howto subpage-section-howto-musasabi">
      <div class="subpage-section-howto-inner">
        <div class="l-section-title">
          <%#- include('/partials/heading', {
          modifier: 'heading-gradient-tobottom heading-howto-musasabi',
          text: 'Flow to Play',
          alt: '',
          altSubtext: '',
          subtextvg: 'trial-title'
          }) %>
        </div>
        <div class="steps-list-wrapper">
          <%#- include('/partials/steps', {
          dataSteps: getData().data.stepsMusasabi
          }) -%>
        </div>
      </div>
    </section> -->

    <section class="subpage-section subpage-section-faq">
      <section class="faq faq-musasabi l-section">
        <%- include('/partials/accordion', {
          dataAccordion: getData().data.accordionMusasabi
        }) -%>
      </section>
    </section>

    <!-- BOTTOM -->

    <!-- <div class="call-to-action call-to-action-musasabi">
      <div class="l-container">
        <div class="call-to-action-wrapper">
          <div class="call-to-action-inner">
            <div class="l-section-title">
              <%#- include('/partials/heading', {
                modifier: 'heading-banner-more heading-banner-more-musasabi',
                imgPath: mix('/assets/images/deb-den/osanpo-enjoy-more-title.png'),
                alt: '森のジップライン ムササビを<br>もっと楽しむ',
                altSubtext: '',
                subtextvg: ''
              }) %>
            </div>
            <div class="call-to-action-description">
              <p class="call-to-action-description-text">
                こだわりポイントや、<br>知っているともっと楽しくなる情報はこちら！
              </p>
            </div>
            <div class="l-button l-button-call-to-action">
              <%#- include('/partials/button', {
                'modifier': 'button-acro-x',
                'text': 'もっと見る',
                'link': '#'
              }) %>
            </div>
            <span class="call-to-action-dot call-to-action-dot-1">
              <img src="<%#- mix('/assets/images/musasabi/bubble-1.png')%> ">
            </span>
            <span class="call-to-action-dot call-to-action-dot-2">
              <img src="<%#- mix('/assets/images/musasabi/bubble-2.png')%> ">
            </span>
            <span class="call-to-action-dot call-to-action-dot-3">
              <img src="<%#- mix('/assets/images/musasabi/bubble-4.png')%> ">
            </span>
            <span class="call-to-action-dot call-to-action-dot-4">
              <img src="<%#- mix('/assets/images/musasabi/bubble-3.png')%> ">
            </span>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="subpage-button">
      <a class="subpage-button-link" href="#">
        <span>キャスト・スタッフ紹介</span>
      </a>
    </div> -->

    <section class="subpage-section subpage-section-comparison subpage-section-comparison-musasabi l-section">
      <div class="l-section-title u-show-pc">
        <%- include('/partials/heading', {
          modifier: 'heading-gradient-tobottom heading-comparison',
          text: 'Comparison',
          alt: '',
          altSubtext: '',
          subtextvg: 'tsubasa-comparison-title'
        }) %>
      </div>
      <div class="l-section-title u-show-sp">
        <%- include('/partials/heading', {
          modifier: 'heading-gradient-tobottom heading-comparison heading-comparison-musasabi',
          text: 'Comparison',
          alt: '',
          altSubtext: '',
          subtextvg: 'musasabi-comparison-title-sp'
        }) %>
      </div>

      <div class="comparison">
        <div class="comparison-inner">
          <div class="comparison-row">
            <div class="comparison-col">
              <!-- mid -->
            </div>
            <div class="comparison-col">
              <img class="comparison-img-1" src="<%= mix('/assets/images/tsubasa/compare-1.png') %>" alt="メガジップラインつばさ">
              <img src="<%= mix('/assets/images/tsubasa/zipline-1.png') %>" alt="メガジップラインつばさ">
            </div>
            <div class="comparison-col">
              <img class="comparison-img-2" src="<%= mix('/assets/images/tsubasa/compare-2.png') %>" alt="森のジップラインムササビ">
              <img src="<%= mix('/assets/images/tsubasa/zipline-2.png') %>" alt="森のジップラインムササビ">
            </div>
          </div>

          <div class="comparison-row">
            <div class="comparison-col">
              <!-- <p>特徴</p> -->
            </div>
            <div class="comparison-col">
              <ul>
                <li>森からサーキットへ大空を羽ばたく、全長５６１ｍの空中散歩！</li>
              </ul>
            </div>
            <div class="comparison-col">
              <ul>
                <li>ガイドが案内しながら森を飛びまわる自然観察ツアー！</li>
              </ul>
            </div>
          </div>

          <div class="comparison-row">
            <div class="comparison-col">
              <p>こんな方に<br>おすすめ</p>
            </div>
            <div class="comparison-col">
              <ul>
                <li>・ジップライン初心者の方</li>
                <li>・大空に飛び出して壮大な空中散歩を楽しみたい方</li>
              </ul>
            </div>
            <div class="comparison-col">
              <ul>
                <li>・ガイドから森のことをじっくり聞きたい方</li>
                <li>・家族や仲間と一緒に森の冒険を楽しみたい方</li>
              </ul>
            </div>
          </div>

          <div class="comparison-row">
            <div class="comparison-col">
              <p>ジップライン数</p>
            </div>
            <div class="comparison-col">
              <p>2本（343mと218m）</p>
            </div>
            <div class="comparison-col">
              <p>6本（全長620m） ※最長は133m</p>
            </div>
          </div>

          <div class="comparison-row">
            <div class="comparison-col">
              <p>ガイド</p>
            </div>
            <div class="comparison-col">
              <p>なし</p>
            </div>
            <div class="comparison-col">
              <p>あり</p>
            </div>
          </div>

          <div class="comparison-row">
            <div class="comparison-col">
              <p>体験時間</p>
            </div>
            <div class="comparison-col">
              <p>約30分</p>
            </div>
            <div class="comparison-col">
              <p>約90分</p>
            </div>
          </div>

          <div class="comparison-row">
            <div class="comparison-col">
              <p>料金</p>
            </div>
            <div class="comparison-col">
              <span class="comparison-label comparison-label-green">モビパークパスポート対象</span>
              <p>1,400円/ 1名</p>
            </div>
            <div class="comparison-col">
              <span class="comparison-label comparison-label-grey">モビパークパスポート対象外</span>
              <p>2,200円/ 1名</p>
            </div>
          </div>

          <div class="comparison-row">
            <div class="comparison-col">
              <p>ご利用制限</p>
              <span>※詳細なご利用条件は<br />各アトラクションペー<br />ジをご覧ください</span>
            </div>
            <div class="comparison-col">
              <p>体重35kg以上～90kg以下</p>
            </div>
            <div class="comparison-col">
              <ol>
                <li>1. 小学校4年生以上</li>
                <li>2. 身長135cm以上</li>
                <li>3. 体重～100kg以下</li>
                <li>1. 2. 3. 全ての条件を満たす方</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="comparison-btn comparison-btn-musasabi">
          <%- include('/partials/button', {
            modifier: 'button-comparison',
            text: 'つばさの<br />詳細を見る',
            link: 'https://www.twinring.jp/hellowoods/zip-line/tsubasa/'
          }) %>
        </div>
      </div>
    </section>

    <!-- recommendation module -->
    <%- include('/partials/recommendation') -%>

    <!-- pick up module -->
    <%- include('/partials/pickup') -%>
    <!-- END BOTTOM -->
  </main>
</div>

<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsMusasabi
}) -%>

<%- include('/partials/footer', { pageId } ) -%>
