<%
  var title = 'Twin Ring Motegi'
  SPRITE_SVG = '/assets/svg/sprite.svg';
%>

<% include('/partials/data/index') %>
<%- include('/partials/head', { title }) -%>

<% pageId = 'mobipark-subpage'; %>

<main class="l-main">
  <div class="subpage">
    <div class="mv mv-subpage">
      <ul class="mv-list">
        <li class="mv-item">
          <div class="mv-image u-show-pc" style="background-image:url(<%= mix('/assets/images/challenge/mv-img.jpg') %>);"></div>

          <div class="mv-image u-show-sp" style="background-image:url(<%= mix('/assets/images/challenge/mv-img-sp.jpg') %>);"></div>
        </li>
      </ul>

      <h1 class="u-title-hidden">
        チャレンジカート
      </h1>
    </div>

    <div class="subpage-inner">
      <div class="heading-wrap heading-main heading-main-challenge">
        <h2 class="heading">
          <span class="u-title-hidden">Challenge Cart</span>
          <span class="heading-texts">
            <img class="u-show-pc" src="<%= mix('/assets/images/challenge/challenge-color-title.png') %>" alt="">

            <img class="u-show-sp" src="<%= mix('/assets/images/challenge/challenge-color-title-sp.png') %>" alt="">
          </span>
        </h2>
      </div>

      <!-- YOUTUBE -->
      <div class="subpage-banner">
        <div class="subpage-banner-inner">
          <img src="<%= mix('/assets/images/challenge/subpage-banner.jpg') %>" alt="">
        </div>
      </div>

      <h3 class="subpage-title">
        <span>アトラクション情報</span>
      </h3>

      <p>ドリフトS／ドリームカートからステップアップする方、中学生以上の方、運転免許証を持っていない方におススメ。ルール・マナーを守り且つ基準タイムをクリアして、レーシングカートに乗れるBライセンスのゲットを目指そう。</p>

      <table class="table">
        <tbody>
          <tr class="table-row">
            <th class="table-head">場所</th>
            <td class="table-col">モビパーク内レーシングカート</td>
          </tr>

          <tr class="table-row">
            <th class="table-head">所要時間</th>
            <td class="table-col">
              説明10分、走行時間8分間の20分程度。<br />
              通常、12：00〜13：00に営業（〜12：00予約受付）しています。※1
            </td>
          </tr>

          <tr class="table-row">
            <th class="table-head">雨天の運行</th>
            <td class="table-col">
              雨天中止。※２
            </td>
          </tr>

          <tr class="table-row">
            <th class="table-head">対象者</th>
            <td class="table-col">
              小学4年生以上の方で、ドリームカートまたはドリフトSを体験された方、もしくは中学生以上の方
            </td>
          </tr>

          <tr class="table-row">
            <th class="table-head">身長制限</th>
            <td class="table-col">
            140cm以上※3
            </td>
          </tr>

          <tr class="table-row">
            <th class="table-head">料金</th>
            <td class="table-col">
              モビパークパスポートなし<br />
              アトラクションチケット利用、現金お支払い：800円
            </td>
          </tr>

          <tr class="table-row">
            <th class="table-head">ご利用にあたって</th>
            <td class="table-col">
              服装について：<br />
              ヘルメット、グローブを貸与します（女性専用ヘルメットおよびグローブがございます。※数に限りがございます。）。半そで・半ズボン・スカートの場合は腕カバー・貸し出し用ズボンを装着していただきます。履物はできるだけ運転しやすい運動靴やスニーカーでお越しください。<br />
              ※1　受付時間について：<br />
              チャレンジカートは当日予約制となっております。定員16名／1回（1日1回～2回程度開催）。<br />当日レーシングカートのコントロールタワーにてお申し込みください。定員になり次第、受付終了となります。営業時間および定員は月間スケジュールをご覧ください。<br />
              ※2 雨天時の営業について：<br />
              荒天や降雪などの悪天候時、スタッフが危険と判断した場合、営業中止、または復旧まで一時営業を見合わせる場合がございます。路面が濡れている場合も中止といたします。<br />
              ※3　身長140cm未満の方：<br />
              チャレンジカートでは遊ぶことができません。ドリームカート、ドリフトSをご利用ください。<br />
              注意事項：<br />
              ・いずれかの条件を満たしている方がご利用可能となります。<br />
              【1】身長が140cm以上ある中学生以上の方<br />
              【2】身長が140cm以上ある小学4年生以上の方で、ドリームカートまたはドリフトSを体験された方<br />
              ・チャレンジカートをご利用の際には、走行前の事前説明と誓約書の内容にご同意いただく必要がございます。<br />
              ※未成年の方、学生の方は、ご本人様＋親権者、または法定代理人の直筆の署名が必要となります。<br />
              ・誓約書に本人と親権者または成人（20歳以上）の方の署名が必要となります。<br />
              ※初めて乗る方や、カートライセンス（Dライセンス以上）をお持ちでない方は、走行前ブリーフィングが必要となります。<br />
              講習走行を行い、ルール、マナー、運転操作に問題が無い場合Bライセンス（有料：300円）を作成できます。<br />
              基準タイムをクリアできなくてもルール、マナー、運転操作に問題が無ければCライセンス（有料：300円）を作成できます。
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <section class="subpage-section subpage-section-howto">
      <div class="subpage-section-howto-inner">
        <div class="l-section-title">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-howto heading-howto-challenge u-show-pc',
            text: 'How to Enjoy',
            alt: '',
            subtextvg: 'challenge-enjoy-point-title',
            altSubtext: '',
          }) %>

          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-howto heading-howto-challenge u-show-sp',
            text: 'How to Enjoy',
            alt: '',
            subtextvg: 'challenge-enjoy-point-title-sp',
            altSubtext: '',
          }) %>
        </div>

        <div class="how-to-content">
          <div class="media media-subpage u-clear">
            <div class="media-left">
              <div class="media-bg">
                <div class="media-thumb">
                  <div style="background-image: url(<%= mix('/assets/images/challenge/enjoy1.jpg') %>);"></div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <h4 class="media-title">
                <span>本格的なカートアトラクションで<br />ステップアップを目指せ！</span>
              </h4>
              <p class="media-desc u-show-pc">
                目指すのはワンランク上にあるレーシングカート。<br />車の免許がなくても１４０ｃｍ以上あればOK！<br />まずは気軽に腕試し！
              </p>
              <p class="media-desc u-show-sp">
                目指すのはワンランク上にあるレーシングカート。車の免許がなくても１４０ｃｍ以上あればOK！まずは気軽に腕試し！
              </p>

            </div>
          </div>
          <div class="media media-subpage u-clear">
            <div class="media-left">
              <div class="media-bg">
                <div class="media-thumb">
                  <div style="background-image: url(<%= mix('/assets/images/challenge/enjoy2.jpg') %>);"></div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <h4 class="media-title">
                <span>
                  全長381ｍのロングコースに挑む！
                </span>
              </h4>
              <p class="media-desc">
                1周381mの専用コースを３周タイムアタック。通常のアトラクションとは一味違うスピードを体感！
              </p>


            </div>
          </div>
          <div class="media media-subpage u-clear">
            <div class="media-left">
              <div class="media-bg">
                <div class="media-thumb">
                  <div style="background-image: url(<%= mix('/assets/images/challenge/enjoy3.jpg') %>);"></div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <h4 class="media-title">
                <span>基準タイムをクリアして<br />ステップアップの頂点へ！</span>
              </h4>
              <p class="media-desc u-show-pc">
                基準タイムをクリアして大人と同じステージへ。<br />
                プロでも乗りこなすのが難しい<br />
                ハイパワーのレーシングカートに挑戦しよう！
              </p>
              <p class="media-desc u-show-sp">
                基準タイムをクリアして大人と同じステージへ。プロでも乗りこなすのが難しいハイパワーのレーシングカートに挑戦しよう！
              </p>


            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="subpage-secion subpage-section-course">
      <div class="subpage-section-inner">
        <div class="l-section-title">
          <%- include('/partials/heading', {
            modifier: 'heading-gradient-tobottom heading-course-challenge',
            text: 'Course',
            alt: '',
            subtextvg: 'challenge-field-title',
            altSubtext: '',
          }) %>
        </div>

        <div class="kart-course kart-list-course">
          <div class="kart-course-item">
            <div class="kart-course-thumb">
              <div class="kart-course-thumb-img" style="background-image: url(<%= mix('/assets/images/challenge/course1.jpg') %>);"></div>
            </div>

            <div class="kart-course-content">

              <h3 class="kart-course-content-title">
                <span>チャレンジカートコース</span>
              </h3>

              <div class="kart-course-content-desc">
                <p>
                  全長381mのチャレンジカート専用コースを走行します。<br />
                  1周目は練習走行を行い、その後タイムアタック走行を3周行います。
                </p>
              </div>
            </div>
          </div>

          <div class="kart-course-item">
            <div class="kart-course-thumb">
              <div class="kart-course-thumb-img" style="background-image: url(<%= mix('/assets/images/challenge/course2.jpg') %>);"></div>
            </div>

            <div class="kart-course-content">
              <h3 class="kart-course-content-title">
                <span>レースフラッグ</span>
              </h3>

              <div class="kart-course-content-desc">
                <p>
                  レース中には、実際の競技レースと同じ用に<br />
                  フラッグによる指示が出されます。<br />
                  フラッグによる指示にしたがって、他の車両と接触したり、<br />
                  違反や失格とならないようにしながら、<br />
                  本格レースを楽しみましょう。
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="subpage-secion subpage-section-kart">
      <div class="l-section-title">
        <%- include('/partials/heading', {
          modifier: 'heading-gradient-tobottom heading-kart-challenge u-show-pc',
          text: '',
          alt: '',
          subtextvg: 'takuma-kids-title',
          altSubtext: '',
        }) %>

        <%- include('/partials/heading', {
          modifier: 'heading-gradient-tobottom heading-kart-challenge u-show-sp',
          imgPath: mix('/assets/images/challenge/challenge-takuma-title.png'),
          text: '',
          alt: '',
          subtextvg: '',
          altSubtext: '',
        }) %>
      </div>
      <div class="subpage-section-inner">
        <p class="kart-txt u-show-pc">
          今年もいよいよ「TAKUMA KIDS KART CHALLENGE」が、７月７日(土)より始まります！<br />
          FINAL出場に向けてタイムトライアルにチャレンジしてみませんか？<br />
          12月開催の最終FINALに進めば、佐藤琢磨選手に直接指導を受けられます！
        </p>

        <p class="kart-txt u-show-sp">
          今年もいよいよ「TAKUMA KIDS KART CHALLENGE」が、<br />７月７日(土)より始まります！<br />FINAL出場に向けてタイムトライアルに<br />チャレンジしてみませんか？<br />12月開催の最終FINALに進めば、<br />佐藤琢磨選手に直接指導を受けられます！<br />これからカートを始めたいお子様も、<br />経験のあるお子様も、<br />みなさんのチャレンジ待っています！
        </p>

        <div class="kart-challenge">
          <div class="kart-challenge-thumb">
            <img src="<%= mix('/assets/images/challenge/kart-challenge.jpg'); %>" alt="">
          </div>

          <div class="kart-challenge-content">
            <ul class="kart-list kart-list-challenge">
              <li class="kart-item">
                <span class="kart-sched">日程</span>
                <p>
                  7月7日(土)、21日(土)<br />
                  8月4日(土)、18日(土)<br />
                  9月1日(土)、15日(土)、29日(土)
                </p>
              </li>
              <li class="kart-item">
                <span class="kart-sched">受付時間</span>
                <p>OPEN ～ 14:30</p>
              </li>
              <li class="kart-item">
                <span class="kart-sched">走行時間</span>
                <p>14:00 〜 15:00</p>
              </li>
              <li class="kart-item">
                <span class="kart-sched">参加資格</span>
                <p>チャレンジカートの条件を満たした小学校6年生までの方</p>
              </li>
            </ul>

            <%- include('/partials/button', {
              modifier: 'button-kart',
              text: '特設サイトもっとみる',
              link: '#'
            }) %>
          </div>
        </div>
      </div>
    </section>

    <section class="faq l-section">
      <%- include('/partials/accordion', {
        dataAccordion: getData().data.accordionChallenge
      }) -%>
    </section>


    <!-- BOTTOM -->

    <div class="call-to-action">
      <div class="l-container">
        <div class="call-to-action-wrapper">
          <div class="call-to-action-inner">
            <%- include('/partials/heading', {
              modifier: 'heading-banner-more heading-banner-more-challenge',
              text: '',
              imgPath: mix('/assets/images/challenge/enjoy-kart-more-title.png'),
              alt: '',
              subtextvg: '',
              altSubtext: ''
            }) %>
            <div class="call-to-action-description">
              <p class="call-to-action-description-text u-show-pc">
                こだわりポイントや、<br />知っているともっと楽しくなる情報はこちら！
              </p>
              <p class="call-to-action-description-text u-show-sp">
                こだわりポイントや、<br />知っているともっと<br />楽しくなる情報はこちら！
              </p>
            </div>
            <div class="l-button l-button-call-to-action">
              <%- include('/partials/button', {
                modifier: 'button-banner-more',
                text: 'もっと見る',
                'link': '#'
              }) %>
            </div>
            <span class="call-to-action-dot call-to-action-dot-1">
              <img src="<%- mix('/assets/images/banner-dot-1.png')%> ">
            </span>
            <span class="call-to-action-dot call-to-action-dot-2">
              <img src="<%- mix('/assets/images/banner-dot-2.png')%> ">
            </span>
            <span class="call-to-action-dot call-to-action-dot-3">
              <img src="<%- mix('/assets/images/banner-dot-3.png')%> ">
            </span>
            <span class="call-to-action-dot call-to-action-dot-4">
              <img src="<%- mix('/assets/images/banner-dot-4.png')%> ">
            </span>
          </div>
        </div>
      </div>
    </div>

    <%- include('/partials/banner-cta', {
      link: 'https://www.twinring.jp/mobipark_m/card/',
      imgPath: mix('/assets/images/subpage-banner-bottom.png')
    }) -%>

    <%- include('/partials/recommendation') -%>

    <%- include('/partials/pickup') -%>

    <!-- END BOTTOM -->
  </div>
</main>


<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsChallenge
}) -%>

<%- include('/partials/footer', {pageId}) -%>
