<%
  var title = 'Twin Ring Motegi';
  pageId = 'granroom';
%>
<%- include('/partials/data/index') -%>
<%- include('/partials/head', { pageId, title }) -%>

<div class="lig-content">
  <div class="subpage subpage-hotel granroom-wrapper">
    <div class="mv mv-subpage-labo mv-subpage-granroom">
      <div class="mv-buttons">
        <ul class="mv-buttons-list">
          <li class="mv-buttons-item">
            <a class="mv-buttons-link" href="/fee_m/">
              <span>ご予約</span>
            </a>
          </li>
        </ul>
      </div>

      <ul class="mv-list">
        <li class="mv-item">
          <div class="u-show-pc mv-image" style="background-image:url(<%= mix('/assets/images/granroom/mv-img.jpg') %>);"></div>
          <div class="u-show-sp mv-image" style="background-image:url(<%= mix('/assets/images/granroom/mv-img.jpg') %>);"></div>
        </li>
      </ul>

      <div class="l-container mv-container">
        <h1 class="mv-heading hellowoods-mv-heading granroom-mv-heading">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods',
            heading_level: 1,
            text: 'Gran Room',
            alt: '',
            subtextvg: 'granroom-main-title',
            altSubtext: ''
          }) %>
        </h1>

        <div class="u-show-pc mv-today mv-log mv-granroom-logo">
          <div class="mv-l-inner">
          </div>
        </div>
      </div>
    </div>

    <main>
      
      <div class="l-section-title u-show-pc">
        <%- include('/partials/heading', {
          modifier: 'heading-main heading-main-subpage heading-main-subpage-granroom',
          subtextvg: 'granroom-maintitle',
          altSubtextvg: '木の温もりを感じる ３室限定の特別なお部屋'
        }); -%>
      </div>
      
      <div class="l-section-title u-show-sp">
        <%- include('/partials/heading', {
          modifier: 'heading-main heading-main-subpage heading-main-subpage-granroom',
          subtextvg: 'granroom-main-title-sp',
          altSubtextvg: '木の温もりを感じる ３室限定の特別なお部屋'
        }); -%>
      </div>

      <section class="subpage-section subpage-section-roomdetails subpage-section-aqua-labo">
        <div class="subpage-inner">

          <div class="subpage-image-gallery subpage-image-gallery-roomdetails">
            <div class="swiper-container slider-gallery js-gallery">
              <div class="swiper-wrapper">
                <div class="swiper-slide slider-item">
                  <div class="slider-gallery-img" style="background-image:url(<%- mix('/assets/images/granroom/granroom-banner.jpg') -%>)"></div>
                </div>
                <div class="swiper-slide slider-item">
                  <div class="slider-gallery-img" style="background-image:url(<%- mix('/assets/images/granroom/granroom-banner.jpg') -%>)"></div>
                </div>
              </div>
            </div>

            <div class="swiper-container slider-gallery-thumb js-gallery-thumb">
              <div class="swiper-wrapper">
                <div class="swiper-slide slider-item">
                  <div class="slider-gallery-thumb-img" style="background-image:url(<%- mix('/assets/images/granroom/granroom-banner.jpg') -%>)"></div>
                </div>
                <div class="swiper-slide slider-item">
                  <div class="slider-gallery-thumb-img" style="background-image:url(<%- mix('/assets/images/granroom/granroom-banner.jpg') -%>)"></div>
                </div>
              </div>
            </div>
          </div>

          <p class="subpage-desc u-show-pc">
            通常の2倍ある広々とした部屋には幅4mのワイドベッドをはじめロッキングチェア、ハンモックが設けられ、心地よい木の香りに包まれながら森の中のようにリラックスしてお過ごしいただけます。
          </p>

          <h3 class="subpage-title">
            <span class="u-show-pc">客室詳細</span>
            <span class="u-show-sp">アトラクション情報</span>
          </h3>

          <p class="subpage-desc u-show-sp">
            通常の2倍ある広々とした部屋には幅4mのワイドベッドをはじめロッキングチェア、ハンモックが設けられ、心地よい木の香りに包まれながら森の中のようにリラックスしてお過ごしいただけます。
          </p>

          <table class="table">
            <tbody>

              <tr class="table-row">
                <th class="table-head">ルームタイプ</th>
                <td class="table-col">
                  3室、広さ69m² ･ 床面フローリング（定員4〜6名）、禁煙
                  <br/>
                  <a class="u-show-pc" href="javascript:;">> 間取りを見る</a>
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">ベッド</th>
                <td class="table-col">
                  キングサイズベッド(幅2040mm)×2台 <br/>
                  ※5名～6名利用時は、エキストラベッドを2台まで追加可能（有料）

                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">展望</th>
                <td class="table-col">
                  レーシングコースを見渡せるサーキットビュー
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">客室設備</th>
                <td class="table-col">
                  エアコン／浴室／ウォシュレット機能付トイレ／冷蔵庫／TV(BS視聴可）／ヘアドライヤー／電気ケトル／セーフティボックス／加湿空気清浄機／電話／無料Wi-fi／禁煙ルーム
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">アメニティ</th>
                <td class="table-col">
                  作務衣（ルームウェア）／スリッパ／バスタオル／フェイスタオル／石鹸／シャンプー／リンス／ボディーソープ／歯ブラシ／カミソリ／ヘアブラシ／コットンセット／綿棒／クレンジング／洗顔料／化粧水／乳液
                </td>
              </tr>

              <tr class="table-row">
                <th class="table-head">お子様向け<br/>
                  アメニティ</th>
                <td class="table-col">
                  オリジナル歯ブラシ／歯磨き粉（いちご味）／オリジナルスポンジ／作務衣（ルームウェア）／スリッパ
                </td>
              </tr>
              
            </tbody>
          </table>

        </div>
      </section>

      <section class="subpage-section subpage-section-usagefee subpage-section-aqua-labo">
        <div class="subpage-inner">
      
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'heading-main heading-main-subpage heading-main-subpage-nogradient-onecolor heading-main-subpage-usagefee',
              subtextvg: 'granroom-usagefee-subtitle',
              altSubtextvg: 'ご利用料金'
            }); -%>
          </div>

          <h3 class="subpage-title">
            <span>ルームチャージ（4名利用のみ）</span>
          </h3>

          <p class="u-show-sp">
            <strong>
              １〜4名ご利用
            </strong>
          </p>

          <table class="table table-solid u-show-sp">
            <tbody>
              <tr class="table-row table-row-solid">
                <th class="table-head">平日</th>
                <td class="table-col">34,600円～</td>
              </tr>
              <tr class="table-row">
                <th class="table-head">休前日</th>
                <td class="table-col">52,900円～</td>
              </tr>
              <tr class="table-row table-row-last">
                <th class="table-head">GW・夏休み <br/>
                  など　</th>
                <td class="table-col">62,100円〜</td>
              </tr>
            </tbody>
          </table>

          <p class="u-show-sp">
            <strong>
              6名利用 （エキストラベ ッド2台利用）
            </strong>
          </p>

          <table class="table table-solid u-show-sp">
            <tbody>
              <tr class="table-row table-row-solid">
                <th class="table-head">平日</th>
                <td class="table-col">48,200円</td>
              </tr>
              <tr class="table-row">
                <th class="table-head">休前日</th>
                <td class="table-col">66,500円～</td>
              </tr>
              <tr class="table-row table-row-last">
                <th class="table-head">GW・夏休み <br/>
                  など　</th>
                <td class="table-col">75,700円〜</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-solid u-show-pc">
            <tbody>

              <tr class="table-row table-row-solid">
                <th class="table-head">ご利用人数</th>
                <th class="table-col">平日</th>
                <th class="table-col">休前日</th>
                <th class="table-col">GW・夏休みなど</th>
              </tr>

              <tr class="table-row">
                <th class="table-head">１〜4名</th>
                <td class="table-col">
                  34,600円～
                </td>
                <td class="table-col">
                  52,900円～
                </td>
                <td class="table-col">
                  62,100円～
                </td>
              </tr>

              <tr class="table-row table-row-last">
                <th class="table-head">6名利用
                  <small class="col-small">（エキストラベッド2台利用）</small></th>
                <td class="table-col">
                  48,200円～
                </td>
                <td class="table-col">
                  66,500円～
                </td>
                <td class="table-col">
                  75,700円～
                </td>
              </tr>
              
            </tbody>
          </table>

          <small class="important-note important-note-left u-show-pc">※1室最大6名様まで利用可。幼児は添い寝無料。人数・エキストラベッドの利用台数により料金が異なります。</small>

          <small class="important-note important-note-left u-show-sp">※1室最大4名まで利用可。<br/>
            　幼児（0歳～未就学児）は添い寝無料。<br/>
            ※ご宿泊人数により料金が異なります。</small>

        </div>
      </section>

      <section class="subpage-section subpage-section-amenity subpage-section-aqua-labo">
        <div class="subpage-inner">
      
          <div class="l-section-title u-show-pc">
            <%- include('/partials/heading', {
              modifier: 'heading-main heading-main-subpage heading-main-subpage-amenity',
              text: `Amenity`,
              altSubtext: ``,
              subtextvg: `amenity-subtitle`,
              altSubtextvg: `Amenity`
            }); -%>
          </div>
      
          <div class="l-section-title u-show-sp">
            <%- include('/partials/heading', {
              modifier: 'heading-main heading-main-subpage heading-main-subpage-amenity',
              text: `Amenity`,
              altSubtext: ``,
              subtextvg: `amenity-subtitle`,
              altSubtextvg: `Amenity`
            }); -%>
          </div>
          
          <p class="hotel-subtext">
            <span class="u-show-pc">
              グランルームだけに特別にご提供する、<br/>
              森を感じさせるとっておきのアメニティをご用意しました。
            </span>
            <span class="u-show-sp">
              グランルームだけに特別にご提供する、
              森を感じさせるとっておきのアメニティをご用意しました。
            </span>
          </p>
          
          <div class="media-grid">

            <div class="media-grid-item">
              <div class="media-grid-img">
                <img src="<%- mix('/assets/images/granroom/amenity-img1.jpg') -%>" alt="KOTOHA with yuica
                クロモジの香りアメニティ">
              </div>

              <h3 class="media-grid-title subpage-title">
                <span class="u-show-pc">
                  KOTOHA with yuica <br/>
                  クロモジの香りアメニティ
                </span>
                <span class="u-show-sp">
                  KOTOHA with yuica
                  クロモジの香りアメニティ
                </span>
              </h3>

              <p class="media-grid-desc">
                日本の森の馨りをコンセプトにしたシャンプー・コンディショナー・ボディソープは、オーガニックを越える森の力が秘められたクロモジの精油と日本の天然素材を配合。心安らぐクロモジの香りに包まれ、洗うたびに香りの森林浴をお楽しみいただけます。
              </p>
            </div>

            <div class="media-grid-item">
              <div class="media-grid-img">
                <img src="<%- mix('/assets/images/granroom/amenity-img2.jpg') -%>" alt="老舗メーカーの高級タオル">
              </div>

              <h3 class="media-grid-title subpage-title">
                <span>
                  老舗メーカーの高級タオル
                </span>
              </h3>

              <p class="media-grid-desc">
                ボリューム感、ホテルの質感、老舗メーカー正岡タオルのこだわりが生んだ高級タオル。パイルに高級綿を使用。吸水性も良く柔らかい肌触りがやさしく包んでくれる心地よさを感じさせます。
              </p>
            </div>

          </div>

        </div>
      </section>

      <section class="subpage-section subpage-section-teatime subpage-section-aqua-labo">
        <div class="subpage-inner">
      
          <div class="l-section-title u-show-pc">
            <%- include('/partials/heading', {
              modifier: 'heading-main heading-main-subpage heading-main-subpage-teatime',
              text: `Teatime`,
              altSubtext: ``,
              subtextvg: `granroom-teatime-subtitle`,
              altSubtextvg: `Teatime`
            }); -%>
          </div>
      
          <div class="l-section-title u-show-sp">
            <%- include('/partials/heading', {
              modifier: 'heading-main heading-main-subpage heading-main-subpage-teatime',
              text: `Teatime`,
              altSubtext: ``,
              subtextvg: `granroom-teatime-subtitle`,
              altSubtextvg: `Teatime`
            }); -%>
          </div>

          <div class="media-list media-list-teatime">

              <div class="media-list-item media-list-item-teatime">
                <div class="media-list-thumb" style="background-image: url('<%- mix('/assets/images/granroom/teatime-img1.jpg') -%>');"></div>
                <div class="media-list-text">
                  <h3 class="subpage-title">
                    <span class="">
                      道の駅もてぎ<br/>
                      「バウム工房 ゆずの木」のバウムクーヘン
                    </span>
                  </h3>
                  <p>
                    自家製粉した茂木産コシヒカリ100%の「生の米粉」を使用。芳醇な米粉の香り、しっとりとした舌触りをご賞味ください。
                  </p>
                </div>
              </div>

              <div class="media-list-item media-list-item-teatime">
                <div class="media-list-thumb" style="background-image: url('<%- mix('/assets/images/granroom/teatime-img2.jpg') -%>');"></div>
                <div class="media-list-text">
                  <h3 class="subpage-title">
                    <span class="u-show-pc">
                      益子焼のカップで味わう<br/>
                      「宇都宮中島園」のゆず抹茶
                    </span>
                    <span class="u-show-sp">
                      益子焼のカップで味わう<br/>
                      「宇都宮中島園」のゆず抹茶
                    </span>
                  </h3>
                  <p>
                    香りの高い宇都宮市産「宮ゆず」を使用。国産のくき茶・抹茶、無添加・無着色の天然素材を使用しています。
                  </p>
                </div>
              </div>

              <div class="media-list-item media-list-item-teatime">
                <div class="media-list-thumb" style="background-image: url('<%- mix('/assets/images/granroom/teatime-img3.jpg') -%>');"></div>
                <div class="media-list-text">
                  <h3 class="subpage-title">
                    <span class="u-show-pc">
                      那須の自家焙煎珈琲の店<br/>
                      「おひさま堂」のコーヒー
                    </span>
                    <span class="u-show-sp">
                      那須の自家焙煎珈琲の店
                      「おひさま堂」のコーヒー
                    </span>
                  </h3>
                  <p>
                    珈琲豆の新鮮さにとことんこだわった生豆を一つ一つ丁寧に自家焙煎したこだわりの那須ブランド限定珈琲をお楽しみください。
                  </p>
                </div>
              </div>

          </div>

        </div>
      </section>

      <section class="subpage-section subpage-section-granroomactivity subpage-section-aqua-labo">
        <div class="subpage-inner">
      
          <div class="l-section-title u-show-pc">
            <%- include('/partials/heading', {
              modifier: 'heading-main heading-main-subpage heading-main-subpage-granroomactivity heading-main-subpage-granroomactivity-onecolor',
              text: `Activity`,
              altSubtext: ``,
              subtextvg: `granroom-activity-subtitle`,
              altSubtextvg: `Activity`
            }); -%>
          </div>
      
          <div class="l-section-title u-show-sp">
            <%- include('/partials/heading', {
              modifier: 'heading-main heading-main-subpage heading-main-subpage-granroomactivity heading-main-subpage-granroomactivity-onecolor',
              text: `Activity`,
              altSubtext: ``,
              subtextvg: `granroom-activity-subtitle-sp`,
              altSubtextvg: `Activity`
            }); -%>
          </div>

          <p class="subpage-desc u-show-pc">
            グランルームにご宿泊の方にだけ、特別な体験プログラムをご用意しました。<br/>
            ※要予約。開催日程は決まり次第掲載いたします。
          </p>

          <p class="subpage-desc u-show-sp">
            グランルームにご宿泊の方にだけ、<br/>
            特別な体験プログラムをご用意しました。<br/>
            ※要予約。開催日程は決まり次第掲載いたします。
          </p>

          <div class="media-list">

              <div class="media-list-item">
                <div class="media-list-thumb" style="background-image: url('<%- mix('/assets/images/granroom/activity-img1.jpg') -%>');"></div>
                <div class="media-list-text">
                  <h3 class="subpage-title">
                    <span class="u-show-pc">
                      サーキットの夜空に輝く<br/>
                      星空鑑賞ツアー
                    </span>
                    <span class="u-show-sp">
                      サーキットの夜空に輝く
                      星空鑑賞ツアー
                    </span>
                  </h3>
                  <p>
                    ツインリンクもてぎの国際レーシングコースは夜になると満天の星に包まれます。星の輝きを遮る明かりが何もない最高の観測スポットへご案内します。星座早見表や天体望遠鏡を使って肉眼では見えない季節の星座をお楽しみいただけます。
                  </p>
                </div>
              </div>

              <div class="media-list-item">
                <div class="media-list-thumb" style="background-image: url('<%- mix('/assets/images/granroom/activity-img2.jpg') -%>');"></div>
                <div class="media-list-text">
                  <h3 class="subpage-title">
                    <span class="u-show-pc">森のレストランMARCHERANT <br/>
                    石窯ピザ焼　シェフ体験
                    </span>
                    <span class="u-show-sp">
                      森のレストランMARCHERANT
                      石窯ピザ焼　シェフ体験
                    </span>
                  </h3>
                  <p>
                    食べることを五感で味わうをコンセプトにした「森のレストランMARCHERANT」こだわりの石窯を使ったピザ焼シェフ体験ができます。コックコートを着て真剣にチャレンジするお子様の姿は特別な想い出となるでしょう。
                  </p>
                </div>
              </div>

              <div class="media-list-item">
                <div class="media-list-thumb" style="background-image: url('<%- mix('/assets/images/granroom/activity-img3.jpg') -%>');"></div>
                <div class="media-list-text">
                  <h3 class="subpage-title">
                    <span class="u-show-pc">
                      マクラーレン ホンダ MP4/5 <br/>
                      （1989年） コクピット乗車体験
                    </span>
                    <span class="u-show-sp">
                      マクラーレン ホンダ MP4/5
                      （1989年） コクピット乗車体験
                    </span>
                  </h3>
                  <p>
                    マクラーレン ホンダ MP4/5（1989年）のコクピットに乗って記念写真が撮れる特別プログラムです。
                  </p>
                </div>
              </div>

          </div>

          <small class="important-note important-note-granroomactivity important-note-center u-show-pc">その他、各季節ごとに様々なアクティビティがございます。</small>

          <small class="important-note important-note-granroomactivity important-note-center u-show-sp">※その他、シーズンにより開催する<br/>
            アクティビティがございます。</small>

        </div>
      </section>

      <section class="subpage-section subpage-section-otherroom subpage-section-aqua-labo">
        <div class="subpage-inner">
      
          <div class="l-section-title">
            <%- include('/partials/heading', {
              modifier: 'heading-main heading-main-subpage heading-main-subpage-other',
              text: `Other rooms`,
              altSubtext: ``,
              subtextvg: `granroom-other-subtitle`,
              altSubtextvg: `Other rooms`
            }); -%>
          </div>
          
          <div class="media-grid">

            <div class="media-grid-item">
              <div class="media-grid-img media-grid-img-rounded u-show-pc" style="background-image: url(<%- mix('/assets/images/granroom/otherroom-img1.jpg') -%>);">
              </div>

              <div class="media-grid-img media-grid-img-rounded u-show-sp" style="background-image: url(<%- mix('/assets/images/granroom/otherroom-img1.jpg') -%>);">
              </div>

              <h3 class="media-grid-title subpage-title">
                <span>スーベニアファミリールーム
                </span>
              </h3>
              
            </div>

            <div class="media-grid-item">
              <div class="media-grid-img media-grid-img-rounded" style="background-image: url(<%- mix('/assets/images/granroom/otherroom-img2.jpg') -%>);">
              </div>

              <h3 class="media-grid-title subpage-title">
                <span>
                  スタンダードルーム
                </span>
              </h3>
              
            </div>

          </div>

        </div>
      </section>

      <!-- recommendation module -->
      <!-- <%- include('/partials/recommendation') -%> -->

      <!-- pick up module -->
      <!-- <%- include('/partials/pickup') -%> -->

    </main>
  </div>
</div>

<!-- BREADCRUMBS -->
<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsGranroom
}) -%>
<%- include('/partials/footer', { pageId }) -%>
