<%
var title = 'Twin Ring Motegi | 生きものの研究室';
pageId = 'nozominoyu';
%>

<%- include('/partials/data/index') -%>
<%- include('/partials/head', { pageId, title }) -%>

<div class="lig-content">
  <div class="subpage subpage-nozominoyu">
    <div class="mv mv-subpage mv-subpage-nozominoyu">
      <div class="mv-buttons">
        <ul class="mv-buttons-list">
          <li class="mv-buttons-item">
            <a class="mv-buttons-link" href="/hoteltwinring/information/index.html">
              <span>ご予約</span>
            </a>
          </li>
        </ul>
      </div>
      
      <ul class="mv-list">
        <li class="mv-item">
          <div class="mv-image mv-image-subpage u-show-pc" style="background-image:url(<%= mix('/assets/images/nozominoyu/nozominoyu-mv.jpg') %>);"></div>
          <div class="mv-image mv-image-subpage u-show-sp" style="background-image:url(<%= mix('/assets/images/nozominoyu/nozominoyu-mv-sp.jpg') %>);"></div>
        </li>
      </ul>
      <div class="l-container mv-container">
        <div class="mv-heading hellowoods-mv-heading granroom-mv-heading">
          <%- include('/partials/heading', {
            modifier: 'heading-hellowoods heading-nozominoyu-text',
            heading_level: 1,
            text: 'nozominoyu',
            subtextvg: 'nozominoyu-top-title'
          }) %>
        </div>

        <div class="u-show-pc mv-today mv-log mv-nozominoyu-logo">
          <div class="mv-l-inner">
          </div>
        </div>
      </div>
    </div>

    <div class="heading-wrap l-heading-main">
      <h2 class="heading heading-nozominoyu">
        <svg class="u-show-pc">
          <title>昼は広大な森とレーシングコース、 夜は満天の星をのぞむ癒しのひととき</title>
          <use xlink:href="<%= svgSprite( SPRITE_SVG , '#sprite-catch-copy') %>"></use>
        </svg>
        <svg class="u-show-sp">
          <title>昼は広大な森とレーシングコース、 夜は満天の星をのぞむ癒しのひととき</title>
          <use xlink:href="<%= svgSprite( SPRITE_SVG , '#sprite-catch-copy-sp') %>"></use>
        </svg>
      </h2>
    </div>
  
    <main> 
      <section class="l-section l-container-inner-nozominoyu">
        <div class="subpage-image-gallery subpage-image-gallery-nozominoyu">
          <div class="swiper-container slider-gallery slider-gallery-nozominoyu js-gallery">
            <div class="swiper-wrapper">
              <div class="swiper-slide slider-item">
                <div class="slider-gallery-img" style="background-image:url(<%- mix('/assets/images/nozominoyu/slider-1.jpg') -%>)"></div>
              </div>
              <div class="swiper-slide slider-item">
                <div class="slider-gallery-img" style="background-image:url(<%- mix('/assets/images/nozominoyu/slider-2.jpg') -%>)"></div>
              </div>
            </div>
          </div>

          <div class="swiper-container slider-gallery-thumb js-gallery-thumb">
            <div class="swiper-wrapper">
              <div class="swiper-slide slider-item">
                <div class="slider-gallery-thumb-img" style="background-image:url(<%- mix('/assets/images/nozominoyu/thumbnail-1.jpg') -%>)"></div>
              </div>
              <div class="swiper-slide slider-item">
                <div class="slider-gallery-thumb-img" style="background-image:url(<%- mix('/assets/images/nozominoyu/thumbnail-2.jpg') -%>)"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="l-container-inner">
          <p class="nozominoyu-paragraph">露天風呂では星空を眺めながらゆったりした時間を過ごし、内湯では浴槽全体が白くやわらかな感覚が特徴のシルキーバス<br>
            と疲れを癒すジェットバスの2種類のお風呂をお楽しみいただけます。</p>
          <p class="nozominoyu-paragraph nozominoyu-paragraph-note"> ※シルキーバスとジェットバスは時間帯により男女入替制となります。</p>
        </div>

      </section>

      <section class="nozominoyu-race">
        <div class="l-container-inner">
          <div class="nozominoyu-race-inner">
            <h3 class="nozominoyu-heading u-show-pc">
              <img src="<%= mix('/assets/images/nozominoyu/race-title.png') %>" alt="レジャー来場、レース観戦でものぞみの湯を楽しもう">
            </h3>
            <h3 class="nozominoyu-heading u-show-sp">
              <img src="<%= mix('/assets/images/nozominoyu/race-title-sp.png') %>" alt="レジャー来場、レース観戦でものぞみの湯を楽しもう">
            </h3>
            <p class="nozominoyu-paragraph nozominoyu-subheading">
              のぞみの湯はツインリンクもてぎ宿泊施設ご利用者以外の方も、<br class="u-show-pc">「日帰り入浴」としてご利用いただけます。
            </p>
            <div class="nozominoyu-article">
              <ul class="nozominoyu-article-list row">
                <li class="nozominoyu-article-list-item col-lg-4 col-md-4 col-sm-6">
                  <article class="nozominoyu-article-card">                    
                    <div class="nozominoyu-article-thumbnail" style="background-image:url(<%- mix('/assets/images/nozominoyu/attraction-image-1.jpg') -%>)"></div>
                    <p class="nozominoyu-article-title">アトラクションで遊んだあとに</p>                   
                  </article>
                </li>
                  <li class="nozominoyu-article-list-item col-lg-4 col-md-4 col-sm-6">
                  <article class="nozominoyu-article-card">
                    <div class="nozominoyu-article-thumbnail" style="background-image:url(<%- mix('/assets/images/nozominoyu/attraction-image-2.jpg') -%>)"></div>
                    <p class="nozominoyu-article-title">スポーツ走行のあとに</p>
                  </article>
                </li>
                  <li class="nozominoyu-article-list-item col-lg-4 col-md-4 col-sm-6">
                  <article class="nozominoyu-article-card">
                    <div class="nozominoyu-article-thumbnail" style="background-image:url(<%- mix('/assets/images/nozominoyu/attraction-image-3.jpg') -%>)"></div>
                    <p class="nozominoyu-article-title">レース観戦で<br>車中泊・キャンプの際に</p>
                  </article>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>  

      <section class="nozominoyu-summary">
        <div class="heading-wrap l-heading-main l-heading-main-nozominoyu-summary">
          <h2 class="heading heading-nozominoyu-summary">
            <svg>
              <title>昼は広大な森とレーシングコース、 夜は満天の星をのぞむ癒しのひととき</title>
              <use xlink:href="<%= svgSprite( SPRITE_SVG , '#sprite-summary') %>"></use>
            </svg>
          </h2>
        </div>
        <div class="nozominoyu-summary-inner">
          <div class="l-container-inner">
            <h3 class="nozominoyu-heading nozominoyu-time-table-heading">
              <img src="<%= mix('/assets/images/nozominoyu/time-title.png') %>" alt="受付時間">
            </h3>

            <div class="nozominoyu-time">
              <table class="nozominoyu-time-table u-show-pc">
                <tbody>
                  <tr>
                    <th class="nozominoyu-time-table-header">&nbsp</th>
                    <th class="nozominoyu-time-table-data nozominoyu-time-table-data-1">日帰り入浴</th>
                    <th class="nozominoyu-time-table-data nozominoyu-time-table-data-2">ホテル宿泊者</th>
                    <th class="nozominoyu-time-table-data nozominoyu-time-table-data-3">森と星空のキャンプ<br>ヴィレッジ宿泊者 （＊1）</th>
                  </tr>
                  <tr>
                    <th class="nozominoyu-time-table-header">時間</th>
                    <td class="nozominoyu-time-table-data nozominoyu-time-table-data-4">11：00～19：00<br>※受付は18:40まで</td>
                    <td class="nozominoyu-time-table-data nozominoyu-time-table-data-5">15：00～24：00、<br>翌朝6：00～9：30</td>
                    <td class="nozominoyu-time-table-data nozominoyu-time-table-data-6">15：00～22：00<br>翌朝6：00～9：30</td>
                  </tr>
                  <tr>
                    <th class="nozominoyu-time-table-header">受付</th>
                    <td class="nozominoyu-time-table-data nozominoyu-time-table-data-7">ロビーショップ<br>（ホテル1階）</td>
                    <td class="nozominoyu-time-table-data nozominoyu-time-table-data-8">受付なし</td>
                    <td class="nozominoyu-time-table-data nozominoyu-time-table-data-9">受付なし</td>
                  </tr>
                </tbody>
              </table>
              <!-- SP table -->
              <ul class="nozominoyu-time-table-list-sp u-show-sp">
                <li class="nozominoyu-time-table-list-item-sp">
                  <p class="nozominoyu-paragraph">日帰り入浴</p>
                  <table class="nozominoyu-time-table-sp">
                    <tbody>
                      <tr>
                        <th class="time-table-th-sp">時間</th>
                        <td>11：00～19：00 <br>※受付は18:40まで</td>
                      </tr>
                      <tr>
                        <th class="time-table-th-sp">受付</th>
                        <td>ロビーショップ<br>（ホテル1階）</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <li class="nozominoyu-time-table-list-item-sp">
                  <p class="nozominoyu-paragraph">ホテル宿泊者</p>
                  <table class="nozominoyu-time-table-sp">
                    <tbody>
                      <tr>
                        <th class="time-table-th-sp">時間</th>
                        <td>15：00～24：00、<br>翌朝6：00～9：30</td>
                      </tr>
                      <tr>
                        <th class="time-table-th-sp">受付</th>
                        <td>受付なし</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <li class="nozominoyu-time-table-list-item-sp">
                  <p class="nozominoyu-paragraph">森と星空のキャンプヴィレッジ宿泊者 （＊1）</p>
                  <table class="nozominoyu-time-table-sp">
                    <tbody>
                      <tr>
                        <th class="time-table-th-sp">時間</th>
                        <td>15：00～22：00<br>翌朝6：00～9：30</td>
                      </tr>
                      <tr>
                        <th class="time-table-th-sp">受付</th>
                        <td>受付なし</td>
                      </tr>
                    </tbody>
                  </table>
                </li> 
              </ul>
              <p class="nozominoyu-paragraph nozominoyu-paragraph-note nozominoyu-paragraph-note-table">（※１）一部レース・イベント開催日は、木もれ陽サイト・林間サイトにご宿泊のお客様はご利用できません。</p>      
            </div>


            <div class="nozominoyu-fee">
              <h3 class="nozominoyu-heading nozominoyu-fee-table-heading">
                <img src="<%= mix('/assets/images/nozominoyu/fee-title.png') %>" alt="ご利用料金">
              </h3>
              <table class="nozominoyu-time-table u-show-pc">
                <tbody>
                  <tr>
                    <th  class="nozominoyu-time-table-header">のぞみの湯利用料</th>
                    <th class="nozominoyu-time-table-data">日帰り入浴</th>
                    <th class="nozominoyu-time-table-data">ホテル宿泊者</th>
                    <th class="nozominoyu-time-table-data">森と星空のキャンプ<br>
                      ヴィレッジ宿泊者 （＊1）</th>
                  </tr>
                  <tr>
                    <th  class="nozominoyu-time-table-header">大人</th>
                    <td class="nozominoyu-time-table-data">700円</td>
                    <td class="nozominoyu-time-table-data" rowspan="3">チェックイン～<br>
                      チェックアウトまで無料</td>
                    <td class="nozominoyu-time-table-data" rowspan="3">チェックイン～<br>
                      チェックアウトまで無料</td>
                  </tr>
                  <tr>
                    <th class="nozominoyu-time-table-header">子ども<br>
                      （3歳～中学生）</th>
                    <td class="nozominoyu-time-table-data">400円</td>
                  </tr>
                  <tr>
                    <th  class="nozominoyu-time-table-header">幼児（3歳未満）</th>
                    <td class="nozominoyu-time-table-data">無料</td>
                  </tr>
                  <tr>
                    <th  class="nozominoyu-time-table-header">レンタルタオル</th>
                    <td class="nozominoyu-time-table-data">250円/枚</td>
                    <td class="nozominoyu-time-table-data" rowspan="2">ゲストルーム内の<br>
                      タオルを利用可</td>
                    <td class="nozominoyu-time-table-data">250円/枚</td>
                  </tr>
                  <tr>
                    <th  class="nozominoyu-time-table-header">フェイスタオル<br>（販売）</th>
                    <td class="nozominoyu-time-table-data">300円～350円</td>
                    <td class="nozominoyu-time-table-data">300円～350円</td>
                  </tr>
                </tbody>
              </table>
              <ul class="nozominoyu-fee-table-list-sp u-show-sp">
                <li class="nozominoyu-fee-table-list-sp">
                  <table class="nozominoyu-fee-table-sp">
                    <tbody>
                      <tr>
                        <th class="fee-table-th-sp">利用料</th>
                        <td>日帰り入浴</td>
                        <td>ホテル宿泊者</td>
                      </tr>
                      <tr>
                        <th class="fee-table-th-sp">大人</th>
                        <td>700円</td>
                        <td rowspan="3">チェックイン～<br>チェックアウト<br>まで無料</td>
                      </tr>
                      <tr>
                        <th class="fee-table-th-sp">子ども<br>（3歳&#126;中学生）</th>
                        <td>400円</td>
                      </tr>
                      <tr>
                        <th class="fee-table-th-sp">幼児(3歳未満)</th>
                        <td>無料</td>
                      </tr>
                      <tr>
                        <th class="fee-table-th-sp">レンタルタオル</th>
                        <td>250円</td>
                        <td rowspan="2">ゲストルーム内の<br>タオルを利用可</td>
                      </tr>
                      <tr>
                        <th class="fee-table-th-sp">フェイスタオル<br>（販売）</th>
                        <td>300円~350円</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <li class="nozominoyu-fee-table-list-sp">
                  <table class="nozominoyu-fee-table-sp">
                    <tbody>
                      <tr>
                        <th class="fee-table-th-sp">利用料</th>
                        <td>森と星空のキャンプヴィレッジ<br>宿泊者（＊1）</td>
                      </tr>
                      <tr>
                        <th class="fee-table-th-sp">大人</th>
                        <td rowspan="3">チェックイン～<br>チェックアウトまで無料</td>
                      </tr>
                      <tr>
                        <th class="fee-table-th-sp">子ども<br>（3歳&#126;中学生）</th>
                      </tr>
                      <tr>
                        <th class="fee-table-th-sp">幼児(3歳未満)</th>
                      </tr>
                      <tr>
                        <th class="fee-table-th-sp">レンタルタオル</th>
                        <td>250円</td>
                      </tr>
                      <tr>
                        <th class="fee-table-th-sp">フェイスタオル<br>(販売)</th>
                        <td>300円~350円</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
              </ul>
              <p class="nozominoyu-paragraph nozominoyu-paragraph-note nozominoyu-paragraph-note-table">（※１）一部レース・イベント開催日は、木もれ陽サイト・林間サイトにご宿泊のお客様はご利用できません。</p>      
            </div>

            <div class="nozominoyu-amenity">
              <h3 class="nozominoyu-heading nozominoyu-amenity-table-heading">
                <img src="<%= mix('/assets/images/nozominoyu/amenity-title.png') %>" alt="アメニティ＆設備（男女共通">
              </h3>
              <table class="nozominoyu-amenity-table u-show-pc">
                <tbody>
                  <tr>
                    <th class="time-table-th-sp">設備</th>
                    <th>アメニティ</th>
                  </tr>
                  <tr>
                    <td><span class="nozominoyu-amenity-td-inner">ロッカー/飲料用自動販売機/アメニティ用自動販<br>売機（歯ブラシ・カミソリ・フェイスタオル・男<br>性用肌着＆パンツ・女性用ショーツ）/お子さま用<br>バスチェア/オムツ交換台/体重計/ドライヤー</span></td>
                    <td><span class="nozominoyu-amenity-td-inner">シャンプー/リンス/ボディーソープ（ベビー用あ<br>り）/ヘアブラシ/綿棒/洗顔料/化粧水/乳液</span></td>
                  </tr>
                </tbody>
              </table>

              <table class="nozominoyu-amenity-table-sp u-show-sp">
                <tbody>
                  <tr>
                    <th class="amenity-table-th-sp">設備</th>
                    <td>
                      <span class="nozominoyu-amenity-td-inner-sp">ロッカー/飲料用自動販売機/アメニティ用自動販売機（歯ブラシ・カミソリ・フェイスタオル・男性用肌着＆パンツ・女性用ショーツ）/お子さま用バスチェア/オムツ交換台/体重計/ドライヤー</span>
                    </td> 
                  </tr>
                  <tr>
                    <th class="amenity-table-th-sp">アメニティ</th>
                    <td>
                    <span class="nozominoyu-amenity-td-inner-sp">シャンプー/リンス/ボディーソープ（ベビー用あり）/ヘアブラシ/綿棒/洗顔料/化粧水/乳液</span>
                    </td>
                  </tr>
                </tbody>
              </table>  
              <!-- <p class="nozominoyu-paragraph nozominoyu-paragraph-note u-show-pc">（※１）一部レース・イベント開催日は、木もれ陽サイト・林間サイトにご宿泊のお客様はご利用できません。</p>       -->
            </div>

          </div>
      </div>
      </section>
      <%- include('/partials/hotel-reservation') -%>
      <%- include('/partials/recommendation') -%>
      <%- include('/partials/pickup') -%>
    </main>
  </div>
</div>

<!-- BREADCRUMBS -->
<%- include('/partials/breadcrumbs', {
  breadcrumbs : getData().data.breadcrumbsNozominoyu
}) -%>

<%- include('/partials/footer', { pageId }) -%>
